@tailwind base;

html {
  @apply font-light;
}

.font-slab {
  font-family: 'Zilla Slab', serif;
}

h1 {
  @apply font-thin text-4xl;
}

h2 {
  @apply font-bold text-2xl;
}

h3 {
  @apply font-bold text-xl;
}

* + p, * + ul, * + ol, * + pre {
  @apply mt-4;
}

a {
  @apply font-semibold text-blue-400;
  text-decoration: underline;
}

strong {
  @apply font-bold;
}

.btn-shape {
  @apply font-bold py-2 px-4 border-b-4 rounded;
}

.green-btn {
  @apply btn-shape;
  @apply bg-green-500 text-white border-green-700;
}

.green-btn:hover {
  @apply bg-green-400 border-green-500;
}


/* Styles only for use in MarkDown blocks */
.markdown {
  @apply text-xl text-gray-800 leading-normal;
}

.markdown li + li, .markdown li > p + p {
  @apply my-2;
}
.markdown strong {
  @apply font-bold;
}
.markdown * + h1 {
  @apply leading-tight mb-2 mt-10;
}

h2 {
  @apply font-slab font-medium text-blue-500;
  @apply leading-tight text-2xl mb-2 mt-10;
}
h3 {
  @apply font-slab font-bold text-blue-700 italic;
  @apply leading-tight text-xl mt-8 mb-1;
}
code {
  @apply font-mono inline bg-gray-200 rounded py-1 px-2;
  @apply text-red-600;
}
.markdown code {
  @apply py-2 px-3 text-base;
}
pre {
  @apply block bg-gray-200 py-2 px-4 my-2 rounded text-base border-gray-300 border;
  @apply text-red-600;
}
pre code {
  padding: 0 !important;
}

.markdown blockquote {
  @apply border-l-4 border-gray-300 pl-4 italic;
}
.markdown ul, .markdown ol {
  @apply pl-5 list-disc;
}

@tailwind components;

@tailwind utilities;

.btn {
  @apply btn-shape;
  @apply bg-blue-500 text-white border-blue-700;
}

.btn:hover {
  @apply bg-blue-400 border-blue-500;
}

.menubar-btn {
  @apply text-white no-underline font-slab font-semibold border-b-4 tracking-wide text-xl px-4 py-3 mr-4;
}

.codebar-btn {
  @apply text-black no-underline border-white tracking-wide font-normal px-4 py-3 mr-4;
}

#output {
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.text-shadow {
  text-shadow: 0 2px 4px rgba(0,0,0,0.10);
}

.text-shadow-md {
  text-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.08);
}

.text-shadow-lg {
  text-shadow: 0 15px 30px rgba(0,0,0,0.11), 0 5px 15px rgba(0,0,0,0.08);
}

.text-shadow-none {
  text-shadow: none;
}
