{% extends "auth.html" %}
{% block regular_content %}
    <div class="flex flex-col px-4 md:px-16">
        {% from 'incl/breadcrumb.html' import breadcrumb %}
        {{ breadcrumb([{'label': _('classes')}]) }}
        <h1>{{ _('classes') }}</h1>
        <h2 class="my-5">{{_('active_classes')}}</h2>        
        {% if teacher_classes %}
            {{ render_partial('for-teachers/classes/htmx-classes-table.html', teacher_classes=teacher_classes) }}
        {% endif %}    
    </div>
{% endblock %}