{% extends "auth.html" %}
{% block regular_content %}
    <div class="flex flex-col px-4 md:px-16">
        {% from 'incl/breadcrumb.html' import breadcrumb %}
        {{ breadcrumb([{'label': _('classes')}]) }}
        <h1>{{ _('classes') }}</h1>
        <div id="classes_table_container">
            {{ render_partial('for-teachers/classes/htmx-classes-sections.html', active_classes=active_classes, archived_classes=archived_classes, class_customizations=class_customizations, last_content_version=last_content_version) }}
        </div>
    </div>
{% endblock %}