<tr>
    <td class="py-3 text-center font-medium">{{ class_info.teacher }}</td>
    <td class="py-3 text-center">{{ _('creator').lower() }}</td>
    <td class="px-4 py-3 text-center">--</td>
</tr>
{% for second_teacher in class_info.get('second_teachers', []) %}
<tr>
    <td class="py-3 text-center font-medium">{{ second_teacher.username }}</td>
    <td class="py-3 text-center">{{ second_teacher.role or _('teacher') }}</td>
    <td class="px-4 py-3 text-center">
        <button type="button" class="text-red-500" disabled>
            <i class="fa-solid fa-trash"></i>
        </button>
    </td>
</tr>
{% endfor %}
{% for invite in second_teacher_invites %}
<tr>
    <td class="py-3 text-center font-medium">{{ invite.username }}</td>
    <td class="py-3 text-center">{{ _('invited_on') }} {{ invite.timestamp }}</td>
    <td class="px-4 py-3 text-center">
          <a href="#" class="group inline-flex items-center gap-2 text-red-600 hover:text-red-700 rounded px-2 py-1 transition-transform transform hover:scale-105 duration-150"
              title="{{ _('delete') }}"
              onclick='hedyApp.remove_student_invite("{{ invite.username }}", "{{ class_info.id }}", {{_("delete_invite_prompt")|default(None)|tojson}})'>
                <i class="fa-solid fa-trash transition-transform duration-150 transform group-hover:-translate-y-0.5" aria-hidden="true"></i>
          </a>
    </td>
</tr>
{% endfor %}
