<div class="overflow-x-auto h-full" id="classes_table">
  <div class="w-full h-full mb-8">
    <div class="w-full h-full border rounded-lg shadow-md">
      <table class="w-full divide-y divide-gray-400">
        <thead class="bg-gray-200 divide-y divide-gray-400">
          <tr>
            <th class="py-3 px-4 text-center text-sm font-medium text-gray-700 uppercase tracking-wider rounded-t-lg">{{_('name')}}</th>
            <th class="py-3 px-4 text-center text-sm font-medium text-gray-700 uppercase tracking-wider">{{_('teacher')}}</th>
            <th class="py-3 px-4 text-center text-sm font-medium text-gray-700 uppercase tracking-wider">{{_('students')[0]|upper}}{{_('students')[1:]}}</th>
            <th class="py-3 px-4 text-center text-sm font-medium text-gray-700 uppercase tracking-wider">{{_('created')}}</th>
            <th class="py-3 px-4 text-center text-sm font-medium text-gray-700 uppercase tracking-wider rounded-t-lg">{{_('actions')}}</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          {% for class in teacher_classes %}
          <tr >
            <td class="text-center px-3 {% if loop.last %} rounded-b-lg {% endif %}">
              <a href="/for-teachers/redesign/class/{{class.id}}" class="view_class" data-cy="view_class_link">
                {{class.name|e}}
              </a>
            </td>
            <td data-cy="teacher_cell" class="py-3 text-center">{{class.teacher}}</td>
            <td class="text-center">{{ class.students|length }}</td>
            <td class="text-center">{{ class.date }}</td>
            <td class="text-center {% if loop.last %} rounded-b-lg {% endif %}">
              <div class="relative inline-block text-left" name="menu">
                <button class="blue-btn-new p-1.5 flex justify-center rounded-full"
                      _="on click
                        remove .menu-content-open from <div.menu:not(#menu-{{loop.index}})/>
                        add .hidden .menu-content-closed to <div.menu:not(#menu-{{loop.index}})/>
                        if #menu-{{loop.index}} matches .hidden
                          remove .hidden from #menu-{{loop.index}}
                          call hedyApp.positionContextMenu(me)
                          wait 10ms
                          toggle .menu-content-open .menu-content-closed on #menu-{{loop.index}}
                        else
                          toggle .menu-content-open .menu-content-closed on #menu-{{loop.index}}
                          wait 180ms
                          add .hidden to #menu-{{loop.index}}
                         "
                        >
                  <i class="fa-solid fa-ellipsis"></i>
                </button> 
                <div id="menu-{{loop.index}}" class="hidden z-30 menu origin-top-right absolute top-full right-0 mt-1 w-56 bg-white rounded-lg shadow-lg grid ring-1 ring-gray-200 menu-content-closed grow-0 ease-in transition-all duration-150">
                  <ul class="list-none divide-y divide-gray-200 p-2">
                    <a href="/for-teachers/redesign/class/{{class.id}}/grade" class="no-underline  text-blue-900">
                      <li class="px-6 py-3 hover:bg-gray-200 active:bg-gray-400 cursor-pointer rounded-t-lg  text-blue-900 ease-in transition duration-100">
                        <i class="fa-solid fa-circle-check text-sm"></i>
                        <span  class="m-3">{{_('grading')}}</span>
                      </li>
                    </a>
                    <a href="/for-teachers/redesign/class/{{class.id}}/configure" class="no-underline text-blue-900">
                      <li class="px-6 py-3 hover:bg-gray-200 active:bg-gray-400 cursor-pointer text-blue-900 ease-in transition duration-100 gap-4">
                        <i class="fa-solid fa-gears text-sm"></i>
                        <span class="m-3">{{_('configure')}}</span> 
                      </li>
                    </a>
                    <a class="no-underline text-blue-900" aria-disabled="true">
                      <li class="px-6 py-3 hover:bg-gray-200 active:bg-gray-400 cursor-pointer  text-blue-900 ease-in transition duration-100">
                        <i class="fa-solid fa-box-archive text-sm"></i> 
                        <span class="m-3">{{_('archive')}}</span>
                      </li>
                    </a>
                    <li class="rounded-b-lg">
                      <button
                        data-cy="remove_class"
                        data-confirm-modal="redesign"
                        data-confirm-button-class="red-btn-new"
                        data-confirm-button-label="{{_('delete')}}"
                        class="w-full text-left px-6 py-3 hover:bg-gray-200 active:bg-gray-400 cursor-pointer rounded-b-lg text-red-700 ease-in transition duration-100 font-bold"
                        hx-confirm="{{_('delete_class_prompt')}}"
                        hx-trigger="click"
                        hx-delete="/for-teachers/class/{{class.id}}"
                        hx-target="#classes_table"
                        hx-swap="outerHTML"
                      >
                        <i class="fa-solid fa-trash-can text-sm"></i>
                        <span class="m-3">{{_('delete')}}</span>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
      <a class="blue-btn-new inline-flex items-center mt-10"
          id="create_class_button"
          data-cy="create_class_button"
          href="/for-teachers/class/new"
        {% if second_teacher and role == 'viewer' %}disabled{% endif %}>{{_('create_class')}}
      </a>
  </div>
</div>
