{% set is_archived = is_archived|default(False) %}
<div class="overflow-x-auto overflow-y-visible h-full" id="classes_table">
  <div class="w-full h-full mb-8">
    <div class="w-full h-full border rounded-lg shadow-md">
      <table class="w-full divide-y divide-gray-400">
        <thead class="bg-gray-200 divide-y divide-gray-400">
          <tr>
            <th class="py-3 px-4 text-center text-sm font-medium text-gray-700 uppercase tracking-wider rounded-t-lg">{{_('name')}}</th>
            <th class="py-3 px-4 text-center text-sm font-medium text-gray-700 uppercase tracking-wider">{{_('students')[0]|upper}}{{_('students')[1:]}}</th>
            <th class="py-3 px-4 text-center text-sm font-medium text-gray-700 uppercase tracking-wider">{{_('created')}}</th>
            <th class="py-3 px-4 text-center text-sm font-medium text-gray-700 uppercase tracking-wider rounded-t-lg">{{_('actions')}}</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          {% for class in teacher_classes %}
          {% set menu_id = 'menu-' ~ ('archived-' if is_archived else 'active-') ~ class.id %}
          {% set class_is_updated = 'content_version' in (class_customizations|default({})).get(class.id, {}) and class_customizations[class.id].content_version >= last_content_version %}
          <tr>
            <td class="text-center px-3 {% if loop.last %} rounded-b-lg {% endif %}">
              <a href="/for-teachers/class/{{class.id}}" class="view_class" data-cy="view_class_link">
                {{class.name|e}}
              </a>
            </td>
            <td class="text-center py-3">{{ class.students|length }}</td>
            <td class="text-center">{{ class.date }}</td>
            <td class="text-center {% if loop.last %} rounded-b-lg {% endif %}">
              <div class="relative inline-block text-left" name="menu">
                <button class="blue-btn-new p-1.5 flex justify-center rounded-full"
                      _="on click
                        remove .menu-content-open from <div.menu:not(#{{ menu_id }})/>
                        add .hidden .menu-content-closed to <div.menu:not(#{{ menu_id }})/>
                        if #{{ menu_id }} matches .hidden
                          remove .hidden from #{{ menu_id }}
                          call hedyApp.positionContextMenu(me, true)
                          wait 10ms
                          toggle .menu-content-open .menu-content-closed on #{{ menu_id }}
                        else
                          call hedyApp.teardownContextMenu(me)
                          toggle .menu-content-open .menu-content-closed on #{{ menu_id }}
                          wait 180ms
                          add .hidden to #{{ menu_id }}
                         "
                        >
                  <i class="fa-solid fa-ellipsis"></i>
                </button>
                <div id="{{ menu_id }}" class="hidden z-30 menu origin-top-right absolute w-56 bg-white rounded-lg shadow-lg grid ring-1 ring-gray-200 menu-content-closed grow-0 ease-in transition-opacity transition-transform duration-150">
                  <ul class="list-none divide-y divide-gray-200 p-2">
                    {% if not is_archived %}
                    <a href="/for-teachers/class/{{class.id}}/grade" class="no-underline text-blue-900">
                      <li class="px-6 py-3 hover:bg-gray-200 active:bg-gray-400 cursor-pointer rounded-t-lg text-blue-900 ease-in transition duration-100">
                        <i class="fa-solid fa-circle-check text-sm"></i>
                        <span class="m-3">{{_('grading')}}</span>
                      </li>
                    </a>
                    <a href="/for-teachers/class/{{class.id}}/configure" class="no-underline text-blue-900">
                      <li class="px-6 py-3 hover:bg-gray-200 active:bg-gray-400 cursor-pointer text-blue-900 ease-in transition duration-100 gap-4">
                        <i class="fa-solid fa-gears text-sm"></i>
                        <span class="m-3">{{_('configure')}}</span>
                      </li>
                    </a>
                    <li>
                      <button
                        type="button"
                        data-cy="update_class"
                        data-class-name="{{ class.name|e }}"
                        data-confirm-modal="redesign"
                        data-confirm-button-class="green-btn-new"
                        data-confirm-button-label="{{_('update')|e}}"
                        data-confirm-title="{{_('update')|e}}"
                        data-confirm-title-name="{{ class.name|upper|e }}"
                        class="w-full text-left px-6 py-3 hover:bg-gray-200 active:bg-gray-400 cursor-pointer text-blue-900 ease-in transition duration-100 gap-4 disabled:text-gray-600 disabled:cursor-not-allowed font-bold"
                        {% if class_is_updated %}disabled{% endif %}
                        hx-confirm="{{_('update_class_prompt')}}"
                        data-success-message="{{ _('class_updated_successfully') }}"
                        data-failure-message="{{ _('feedback_message_error') }}"
                        hx-trigger="click"
                        hx-post="/for-teachers/update-content/{{ class.id }}"
                        hx-target="#classes_table_container"
                        hx-swap="innerHTML"
                      >
                        {% if class_is_updated %}
                        <i class="fa-solid fa-circle-check text-sm"></i>
                        <span class="m-3">{{_('updated')}}</span>
                        {% else %}
                        <i class="fa-solid fa-rotate text-sm"></i>
                        <span class="m-3">{{_('update')}}</span>
                        {% endif %}
                      </button>
                    </li>
                    <li>
                      <button
                        type="button"
                        data-cy="archive_class"
                        data-class-name="{{ class.name|e }}"
                        data-confirm-modal="redesign"
                        data-confirm-button-class="green-btn-new"
                        data-confirm-button-label="{{_('archive')|e}}"
                        data-confirm-title="{{_('archive_class')|e}}"
                        data-confirm-title-name="{{ class.name|upper|e }}"
                        class="w-full text-left px-6 py-3 hover:bg-gray-200 active:bg-gray-400 cursor-pointer text-blue-900 ease-in transition duration-100 font-bold"
                        hx-confirm="{{_('are_you_sure_soft')}}"
                        hx-post="/for-teachers/class/{{ class.id }}/archive"
                        hx-target="#classes_table_container"
                        hx-swap="innerHTML"
                      >
                        <i class="fa-solid fa-box-archive text-sm"></i>
                        <span class="m-3">{{_('archive')}}</span>
                      </button>
                    </li>
                    {% endif %}
                    {% if is_archived %}
                    <li>
                      <button
                        type="button"
                        data-cy="unarchive_class"
                        data-class-name="{{ class.name|e }}"
                        data-confirm-modal="redesign"
                        data-confirm-button-class="green-btn-new"
                        data-confirm-button-label="{{_('unarchive')|e}}"
                        data-confirm-title="{{_('unarchive_class')|e}}"
                        data-confirm-title-name="{{ class.name|upper|e }}"
                        class="w-full text-left px-6 py-3 hover:bg-gray-200 active:bg-gray-400 cursor-pointer text-blue-900 ease-in transition duration-100 font-bold"
                        hx-confirm="{{_('are_you_sure_soft')}}"
                        hx-post="/for-teachers/class/{{ class.id }}/unarchive"
                        hx-target="#classes_table_container"
                        hx-swap="innerHTML"
                      >
                        <i class="fa-solid fa-box-open text-sm"></i>
                        <span class="m-3">{{ _('unarchive') }}</span>
                      </button>
                    </li>
                    {% endif %}
                    <li class="rounded-b-lg {% if is_archived %}rounded-t-lg{% endif %}">
                      <button
                        type="button"
                        data-cy="remove_class"
                        data-class-name="{{ class.name|e }}"
                        data-confirm-modal="redesign"
                        data-confirm-button-class="red-btn-new"
                        data-confirm-button-label="{{_('delete')|e}}"
                        data-confirm-title="{{_('delete')|e}}"
                        data-confirm-title-name="{{ class.name|upper|e }}"
                        class="w-full text-left px-6 py-3 hover:bg-gray-200 active:bg-gray-400 cursor-pointer rounded-b-lg text-red-700 ease-in transition duration-100 font-bold"
                        hx-confirm="{{_('delete_class_prompt')}}"
                        hx-delete="/for-teachers/class/{{ class.id }}"
                        hx-target="#classes_table_container"
                        hx-swap="innerHTML"
                      >
                        <i class="fa-solid fa-trash-can text-sm"></i>
                        <span class="m-3">{{_('delete')}}</span>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
            </td>
          </tr>
          {% else %}
          <tr>
            <td colspan="4" class="text-center py-6 px-4 text-sm text-gray-600">{{ _('no_existing_class') }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
