{% set is_archived = is_archived|default(False) %}
<div class="overflow-x-auto overflow-y-visible h-full" id="classes_table">
  <div class="w-full h-full mb-8">
    <div class="w-full h-full border rounded-lg shadow-md">
      <table class="w-full divide-y divide-gray-400">
        <thead class="bg-gray-200 divide-y divide-gray-400">
          <tr>
            <th class="py-3 px-4 text-center text-sm font-medium text-gray-700 uppercase tracking-wider rounded-t-lg">{{_('name')}}</th>
            <th class="py-3 px-4 text-center text-sm font-medium text-gray-700 uppercase tracking-wider">{{_('teacher')}}</th>
            <th class="py-3 px-4 text-center text-sm font-medium text-gray-700 uppercase tracking-wider">{{_('students')[0]|upper}}{{_('students')[1:]}}</th>
            <th class="py-3 px-4 text-center text-sm font-medium text-gray-700 uppercase tracking-wider">{{_('created')}}</th>
            <th class="py-3 px-4 text-center text-sm font-medium text-gray-700 uppercase tracking-wider rounded-t-lg">{{_('actions')}}</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          {% for class in teacher_classes %}
          {% set menu_id = 'menu-' ~ ('archived-' if is_archived else 'active-') ~ class.id %}
          <tr>
            <td class="text-center px-3 {% if loop.last %} rounded-b-lg {% endif %}">
              <a href="/for-teachers/redesign/class/{{class.id}}" class="view_class" data-cy="view_class_link">
                {{class.name|e}}
              </a>
            </td>
            <td data-cy="teacher_cell" class="py-3 text-center">
              {{ class.teacher }}
              {% if class.second_teachers %}
                {% set second_count = class.second_teachers | length %}
                <span class="text-sm text-gray-600">+{{ second_count }} {{ _('teacher')|lower if second_count == 1 else _('teachers')|lower  }}</span>
              {% endif %}
            </td>
            <td class="text-center">{{ class.students|length }}</td>
            <td class="text-center">{{ class.date }}</td>
            <td class="text-center {% if loop.last %} rounded-b-lg {% endif %}">
              <div class="relative inline-block text-left" name="menu">
                <button class="blue-btn-new p-1.5 flex justify-center rounded-full"
                      _="on click
                        remove .menu-content-open from <div.menu:not(#{{ menu_id }})/>
                        add .hidden .menu-content-closed to <div.menu:not(#{{ menu_id }})/>
                        if #{{ menu_id }} matches .hidden
                          remove .hidden from #{{ menu_id }}
                          call hedyApp.positionContextMenu(me, true)
                          wait 10ms
                          toggle .menu-content-open .menu-content-closed on #{{ menu_id }}
                        else
                          call hedyApp.teardownContextMenu(me)
                          toggle .menu-content-open .menu-content-closed on #{{ menu_id }}
                          wait 180ms
                          add .hidden to #{{ menu_id }}
                         "
                        >
                  <i class="fa-solid fa-ellipsis"></i>
                </button>
                <div id="{{ menu_id }}" class="hidden z-30 menu origin-top-right absolute w-56 bg-white rounded-lg shadow-lg grid ring-1 ring-gray-200 menu-content-closed grow-0 ease-in transition-opacity transition-transform duration-150">
                  <ul class="list-none divide-y divide-gray-200 p-2">
                    {% if not is_archived %}
                    <a href="/for-teachers/redesign/class/{{class.id}}/grade" class="no-underline text-blue-900">
                      <li class="px-6 py-3 hover:bg-gray-200 active:bg-gray-400 cursor-pointer rounded-t-lg text-blue-900 ease-in transition duration-100">
                        <i class="fa-solid fa-circle-check text-sm"></i>
                        <span class="m-3">{{_('grading')}}</span>
                      </li>
                    </a>
                    <a href="/for-teachers/redesign/class/{{class.id}}/configure" class="no-underline text-blue-900">
                      <li class="px-6 py-3 hover:bg-gray-200 active:bg-gray-400 cursor-pointer text-blue-900 ease-in transition duration-100 gap-4">
                        <i class="fa-solid fa-gears text-sm"></i>
                        <span class="m-3">{{_('configure')}}</span>
                      </li>
                    </a>
                    <li>
                      <button
                        data-cy="archive_class"
                        data-class-name="{{ class.name|e }}"
                        data-archive-class-prompt="{{ _('are_you_sure')|e }}"
                        data-archive-class-title="{{ _('archive_class')|e }}"
                        data-archive-label="{{ _('archive')|e }}"
                        class="w-full text-left px-6 py-3 hover:bg-gray-200 active:bg-gray-400 cursor-pointer text-blue-900 ease-in transition duration-100 font-bold"
                        onclick="hedyApp.archive_class_redesign('{{ class.id }}', this.dataset.archiveClassPrompt, this.dataset.className, this, this.dataset.archiveLabel, this.dataset.archiveClassTitle)"
                      >
                        <i class="fa-solid fa-box-archive text-sm"></i>
                        <span class="m-3">{{_('archive')}}</span>
                      </button>
                    </li>
                    {% endif %}
                    {% if is_archived %}
                    <li>
                      <button
                        data-cy="unarchive_class"
                        data-class-name="{{ class.name|e }}"
                        data-unarchive-class-prompt="{{ _('are_you_sure')|e }}"
                        data-unarchive-class-title="{{ _('archive_class')|e }}"
                        data-unarchive-label="{{ _('archive')|e }}"
                        class="w-full text-left px-6 py-3 hover:bg-gray-200 active:bg-gray-400 cursor-pointer text-blue-900 ease-in transition duration-100 font-bold"
                        onclick="hedyApp.unarchive_class_redesign('{{ class.id }}', this.dataset.unarchiveClassPrompt, this.dataset.className, this, this.dataset.unarchiveLabel, this.dataset.unarchiveClassTitle)"
                      >
                        <i class="fa-solid fa-box-open text-sm"></i>
                        <span class="m-3">Unarchive</span>
                      </button>
                    </li>
                    {% endif %}
                    <li class="rounded-b-lg {% if is_archived %}rounded-t-lg{% endif %}">
                      <button
                        data-cy="remove_class"
                        data-class-name="{{ class.name|e }}"
                        data-delete-class-prompt="{{ _('delete_class_prompt')|e }}"
                        data-delete-class-title="{{ _('delete')|e }}"
                        data-delete-label="{{ _('delete')|e }}"
                        class="w-full text-left px-6 py-3 hover:bg-gray-200 active:bg-gray-400 cursor-pointer rounded-b-lg text-red-700 ease-in transition duration-100 font-bold"
                        onclick="hedyApp.delete_class_redesign('{{ class.id }}', this.dataset.deleteClassPrompt, this.dataset.className, this, this.dataset.deleteLabel, this.dataset.deleteClassTitle)"
                      >
                        <i class="fa-solid fa-trash-can text-sm"></i>
                        <span class="m-3">{{_('delete')}}</span>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
