{% extends "auth.html" %}
{% block regular_content %}
{% from 'incl/breadcrumb.html' import breadcrumb %}
<div class="flex flex-col px-4 md:px-16">
  {{ breadcrumb([
      {'label': _('classes'), 'url': '/for-teachers/class/all'},
      {'label': class_info.name, 'url': '/for-teachers/redesign/class/' ~ class_info.id},
      {'label': _('manage_students')}
  ]) }}
  <h1 style="overflow-wrap: anywhere;">{{ class_info.name }}</h1>
  <h2 class="text-4xl mt-3">{{ _('manage_students') }}</h2>
  <div class="h-full" id="classes_table">
    <div class="w-full h-full mb-48">
      <div class="w-full h-full border rounded-lg shadow-md">
        <form hx-get="/for-teachers/redesign/class/{{ class_info.id }}/manage/filter_sort"
            hx-target="#manage-students-table-body"
            hx-swap="innerHTML"
            hx-trigger="submit"
            hx-include="
                #student-sort-input, 
                #timestamp-sort-input
            "
        >
          <div class="w-full overflow-x-auto overflow-y-visible">
            {{
              render_partial(
                "for-teachers/classes/manage-class-table.html", 
                students=students, 
                class_info=class_info, 
                teacher_classes=teacher_classes
              )
            }}
          </div>
        </form>
      </div>
      <h2>{{ _('add_students') }}</h2>
      <div class="flex flex-col sm:flex-row gap-6">
          <button class="blue-btn-new" data-cy="invite_student" onclick='hedyApp.invite_to_class_redesign("{{class_info.id}}", {{_('invite_prompt')|default(None)|tojson}}, "student")'>
            {{_('invite_by_username')}}
          </button>
          <button class="blue-btn-new" data-cy="create_accounts" onclick="window.open('/for-teachers/create-accounts/{{ class_info.id }}', '_self')">{{_('create_accounts')}}</button>
      </div>
  </div>
  </div>
</div>
{% endblock %}