{% extends "auth.html" %}
{% block regular_content %}
<article>
    <h3>前宣系列-对家长-第五版</h3>
    <p>Hedy
        锵锵锵，Hedy中国cn.hedy.org正式推出啦~</p>
        <p>——由⿇省理⼯学院计算机科学教育教授费利安及其科研团队开发的一款渐进式开源编程语言网站及社区。</p>
        <p>中国社区由校园VC创始⼈、清华⼤学创业导
        师殷建松与Python中国社区创始人大妈、BetterMe青年主理人Sunny林琅、Scarlett荷淼、Simon王求真、徐浩然、汪增光等人共建。</p>
        <p>用户主要是编程爱好者，包含10-17岁的青少年，也包含少部分17-25岁的青年。当然了，开源社区没有限定，欢迎任何行业和任何年龄段的朋友加入。
        大多数家长可能有这样的经历：</p>
        <p>在接送孩子上下学时，一路上被青少年教育类产品的各种销售围追堵截。</p>
        <p>这些产品五花八门，有拉丁舞、书法、英语新概念、奥数、口才，家长们对这些兴趣班或者辅导班司空见惯。</p>
        <p>“机器人实践营”、“编程语言学习课”这些编程类课程，可能会令人耳目一新，但随着少儿编程这个话题变得越来越火热，大部分人都意识到了这是一个大趋势。
        在少儿编程领域中，是否从小就要学编程这一经典问题的争议很大，这是因为大多数人对于少儿编程没有一个正确的认识。在这样的一个教育环境下，市面上的编程课越来越多，导致有些家长变得更迷茫。</p>
        <p>从小就要学编程没错，因为少儿编程更注重在学习中培养孩子解决问题的思维，这正是少儿编程与成人编程的区别所在。</p>
        <p>不仅如此，很多家长还会有这些疑惑：</p>
        <p>为什么现在都说要学编程呢？一定要现在学吗？</p>
        <p>更让家长担心的是：不少人都在说少儿编程是智商税？</p>
        <p>家长为了孩子花好几万却不见成果，孩子还是一直在玩积木，少儿编程真是如此吗？
        01「孩子学习少儿编程的目的是什么？」
        少儿编程一定是未来发展大趋。
        人工智能时代下，未来的要求一定是利用AI，掌握AI，小阶段做编程启蒙，进阶走科特赛道、参加信奥赛，能让孩子在未来学业、工作中有更多的选择。
        我国教育方针也是大力支持，编程陆续被各省分纳入中高考自主招生政策，成为中高考升学加分的途径之一。</p>
        <p>浙江省已在高考中加入以Pyhon为考察对象的信息技术考试，成为高考科目之一，与化学与生物同等占有100分的比例，分别在今年和去年开展了考试。</p>
        <p>浙江率先将编程纳入高考范围，北京、山东、广东等省份也将紧随其后。</p>
        <p>除此之外，孩子可以通过学习编程打竞赛在小升初、初升高两个阶段走科技特长生的路径，走综合评价生、强基计划、保送政策这三种路径在高升大时获取升学机会。
        也就是说这是和孩子升学相挂钩的
        02「要怎么学编程呢？」
        少儿编程作为一颗教育界冉冉上升的新星，带来教育改革的同时，也带来了新的商机。市面上涌现出了非常多的编程机构，而且这些机构的课程质量参差不齐，导致了市场的混乱。
        好在，Hedy，这一开源渐进式编程语言学习平台出现了。</p>
        <p>Hedy 是一个创新的编程语言学习平台，它专门为教育环境设计，旨在帮助学生从图形化编程（如Scratch）平滑过渡到文本编程语言（如Python）。</p>
        <ol>
        <li>
        <p>什么是开源？
         开源指的是软件的源代码对公众开放，允许用户自由使用、修改和分发。这意味着任何人都可以查看代码，对其进行改进，并将其用于自己的项目。Hedy 本身就是开源的，它的代码可以在 GitHub 上找到，任何人都可以参与改进这个平台 。</p>
        </li>
        <li>
        <p>什么是渐进式？
         渐进式学习是一种逐步引入新概念和复杂性的方法。在 Hedy 平台上，每个关卡都聚焦于特定的编程概念和语法结构，随着学生通过更多关卡，他们将接触到更复杂的编程知识。这种方法有助于学生更好地理解和掌握编程语言 。</p>
        </li>
        <li>
        <p>学的是什么语言？
         Hedy 旨在教授文本编程语言，学习Python。它通过简化的语法和逐步增加的复杂性，让学生在不知不觉中掌握 Python 语言的基础知识。Hedy 的设计使得学生在学习过程中能够创建数字故事、彩色绘图、游戏和应用程序等，这些都是在 Python 环境中常见的项目类型 。
        它是一个专注于青少年编程教育的平台，已经在欧洲多个国家广泛应用并收获一致好评。
        在中国，Hedy在上海的一所国际学校进行了为期一学期的试点项目，并且和电子科技大学达成了合作，它能够满足不同学习者的需求，其课程内容和教学方法通过了实践的检验。
        03「Hedy是什么？」
        简单来说，让孩子在玩游戏闯关的过程中逐步将知识融会贯通。</p>
        </li>
        </ol>
        <p>Hedy将内容分为18个level，层层递进，每个level都设有一些对应的小挑战，聚焦于特定的编程概念和语法结构，孩子可以根据自己的学习进度选择适合的关卡。
        我们考虑到孩子现阶段的特点，在内容呈现上，将有趣的图画配以轻松易懂的文字，让整个学习过程变得轻松有趣，照顾了孩子们的情绪，还可以激发他们与生俱来的好奇心，培养创造力。</p>
        <p>在知识的学习上，Hedy对知识进行了细致规律地划分，使知识连点成线，连线成面，极大限度地减少孩子学习过程中的卡点，从简单的概念开始，逐渐过渡到更复杂的内容，建立编程知识体系。</p>
        <p>与此同时，Hedy还提供了多种语言，孩子可以用熟悉的汉语，如果孩子正在学习英语，也可以很方便地切换为英文学习。</p>
        <p>Hedy从多个维度逐步引导孩子，不仅让孩子在游戏的闯关中快乐学习，可以使用自己熟悉的语言轻松适应编程环境，而且能够丝滑顺畅的掌握一个个知识点，使学习者能够轻松高效地掌握编程。
        Hedy现在base在华东师范大学信息工程学院下，已经与成都电子科大、上海国际学校建立了合作关系，共同开发课程内容，提供师资培训，以及举办编程竞赛和活动。
        我们创建了编程爱好者学习交流的微信群，旨在引导和帮助人们熟悉Hedy，正确使用Hedy进行学习。这是一场免费的学习指导，也包含了不限次的自由探讨，如果想要了解Hedy，入门编程，掌握编程思维，欢迎联系！
        （联系方式：微信二维码</p>
        <p>官网：hedy.org
        中国社区官网：cn.hedy.org
        discord账号：
        youtube：
        B站：
        小红书：Hedy编程教育
        球分享
        球点赞
        球在看</p>
</article>
{% endblock %}