{% extends "communities/community-template.html" %}
{% block community_content %}
<article>
    <h3>前宣-对家长-推文四</h3>
    <p>Hedy
        大多数家长可能都有这样的经历：在接送孩子上下学，一路上被青少年教育类产品的各种销售围追堵截。</p>
        <p>这些产品五花八门，有拉丁舞、书法、英语新概念、奥数、口才，家长们对这些兴趣班或者辅导班司空见惯。</p>
        <p>如果有留意到”机器人实践营“、”编程语言学习课“这些编程类课程，可能会令人耳目一新，但其实少儿编程这个话题变得越来越火热了，大部分人都意识到了这是一个大趋势。
        从小就要学编程没错，但作为家长，很多人还对少儿编程没有一个正确的认识，它是区别于成人编程，更注重在学习中培养孩子解决问题的思维。</p>
        <p>再加上市面上的编程课越来越多，有些家长就变得更迷茫了。</p>
        <p>不仅如此，很多家长都会有这些疑惑：</p>
        <p>为什么现在都说要学编程呢？一定要现在学吗？</p>
        <p>更让家长担心的是：不少人都在说少儿编程是智商税？
        确实，市面上涌现了非常多编程机构，家长们为了孩子花好几万却一直不见成果，孩子还是一直在玩积木，但是少儿编程真是如此吗？
        01「我们学习少儿编程的目的是什么？」
        少儿编程一定是未来发展大趋。
        人工智能时代下，未来的要求一定是利用AI，掌握AI，小阶段做编程启蒙，进阶走科特赛道、参加信奥赛，能让孩子在未来学业、工作中有更多的选择。
        我国教育方针也是大力支持，编程陆续被各省分纳入中高考自主招生政策，成为中高考升学加分的途径之一。</p>
        <p>浙江省已在高考中加入以Pyhon为考察对象的信息技术考试，成为高考科目之一，与化学与生物同等占有100分的比例，分别在今年和去年开展了考试。</p>
        <p>浙江率先将编程纳入高考范围，北京、山东、广东等省份也将紧随其后。</p>
        <p>除此之外，孩子可以通过学习编程打竞赛在小升初、初升高两个阶段走科技特长生的路径，走综合评价生、强基计划、保送政策这三种路径在高升大时获取升学机会。
        也就是说这是和孩子升学相挂钩的
        02「要怎么学编程呢？」
        好在，Hedy，这一渐进式开发语言学习平台出现了。
        它是一个专注于青少年编程教育的平台，已经在欧洲多个国家广泛应用并收获一致好评。
        在中国，Hedy在上海的一所国际学校进行了为期一学期的试点项目，它能够满足不同学习者的需求，其课程内容和教学方法通过了实践的检验。
        03「Hedy是什么？」
        简单来说，让孩子像玩游戏闯关一样，Hedy分为18个level，层层递进，每个level都设有一些对应的小挑战，可以根据自己的学习进度选择适合的，让孩子在掌握编程技能的同时减轻学习负担。
        我们考虑到孩子现阶段的特点，用有趣的图画配有轻松易读的文字，照顾孩子们的情绪，让整个学习过程变得轻松有趣，还可以激发他们与生俱来的好奇心，培养创造力。</p>
        <p>Hedy从简单的概念开始，逐渐过渡到更复杂的内容，让孩子逐步建立编程知识体系。</p>
        <p>从多个维度逐步引导孩子学习编程，不仅让孩子像玩游戏一样快乐学习，可以使用自己熟悉的语言轻松学习，更重要的是知识吸收上循序渐进。
        Hedy还提供了多种语言，可以用熟悉的汉语，如果孩子正在学习英语，也可以很方便地切换为英文学习。
        Hedy现在base在华东师范大学信息工程学院下，已经与成都电子科大、上海国际学校建立了合作关系，共同开发课程内容，提供师资培训，以及举办编程竞赛和活动。
        我们正在创建七天学习营，旨在引导和帮助初学者熟悉Hedy，正确使用Hedy进行学习。这是一场免费的学习辅导，如果想要了解Hedy，入门编程，掌握编程思维，欢迎联系！
        （联系方式：微信二维码
        球分享
        球点赞
        球在看</p>
</article>
{% endblock %}