{% extends "communities/community-template.html" %}
{% block community_content %}
<div class="flex flex-col w-full">
    <h1 class="w-full text-center bg-blue-200">Chinese Community</h1>    
    <div>
        <h1 id="灵魂三问"><a class="header" href="#灵魂三问">灵魂三问</a></h1>
        <blockquote>
        <p>README for ch.hedy.org</p>
        </blockquote>
        <h2 id="我是谁"><a class="header" href="#我是谁">我是谁</a></h2>
        <p>...
        ......</p>
        <h2 id="从哪来"><a class="header" href="#从哪来">从哪来</a></h2>
        <h2 id="要去哪"><a class="header" href="#要去哪">要去哪</a></h2>
        <hr />
        <p><img src="images/cn_hedy_logo_convert.io.webp" alt="logo" /></p>
    </div>
</div>
{% endblock %}