static/js/appbundle.js    -diff -merge
static/js/appbundle.js    linguist-generated=true
static/js/appbundle.js.map    -diff -merge
static/js/appbundle.js.map    linguist-generated=true
static/js/message-translations.ts   linguist-generated=true