anyconfig==0.9.8
appnope==0.1.0
astroid==2.2.5
attrs==19.1.0
backcall==0.1.0
beautifulsoup4==4.7.1
bleach==3.1.0
bs4==0.0.1
certifi==2018.11.29
chardet==3.0.4
Click==7.0
colander==0.9.9
colorama==0.4.1
cycler==0.10.0
decorator==4.4.0
defusedxml==0.6.0
document==1.0
docx==0.2.4
entrypoints==0.3
Flask==0.10.1
gTTS==2.0.3
gTTS-token==1.1.3
idna==2.8
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
iso8601==0.1.8
isort==4.3.21
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.10
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.5.0
kiwisolver==1.1.0
lark==0.0.4
lark-parser==0.7.8
lazy-object-proxy==1.4.2
lxml==4.3.0
MarkupSafe==1.1.0
matplotlib==3.1.0
mccabe==0.6.1
mistune==0.8.4
mock==2.0.0
mpmath==1.1.0
music==0.1b0
nbconvert==5.6.0
nbformat==4.4.0
notebook==6.0.1
numpy==1.16.1
numpy-groupies==0+unknown
pandas==0.24.2
pandocfilters==1.4.2
parso==0.5.1
pbr==5.1.2
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.1.0
prometheus-client==0.7.1
prompt-toolkit==2.0.9
ptyprocess==0.6.0
pygame==1.9.4
Pygments==2.4.2
pylint==2.3.1
pyobjc==5.1.2
pyobjc-core==5.1.2
pyobjc-framework-Accounts==5.1.2
pyobjc-framework-AddressBook==5.1.2
pyobjc-framework-AdSupport==5.1.2
pyobjc-framework-AppleScriptKit==5.1.2
pyobjc-framework-AppleScriptObjC==5.1.2
pyobjc-framework-ApplicationServices==5.1.2
pyobjc-framework-Automator==5.1.2
pyobjc-framework-AVFoundation==5.1.2
pyobjc-framework-AVKit==5.1.2
pyobjc-framework-BusinessChat==5.1.2
pyobjc-framework-CalendarStore==5.1.2
pyobjc-framework-CFNetwork==5.1.2
pyobjc-framework-CloudKit==5.1.2
pyobjc-framework-Cocoa==5.1.2
pyobjc-framework-Collaboration==5.1.2
pyobjc-framework-ColorSync==5.1.2
pyobjc-framework-Contacts==5.1.2
pyobjc-framework-ContactsUI==5.1.2
pyobjc-framework-CoreAudio==5.1.2
pyobjc-framework-CoreAudioKit==5.1.2
pyobjc-framework-CoreBluetooth==5.1.2
pyobjc-framework-CoreData==5.1.2
pyobjc-framework-CoreLocation==5.1.2
pyobjc-framework-CoreMedia==5.1.2
pyobjc-framework-CoreMediaIO==5.1.2
pyobjc-framework-CoreML==5.1.2
pyobjc-framework-CoreServices==5.1.2
pyobjc-framework-CoreSpotlight==5.1.2
pyobjc-framework-CoreText==5.1.2
pyobjc-framework-CoreWLAN==5.1.2
pyobjc-framework-CryptoTokenKit==5.1.2
pyobjc-framework-DictionaryServices==5.1.2
pyobjc-framework-DiscRecording==5.1.2
pyobjc-framework-DiscRecordingUI==5.1.2
pyobjc-framework-DiskArbitration==5.1.2
pyobjc-framework-DVDPlayback==5.1.2
pyobjc-framework-EventKit==5.1.2
pyobjc-framework-ExceptionHandling==5.1.2
pyobjc-framework-ExternalAccessory==5.1.2
pyobjc-framework-FinderSync==5.1.2
pyobjc-framework-FSEvents==5.1.2
pyobjc-framework-GameCenter==5.1.2
pyobjc-framework-GameController==5.1.2
pyobjc-framework-GameKit==5.1.2
pyobjc-framework-GameplayKit==5.1.2
pyobjc-framework-ImageCaptureCore==5.1.2
pyobjc-framework-IMServicePlugIn==5.1.2
pyobjc-framework-InputMethodKit==5.1.2
pyobjc-framework-InstallerPlugins==5.1.2
pyobjc-framework-InstantMessage==5.1.2
pyobjc-framework-Intents==5.1.2
pyobjc-framework-IOSurface==5.1.2
pyobjc-framework-iTunesLibrary==5.1.2
pyobjc-framework-LatentSemanticMapping==5.1.2
pyobjc-framework-LaunchServices==5.1.2
pyobjc-framework-libdispatch==5.1.2
pyobjc-framework-LocalAuthentication==5.1.2
pyobjc-framework-MapKit==5.1.2
pyobjc-framework-MediaAccessibility==5.1.2
pyobjc-framework-MediaLibrary==5.1.2
pyobjc-framework-MediaPlayer==5.1.2
pyobjc-framework-MediaToolbox==5.1.2
pyobjc-framework-ModelIO==5.1.2
pyobjc-framework-MultipeerConnectivity==5.1.2
pyobjc-framework-NaturalLanguage==5.1.2
pyobjc-framework-NetFS==5.1.2
pyobjc-framework-Network==5.1.2
pyobjc-framework-NetworkExtension==5.1.2
pyobjc-framework-NotificationCenter==5.1.2
pyobjc-framework-OpenDirectory==5.1.2
pyobjc-framework-OSAKit==5.1.2
pyobjc-framework-Photos==5.1.2
pyobjc-framework-PhotosUI==5.1.2
pyobjc-framework-PreferencePanes==5.1.2
pyobjc-framework-PubSub==5.1.2
pyobjc-framework-QTKit==5.1.2
pyobjc-framework-Quartz==5.1.2
pyobjc-framework-SafariServices==5.1.2
pyobjc-framework-SceneKit==5.1.2
pyobjc-framework-ScreenSaver==5.1.2
pyobjc-framework-ScriptingBridge==5.1.2
pyobjc-framework-SearchKit==5.1.2
pyobjc-framework-Security==5.1.2
pyobjc-framework-SecurityFoundation==5.1.2
pyobjc-framework-SecurityInterface==5.1.2
pyobjc-framework-ServiceManagement==5.1.2
pyobjc-framework-Social==5.1.2
pyobjc-framework-SpriteKit==5.1.2
pyobjc-framework-StoreKit==5.1.2
pyobjc-framework-SyncServices==5.1.2
pyobjc-framework-SystemConfiguration==5.1.2
pyobjc-framework-UserNotifications==5.1.2
pyobjc-framework-VideoSubscriberAccount==5.1.2
pyobjc-framework-VideoToolbox==5.1.2
pyobjc-framework-Vision==5.1.2
pyobjc-framework-WebKit==5.1.2
pyparsing==2.4.0
pyrsistent==0.15.4
python-dateutil==2.8.0
python-docx==0.8.10
pyttsx==1.1
pyttsx3==2.7
pytz==2019.1
PyYAML==3.13
pyzmq==18.1.0
qtconsole==4.5.5
redis==2.8.0
requests==2.21.0
rope==0.14.0
scipy==1.2.1
Send2Trash==1.5.0
six==1.12.0
soupsieve==1.7.3
speech==0.5.2
sympy==1.3
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
tornado==6.0.3
traitlets==4.3.2
translationstring==1.3
typed-ast==1.4.0
urllib3==1.24.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.5.1
wrapt==1.11.2
