# Requirements for developing & running tools

# Requirements for actually running Hedy are in requirements-prod.txt
-r requirements-prod.txt

pytest==8.0.0
parameterized==0.8.1
setuptools==78.1.1
pre-commit==2.20.0
hypothesis==6.98.4
tqdm==4.66.3
pytest-xdist==3.3.1
doit==0.36.0
doit_watch>=0.1.0
pyinstaller==6.18.0
pylint==3.1.0
colorama==0.4.6
check-jsonschema==0.30.0
