      <div class="rounded bg-blue-100 border-blue-300 border flex items-center text-xl ltr:divide-x rtl:divide-x-reverse divide-blue-300" data-copy="container">
        <input type="text" data-view="public-url" class="outline-0 bg-transparent border-0 h-full flex-1 mx-2 font-light" readonly value="https://hedy.org/view/...">
        <button class="h-full p-2 px-4 text-blue-500" title="Copy to clipboard" data-action="copy-to-clipboard"><span class="fa-regular fa-copy"></span></button>
      </div>
