<div id="parsons_container" class="hidden">
    {% if parsons_exercises > 1 %}
        <div class="flex flex-row items-center justify-around bg-gray-400 border-b-2 border-gray-500">
            {% for i in range(1, parsons_exercises + 1)%}
                    <div class="flex-1 text-center step cursor-pointer p-2
                        {% if i != parsons_exercises %}border-dashed border-r border-gray-500{% endif %}
                    " id="parsons_header_{{i}}"
                        _="on click hedyApp.loadParsonsExercise({{level}}, {{i}})">
                        <span class="parsons_header_text_container" id="parsons_header_text_{{i}}" style="display: none;">{{_('exercise')}}</span> 
                        {{ i }}
                    </div>
            {% endfor %}
        </div>
    {% endif %}
    <div id="parsons_exercise_container" class="pt-2">
        <div class="flex flex-row">
            <div class="w-1/2 ltr:ml-2 rtl:mr-2">
                <h2 class="text-center">{{_('what_should_my_code_do')}}</h2>
                <p id="parsons_explanation_story" class="mx-4 whitespace-pre-wrap"></p>
            </div>
        </div>
        <div class="ltr:clear-right rtl:clear-left"></div>
    </div>
</div>