<div id="adventure_overview">
  {# The header of the table #}
  
  {# The actual table that holds the data #}
  <div class="w-full overflow-x-auto border rounded-lg">
        <table>
        <thead>
          <tr class="bg-blue-300 text-blue-900">
            <th class="px-2 py-2 text-center">{{_('students')}}</th>
            {% for adventure in adventure_table['adventures'][level] %}
            <th class="px-2 py-2 text-center">{{ adventure }}</th>
            {% endfor %}
            <th class="px-2 p-2 bg-blue-900 text-white">{{_('actions')}}</th>
          </tr>
        </thead>
        <tbody>
          {% for student in adventure_table['students'] %}
            <tr class="{% if loop.index is divisibleby 2 %}bg-gray-200{% else %}bg-white{% endif %}">
              <td id="teacher_cell" class="text-center font-medium text-blue-900">{{student}}</td>
              {% for adventure in adventure_table['adventures'][level] %}
              <td id="teacher_cell" class="text-center"><span class="fas fa-check-square text-green-500"></span></td>
              {% endfor %}
              <td class="text-center text-blue-900">
                <div class="flex justify-center">
                  <button class="flex flex-col items-center" onclick='hedyApp.change_password_student("{{student}}", {{_('enter_password')|default(None)|tojson}}, {{_('password_change_prompt')|default(None)|tojson}})'>
                    <span class="fas fa-pen block mb-1"></span>
                    <span>{{_('change_password')}}</span>
                  </button>
                  <button class="flex flex-col items-center" onclick=window.open('/programs?user={{student}}') id="duplicate_class">
                    <span class="fas fa-code block mb-1"></span>
                    <span>{{_('programs')}}</span>
                  </button>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    <table class="hidden table-auto text-center w-full pt-5" id="adventure_table">
      <thead>
        <colgroup>
          <col>
          <col span="2">
          <col span="{{adventure_table.adventures|length}}">
        </colgroup>
        <tr>
          <td></td>
          <th class="border-r border-l border-b border-gray-400 p-2" colspan="2" scope="colgroup">Options</th>
          <th colspan="{{ adventure_table.adventures|length }}" class="border-b border-gray-400 p-2" scope="colgroup">Adventures</th>
        </tr>
        <tr>
          <th class="border-r border-b border-gray-400 p-2">Students</th>
          <th class="border-r border-b border-gray-400 p-2">Programs</th>
          <th class="border-r border-b border-gray-400 p-2">Password</th>
          {% for adventure in adventure_table['adventures'] %}
            <th class="border-b border-gray-400 p-2 {%if not loop.last %}border-r{% endif %}">{{ adventure['name'] }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for student in adventure_table['students'] %}
        <tr>
          {% set is_last_student = loop.last %}           
          <td class="border-gray-400 p-2 border-r {% if not is_last_student %}border-b{% endif %}">{{ student }}</td>
          <td class="border-gray-400 p-2 border-r {% if not is_last_student %}border-b{% endif %} text-center"><a href="/programs?user={{student}}"><i class="fa-solid fa-code"></i></a></td>
          <td class="border-gray-400 p-2 border-r {% if not is_last_student %}border-b{% endif %} text-center"><a href="#" class="no-underline" onclick='hedyApp.change_password_student("{{student}}", {{_('enter_password')|default(None)|tojson}}, {{_('password_change_prompt')|default(None)|tojson}})'>✏️</a></td>
          {% for adventure in adventure_table['adventures'] %}
          {% set student_adventure_id = student ~ '-' ~ adventure.id ~ '-' ~ adventure_table.level %}
          {% if student_adventure_id in adventure_table.student_adventures %}
              {% set student_adventure = adventure_table.student_adventures[student_adventure_id] %}
              <td
                class="p-2 border-gray-400
                       {% if not loop.last %}border-r{% endif %}
                       {% if not is_last_student %}border-b{% endif %}"
                >
                <div class="grid grid grid-cols-[repeat(3,_minmax(25px,_1fr))] gap-3">
                  {# Empty div so there's  gap to the middle and then the eye #}
                  <div></div>
                  <div>
                    <input type="checkbox" name="gridCheckBox"
                      class="student_adventure_checkbox min-w-fit place-self-center text-green-700 text-center text-sm cursor-pointer {% if student_adventure.ticked %}fa-solid fa-check{% endif %}"
                      {% if student_adventure.ticked %}checked{% endif %}
                      hx-post="/grid_overview/class/{{ class_info.id }}/level?level={{ adventure_table.level }}&student={{ student }}&adventure={{ adventure.id }}"
                      hx-target="#adventure_overview" hx-swap="outerHTML" hx-trigger="change">
                  </div>
                  <div>
                    <a class="no-underline cursor-pointer text-gray-800 hover:bg-gray-400/50 hover:rounded-full"
                      href='/hedy/{{student_adventure.program}}/view'><i class="fa-regular fa-eye"></i></a>
                  </div>
                </div>
              </td>
              {% else %}
              <td
                class="border-gray-400 p-2 {% if not loop.last %}border-r{% endif %} {% if not is_last_student %}border-b{% endif %}">
                <input type="checkbox"
                  class="student_adventure_checkbox align-middle fa-solid fa-xmark text-center text-sm text-orange-600"
                  name="gridCheckBox" disabled="true">
              </td>
            {% endif %}
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>