<table class="w-full" id="adventure_table">
    <thead>
      <tr class="bg-blue-300 text-blue-900">
        <th class="px-2 py-2 text-center">{{_('students')}}</th>
        {% for adventure in adventure_table['adventures'][level] %}
        <th class="px-2 py-2 text-center">{{ adventure.name }}</th>
        {% endfor %}
        <th class="px-2 p-2 bg-blue-900 text-white">{{_('actions')}}</th>
      </tr>
    </thead>
    <tbody>
      {% for student in adventure_table['students'] %}
      <tr class="{% if loop.index is divisibleby 2 %}bg-gray-200{% else %}bg-white{% endif %}">
        <td id="teacher_cell" class="text-center font-medium text-blue-900">{{student}}</td>
        {% for adventure in adventure_table['adventures'][level] %}
        {% set student_adventure_id = (student ~ '-' ~ adventure.id ~ '-' ~ level) | lower %}
        {% set student_adventure = adventure_table.student_adventures[student_adventure_id] %}
        {% if student_adventure_id in adventure_table['student_adventures'] %}
        <td id="teacher_cell" class="text-center">
          <div class="flex justify-center gap-3 mt-1">
            <input type="checkbox"
              class="student_adventure_checkbox text-green-700 text-center text-sm cursor-pointer {% if student_adventure.ticked %}fa-solid fa-check{% endif %}"
              {% if student_adventure.ticked %}checked{% endif %}
              hx-post="/for-teachers/grid_overview/{{ class_info.id }}/change_checkbox?level={{level}}&student={{student}}&adventure={{adventure.id|lower}}"
              hx-target="#adventure_table" hx-swap="outerHTML" hx-trigger="change">
            <div>
              <a class="no-underline cursor-pointer text-gray-800 hover:bg-gray-400/50 hover:rounded-full"
                href='/hedy/{{student_adventure.program}}/view'><i class="fa-regular fa-eye"></i></a>
            </div>
          </div>
        </td>
        {% else %}
        <td id="teacher_cell" class="text-center" title="{{ _('waiting_for_submit') }}">
          <span class="fa-regular fa-hourglass text-gray-600"></span>
        </td>
        {% endif %}
        {% endfor %}
        <td class="text-center text-blue-900">
          <div class="flex justify-center gap-6">
            <button title="{{ _('change_password') }}" class="flex flex-col items-center" onclick='hedyApp.change_password_student("{{student}}", {{_('
              enter_password')|default(None)|tojson}}, {{_('password_change_prompt')|default(None)|tojson}})'>
              <span class="fas fa-pen block mb-4 mt-4"></span>
            </button>
            <button title="{{ _('programs') }}" class="flex flex-col items-center" onclick=window.open('/programs?user={{student}}')
              id="duplicate_class">
              <span class="fas fa-code block mb-4 mt-4"></span>
            </button>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>