/**
 * Handwritten CSS
 *
 * Styles here should be minimal; most of the stuff should go into
 * `tailwind/styles.css` (and then run `tailwind/generate-css` to regenerate
 * the generated css file).
 */

#output {
  white-space: pre-wrap;
}
