/**
 * Handwritten CSS
 *
 * Styles here should be minimal; most of the stuff should go into
 * `build-tools/heroku/tailwind/styles.css` (and then run `build-tools/heroku/tailwind/generate-css` to regenerate
 * the generated css file).
 */

#output {
  white-space: pre-wrap;
}

.command-highlighted {
  background-color: #272822;
  color: #ff6188;
  padding: 0.25rem;
  font-family: monospace;
  border-radius: 0.25rem;
}

/* #868 hide ace's default mobile context menu until there is configuration to remove it */
.ace_mobile-menu {
  display: none;
}

.editor-error {
  position: absolute;
  background: red !important;
}

input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #48bb78;
}

#confetti{
  width: 100%;
  position: absolute;
  height: auto;
  top: 20%;
  left: 30%;
}

#repair_button:hover{
  content: url('../images/Hedylightbulb_2.svg');
}

/*Media Queries*/
@media only screen and (max-width: 1280px) {
  #repair_button{
    margin-left: 12rem !important;
  }
}

/*
https://github.com/ajaxorg/ace/issues/1104
Force the gutter to be smaller, looks better from 1-999 lines (probably all of our programs)
*/
#editor-area .ace_gutter {
    width: 32px !important;
    position: absolute;
}

body[dir='ltr'] #editor-area .ace_gutter {
    margin-right: auto;
    left: 0;
}

body[dir='rtl'] #editor-area .ace_gutter {
    margin-left: auto;
    right: 0;
}

body[dir='ltr'] #editor-area .ace_scroller {
    left: 32px !important;
    right: 0px !important;
}

body[dir='rtl'] #editor-area .ace_scroller {
    left: 0px !important;
    right: 32px !important;
}

#editor-area .ace_layer .ace_gutter-layer {
    width: 32px !important;
}

#editor-area .ace_gutter-layer > * {
    margin-left: 2px;
    margin-right: 0px;
    padding-left: 2px;
    padding-right: 0px;
    text-align: left;
}

body[dir='rtl'] #editor-area .ace_gutter-layer {
    margin-left: 0px;
    margin-right: 2px;
    padding-left: 0px;
    padding-right: 2px;
    text-align: right;
}

#runit:disabled {
    background-color: #A0B4A8;
    border-color: #6BC196;
}
