/**
 * Handwritten CSS
 *
 * Styles here should be minimal; most of the stuff should go into
 * `tailwind/styles.css` (and then run `tailwind/generate-css` to regenerate
 * the generated css file).
 */

#output {
  white-space: pre-wrap;
}

.command-highlighted {
  background-color: #272822;
  color: #ff6188;
  padding: 0.25rem;
  font-family: monospace;
  border-radius: 0.25rem;
}

/* #868 hide ace's default mobile context menu until there is configuration to remove it */
.ace_mobile-menu {
  display: none;
}