.container {
  max-width: 100% !important;
}

.clearfix:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
}

.arrow-steps {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.step {
  display: flex;
  flex: 1;
  justify-content: space-around;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  cursor: default;
  float: left;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 3px;
  align-items: center;
}

.step-text {
  color: black !important;
  text-decoration: none;
}

.current .step-text {
  color: white !important;
  text-decoration: none;
  vertical-align: middle;
}

.current {
  color: #fff;
  background-color: #3182ce !important;
  min-height: 4rem;
}

/* /* .step:nth-child(even){
    background-color: #bbbfc4;
    position: relative;
    z-index: 10;
    text-align: center;
    font-size: 14px;
} */

.step:nth-child(odd) {
  background-color: #edf2f7;
  position: relative;
  z-index: 10;
  text-align: center;
  font-size: 14px;
}

svg.check-icon,
svg.cross-icon {
  width: 2rem;
  height: 2rem;
}

polygon.check {
  fill: #2f855a !important;
}

polygon.cross {
  fill: #aa0000 !important;
}

.check {
  background-color: #c6f6d5 !important;
}

.incorrect {
  background-color: rgba(170, 0, 0, 0.3) !important;
}

p .arrow-steps {
  margin-top: 0;
}
