.clearfix:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
}

.arrow-steps {
    display: block;
}

.arrow-steps .step {
    font-size: 14px;
    text-align: center;
    color: #777;
    cursor: default;
    float: left;
    position: relative;
    width: 15%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}


.step:nth-child(even) .pre-step {
    background-color:#edf2f7;
    position: relative;
    width:100%;
    z-index: 0;

}

.step:nth-child(odd) .pre-step {
    background-color:#bbbfc4;
    position: relative;
    width:100%;
    z-index: 0;
}


.step:nth-child(even) .post-step {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: #bbbfc4;
    position: relative;
    width: 100%;
    z-index: 10;

}


.step:nth-child(odd) .post-step {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: #edf2f7;
    position: relative;
    width: 100%;
    z-index: 10;

}
