.container{
     max-width:100%!important;
}

.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
}

.arrow-steps {
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: 3;
    width:100%;
}

.step {
    display: flex;
    flex:1;
    justify-content: space-around;
    border-radius:5px;
    font-size: 14px;
    text-align: center;
    cursor: default;
    float: left;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
    margin: 3px;
}

.step-text {
    color: black!important;
    text-decoration: none;
}

.current .step-text{
    color:white!important;
    text-decoration: none;
}

.current{
    color: #fff;
    background-color: #3182ce!important;
}

.step:nth-child(even){
    background-color: #bbbfc4;
    position: relative;
    z-index: 10;
    text-align: center;
    font-size: 14px;
}


.step:nth-child(odd){
    background-color: #edf2f7;
    position: relative;
    z-index: 10;
    text-align: center;
    font-size: 14px;
}

.fas {
    font-size: 2.5rem;
    background-color: rgba(47, 133, 90, 0.4);

.fa-check{
    color: #2f855a;
}

