.flex-container {
  display: flex;
  flex-direction: column;
}

.title-block {
  background-color: #4299e1;
}

.start-quiz-title {
  text-align: center;
  color: white;
  font-weight: bold;
}

.start-quiz-subtitle {
  text-align: center;
  color: white;
}

.button-bar {
  display: flex;
  padding: 1rem;
  background-color: #c6f6d5 !important;
  justify-content: space-between !important;
}

.center-picture {
  background-color: #bee3f8 !important;
  display: flex !important;
  text-align: center;
  justify-content: center !important;
}

.center-picture img {
  max-width: 25%;
}

.option-row {
  gap: 30px 30px;
}

.table-el {
  margin-bottom: 1rem;
}

.option-col {
  gap: 30px 30px;
}

.option-block {
  width: 100%;
  position: relative;
  display: block;
  vertical-align: top;
}

.option-block pre {
  display: flex;
  margin-top: 2rem;
}

.option-block code {
  margin-top: -3rem;
}

.option-text {
  margin-top: -2rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.option-row:nth-child(1) .option-block:nth-child(1) {
  background-color: #c6f6d5;
  border-color: #2d9068;
}

.option-row:nth-child(1) .option-block:nth-child(2) {
  background-color: #fae6a7;
  border-color: #d7a907;
}
.option-row:nth-child(2) .option-block:nth-child(1) {
  background-color: #bee3f8;
  border-color: #3182ce;
}

.option-row:nth-child(2) .option-block:nth-child(2) {
  background-color: #cc99c9;
  border-color: #af53a9;
}

.option-row:nth-child(3) .option-block:nth-child(1) {
  background-color: #ffbad2;
  border-color: #d76691;
}

.option-row:nth-child(3) .option-block:nth-child(2) {
  background-color: rgba(201, 145, 77, 0.7);
  border-color: #7c582f;
}

.option-block.active {
  border: 7px double;
}

.incorrect-option {
  background-color: rgba(234, 55, 55, 0.6) !important;
  border: 5px #c21919 dashed !important;
}

.flex-col {
  width: 100%;
}

.flex-col-25 {
  margin-right: 4rem !important;
}

.grid-item {
  grid-template-columns: 66% 37%;
}

.tw-border-3 {
  border-width: 3px;
}

#hint-button {
  background-color: #bee3f8;
  color: #1a202c;
  border: 2.5px solid #3182ce;
  margin-bottom: 2.5rem;
}

button.radio-btn {
  position: relative;
}

.btn-container {
  position: relative;
}

button:focus {
  outline: none;
}

svg.option-icon,
svg.option-icon {
  width: 3.5rem;
  height: 3.5rem;
  top: -30px;
  left: -8px;
  position: relative;
}

polygon.shape.button-shape {
  display: inline-block;
  vertical-align: middle;
}

svg.button-icon {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-items: center;
  margin: auto;
  padding: 0 0 0 0 !important;
}

.submit-button {
    display: none;
    min-width: 80px;
    min-height: 40px;
    color: rgb(236, 236, 236);
    background-color:#4299e1;
    border-color: #1267a6;
    position: absolute;
    right: 10px;
    bottom: -20px;
    padding: 4px 10px;
    border-radius: 0.25rem;
    border-bottom-width: 4px;
}

.active .submit-button {
    display: block;
}

path.number {
  fill: ghostwhite;
}

.option-row:nth-child(1) .option-block:nth-child(1) .shape {
    fill: #2d9068 !important;
}

.option-row:nth-child(1) .option-block:nth-child(2) .shape{
     fill: #d7a907!important;
}

.option-row:nth-child(2) .option-block:nth-child(1) .shape {
     fill:  #3182ce !important;
}

.option-row:nth-child(2) .option-block:nth-child(2) .shape {
    fill: #af53a9 !important;
}

.option-row:nth-child(3) .option-block:nth-child(1) .shape{
    fill: #d76691;!important;

}

.option-row:nth-child(3) .option-block:nth-child(2) .shape{
    fill: #7c582f;
}
