.flex-container {
    display: flex;
    flex-direction: column;
}

.title-block {
    background-color: #4299e1;
}

.start-quiz-title {
    text-align: center;
    color: white;
    font-weight: bold;
}

.start-quiz-subtitle {
    text-align: center;
    color: white;
}

.button-bar {
    display: flex;
    background-color: #c6f6d5 !important;
    justify-content: space-between !important;

}

.center-picture {
    background-color: #bee3f8 !important;
    display: flex !important;
    text-align: center;
    justify-content: center !important;
}

img {
   max-width: 40%;
}

input:disabled{
    background-color: darkgray !important;
}

.radio-block div{
    margin: 1rem;
}
.radio-block div:nth-child(even){
    background-color: #bee3f8;
}

.radio-block div:nth-child(odd) {
    background-color: #c6f6d5 !important;
    border-color: #2d9068!important;
}