.flex-container {
    display: flex;
    flex-direction: column;
}

.title-block {
    background-color: #4299e1;
}

.start-quiz-title {
    text-align: center;
    color: white;
    font-weight: bold;
}

.start-quiz-subtitle {
    text-align: center;
    color: white;
}

.button-bar {
    display: flex;
    padding: 1rem;
    background-color: #c6f6d5 !important;
    justify-content: space-between !important;

}

.center-picture {
    background-color: #bee3f8 !important;
    display: flex !important;
    text-align: center;
    justify-content: center !important;
}

.center-picture img {
   max-width: 25%;
}

input:disabled{
    background-color: darkgray !important;
}

#answer-disabled-A, #answer-disabled-B, #answer-disabled-C,#answer-disabled-D{
    background-color: rgba(194, 25, 25, 0.42)!important;
    border-color: #c21919!important;
}

#A, #D, #answer-disabled-A, #answer-disabled-D{
    padding: 0.5rem;
    background-color: #bee3f8;
    flex-direction: row;
    flex-grow: 1;
    margin: 0.5rem;
}

#B, #C, #answer-disabled-B, #answer-disabled-C {
    padding: 0.5rem;
    background-color: #c6f6d5;
    border-color: #2d9068;
    flex-direction: row;
    flex-grow: 1;
    margin: 0.5rem;
}

.flex-col{
    display: flex;
    width: 100%
}

.tw-border-3 {
    border-width: 3px;
}

.size-input{
    width: 2rem;
    height: 2rem;
    margin-left: 0.75rem;
}

#hint-button {
    background-color: #bee3f8;
    color: #1a202c;
    border: 2.5px solid #3182ce;
}