.submit-button {
    display: none;
    min-width: 80px;
    min-height: 40px;
    color: rgb(236, 236, 236);
    background-color:#4299e1;
    border-color: #1267a6;
    position: absolute;
    right: 10px;
    bottom: -20px;
    padding: 4px 10px;
    border-radius: 0.25rem;
    border-bottom-width: 4px;
}
.active .submit-button {
    display: block;
}

path.number{
    fill: ghostwhite;
}


.option-row:nth-child(1) .option-block:nth-child(1) .shape {
    fill: #2d9068 !important;
}

.option-row:nth-child(1) .option-block:nth-child(2) .shape{
     fill: #d7a907!important;
}

.option-row:nth-child(2) .option-block:nth-child(1) .shape {
     fill:  #3182ce !important;
}

.option-row:nth-child(2) .option-block:nth-child(2) .shape {
    fill: #af53a9 !important;
}

.option-row:nth-child(3) .option-block:nth-child(1) .shape{
    fill: #d76691;!important;
}

.option-row:nth-child(3) .option-block:nth-child(2) .shape{
    fill: #7c582f;
}

