.embedded-hedy {
  display: block;
  width: 1100px;
  height:500px;
  position: relative;
  margin: 0px auto; /*used to give the embedded hedy screen a little bit more space to prevent it from going to 1 column */
}
