/* fragment makes a block appear after a mouse-click. We always use it for code blocks so it inherits the sizes*/
.fragment {
  width: 100%;
  height: 100%;
}

.embedded-hedy {
  width: 100%;
  height: 520px;
}
