{% extends "auth.html" %}

{% from "stats-shared.html" import insert_log_search, insert_accordion_tab %}

{% block main %}
<div class="flex flex-row mb-4 border-b">
    <h1>Statistics overview</h1>
    <div class="ltr:ml-auto rtl:mr-auto">
        <button type="reset" class="green-btn my-1 mx-2 text-white" onclick="window.open('/admin', '_self');">Return to admin page</button>
    </div>
</div>
<div class="px-8">
  <div class="inline-block medium text-2xl">Load data for: </div>
  <a href="javascript:void(0);" class="stats-period-toggle" onclick="hedyApp.stats.getProgramStats(1, this)">This week</a> |
  <a href="javascript:void(0);" class="stats-period-toggle" onclick="hedyApp.stats.getProgramStats(2, this)">Past 2 weeks</a> |
  <a href="javascript:void(0);" class="stats-period-toggle" onclick="hedyApp.stats.getProgramStats(4, this)">Past 4 weeks</a> |
  <a href="javascript:void(0);" class="stats-period-toggle" onclick="hedyApp.stats.getProgramStats(52, this)">Past year</a>

  <div class="shadow-md stats accordion">

    {% call insert_accordion_tab('tab-multi-one', 'Program runs per level') %}
      <div class="stats-data grid grid-cols-1 lg:grid-cols-2 gap-4 mt-5 mx-5">
        <div class="flex flex-col order-1">
          <div class="w-full flex-1 flex flex-col">
            <canvas id="programRunsPerLevelChart" width="400" height="400"></canvas>
          </div>
        </div>
        <div class="flex flex-col order-2">
          <div class="w-full flex-1 flex flex-col">
            <canvas id="errorRatePerLevelChart" width="400" height="400"></canvas>
          </div>
        </div>
      </div>
    {% endcall %}

    {% call insert_accordion_tab('tab-multi-two', 'Program runs per week') %}
      <div>
        <ul id="admin-program-runs-legend" class="stats-legend"></ul>
      </div>

      <div class="stats-data grid grid-cols-1 lg:grid-cols-2 gap-4 mt-5 mx-5">
        <div class="flex flex-col order-1">
          <div class="w-full flex-1 flex flex-col">
            <canvas id="successfulRunsPerWeekChart" class="admin-runs-chart" width="400" height="400"></canvas>
          </div>
        </div>
        <div class="flex flex-col order-2">
          <div class="w-full flex-1 flex flex-col">
            <canvas id="failedRunsPerWeekChart" class="admin-runs-chart" width="400" height="400"></canvas>
          </div>
        </div>
      </div>
    {% endcall %}

    {% call insert_accordion_tab('tab-multi-three', 'Exceptions per level and per week') %}
      <div>
        <ul id="admin-exceptions-legend" class="stats-legend"></ul>
      </div>

      <div class="stats-data grid grid-cols-1 lg:grid-cols-2 gap-4 mt-5 mx-5">
        <div class="flex flex-col order-1">
          <div class="w-full flex-1 flex flex-col">
            <canvas id="exceptionsPerLevelChart" class="admin-exceptions-chart" width="400" height="400"></canvas>
          </div>
        </div>
        <div class="flex flex-col order-2">
          <div class="w-full flex-1 flex flex-col">
            <canvas id="exceptionsPerWeekChart" class="admin-exceptions-chart" width="400" height="400"></canvas>
          </div>
        </div>
      </div>
    {% endcall %}

    {% call insert_accordion_tab('tab-multi-four', 'User types per level and per week') %}
      <div>
        <ul id="admin-users-legend" class="stats-legend"></ul>
      </div>

      <div class="stats-data grid grid-cols-1 lg:grid-cols-2 gap-4 mt-5 mx-5">
        <div class="flex flex-col order-1">
          <div class="w-full flex-1 flex flex-col">
            <canvas id="usersPerLevelChart" width="400" height="400"></canvas>
          </div>
        </div>
        <div class="flex flex-col order-2">
          <div class="w-full flex-1 flex flex-col">
            <canvas id="usersPerWeekChart" width="400" height="400"></canvas>
          </div>
        </div>
      </div>
    {% endcall %}

    {% call insert_accordion_tab('tab-multi-five', 'Quiz scores per level') %}
      <div class="stats-data grid grid-cols-1 lg:grid-cols-2 gap-4 mt-5 mx-5">
        <div class="flex flex-col order-5">
          <div class="w-full flex-1 flex flex-col">
            <canvas id="completedQuizPerLevelChart" class="admin-quiz-chart" width="400" height="400"></canvas>
          </div>
        </div>
        <div class="flex flex-col order-5">
          <div class="w-full flex-1 flex flex-col">
            <canvas id="abandonedQuizPerLevelChart" class="admin-quiz-chart" width="400" height="400"></canvas>
          </div>
        </div>
      </div>

      <div class="stats-data grid grid-cols-1 lg:grid-cols-3 gap-4 mt-5 mx-5">
        <div class="flex flex-col order-5">
          <div class="w-full flex-1 flex flex-col">
            <canvas id="maxScorePerLevelChart" class="admin-quiz-chart" width="400" height="400"></canvas>
          </div>
        </div>
        <div class="flex flex-col order-6">
          <div class="w-full flex-1 flex flex-col">
            <canvas id="minScorePerLevelChart" class="admin-quiz-chart" width="400" height="400"></canvas>
          </div>
        </div>
        <div class="flex flex-col order-5">
          <div class="w-full flex-1 flex flex-col">
            <canvas id="avgScorePerLevelChart" class="admin-quiz-chart" width="400" height="400"></canvas>
          </div>
        </div>
      </div>
    {% endcall %}

    {% call insert_accordion_tab('tab-multi-six', 'Quiz scores per week') %}
      <div>
        <ul id="admin-quiz-legend" class="stats-legend"></ul>
      </div>

      <div class="stats-data grid grid-cols-1 lg:grid-cols-2 gap-4 mt-5 mx-5">
        <div class="flex flex-col order-6">
          <div class="w-full flex-1 flex flex-col">
            <canvas id="completedQuizPerWeekChart" class="admin-quiz-chart" width="400" height="400"></canvas>
          </div>
        </div>
        <div class="flex flex-col order-6">
          <div class="w-full flex-1 flex flex-col">
            <canvas id="abandonedQuizPerWeekChart" class="admin-quiz-chart" width="400" height="400"></canvas>
          </div>
        </div>
      </div>

      <div class="stats-data grid grid-cols-1 lg:grid-cols-3 gap-4 mt-5 mx-5">
        <div class="flex flex-col order-6">
          <div class="w-full flex-1 flex flex-col">
            <canvas id="maxScorePerWeekChart" class="admin-quiz-chart" width="400" height="400"></canvas>
          </div>
        </div>
        <div class="flex flex-col order-6">
          <div class="w-full flex-1 flex flex-col">
            <canvas id="avgScorePerWeekChart" class="admin-quiz-chart" width="400" height="400"></canvas>
          </div>
        </div>
        <div class="flex flex-col order-6">
          <div class="w-full flex-1 flex flex-col">
            <canvas id="minScorePerWeekChart" class="admin-quiz-chart" width="400" height="400"></canvas>
          </div>
        </div>
      </div>
    {% endcall %}

    {% call insert_accordion_tab('tab-multi-seven', 'Search program logs') %}
        {{ insert_log_search() }}
    {% endcall %}

  </div>
</div>

<script>
  $(function() {
    hedyApp.stats.initializeAdminStats();
  });
</script>
{% endblock %}
