{% extends "auth.html" %}

{% block main %}
<div class="bg-white mx-0 lg:mx-16 flex flex-col gap-2 px-8 py-4 shadow-md rounded-lg">
    <h1 class="text-center">Admin overview</h1>
    <div class="flex flex-wrap gap-4 items-center justify-center">
        <button class="green-btn p-4"  id="users_button" onclick="window.open('/admin/users', '_self')">Users overview</button>
        <button class="green-btn p-4"  onclick="window.open('/admin/classes', '_self')">Classes overview</button>
        <button class="green-btn p-4"  onclick="window.open('/admin/adventures', '_self')">Adventures overview</button>
        <button class="green-btn p-4"  onclick="window.open('/admin/achievements', '_self')">Achievements overview</button>
        <button class="green-btn p-4"  onclick="window.open('/admin/stats', '_self')">Statistics</button>
        <button class="green-btn p-4"  onclick="window.open('/admin/logs', '_self')">Logs</button>
    </div>
</div>
{% endblock %}
