{% extends "auth.html" %}

{% block main %}
<div class="flex flex-row border-b">
    <h1>Classes overview</h1>
    <div class="ltr:ml-auto rtl:mr-auto">
        <button type="reset" class="green-btn my-1 mx-2 text-white" onclick="window.open('/admin', '_self');">Return to admin page</button>
    </div>
</div>
<h4 class="text-center">Total amount of shown classes: {{ classes|length }}</h4>
<div class="program w-full mx-auto border-solid border-2 border-orange-400 rounded p-4">
  <table class="table-auto mb-4 w-full text-sm">
    <thead>
      <tr class="font-bold text-left">
          <td id="classname_header">Class name</td>
          <td id="teacher_header">Teacher</td>
          <td id="students_header">Students</td>
          <td id="runs_week_header">Runs this week</td>
          <td id="error_percentage_week_header">Error percentage this week</td>
          <td id="runs_header">Total runs</td>
          <td id="error_percentage_header">Error percentage</td>
          <td id="statistics_header">Statistics</td>
      </tr>
    </thead>
    <tbody>
      {% for class in classes %}
          <tr>
            <td class="classname_cell">{{class.name}}</td>
            <td class="teacher_cell">{{class.teacher}}</td>
            <td class="students_cell">{{class.students}}</td>
            <td class="runs_week_cell">{{class.week_stats.runs}}</td>
            <td class="error_percentage_week_cell">{% if class.week_stats.runs > 0 %}{{(class.week_stats.fails / class.week_stats.runs * 100)|round(2)}}{% else %}0.00{% endif %}%</td>
            <td class="runs_cell">{{class.total_stats.runs}}</td>
            <td class="error_percentage_cell">{% if class.total_stats.runs > 0 %}{{(class.total_stats.fails / class.total_stats.runs * 100)|round(2)}}{% else %}0.00{% endif %}%</td>
            <td id="statistics_cell"><a href="/week_stats/class/{{class.id}}" target="_blank">Click here</a></td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
