{% extends "auth.html" %}

{% block regular_content %}
<div class="flex flex-row items-center justify-between border-b">
    <h1>Achievements overview</h1>
    <button type="reset" class="green-btn" data-cy="return_to_admin_page_button" onclick="window.open('/admin', '_self');">Return to admin page</button>
</div>
<h4 class="text-center">Total amount of users with achievements: {{ total }}</h4>
<div class="program w-3/4 mx-auto border-solid border-2 border-orange-400 rounded p-4">
  <table class="table-auto w-full text-sm">
    <thead>
      <tr class="font-bold text-left">
          <td id="name_header">Achievement name</td>
          <td id="description_header">Description</td>
          <td id="achieved_header">Achieved</td>
          <td id="percentage_header">Percentage</td>
      </tr>
    </thead>
    <tbody>
      {% for key, data in stats.items() %}
          <tr>
            <td class="name_cell">{{data.name}}</td>
            <td class="description_cell">{{data.description}}</td>
            <td class="achieved_cell">{{data.count}}</td>
            <td class="percentage_cell">{{(data.count / total * 100)|round(2)}}%</td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
