
<div id="public-adventures">
    <div id="filters"
        class="flex flex-col sm:flex-row items-center gap-2
        justify-around bg-blue-400 shadow-md rounded-lg p-4 mb-4"
        _="on load set $filtered to {}">
        <div id="search" class="w-full sm:basis-1/2">
            <input id="search_adventure"
                type="search"
                name="search"
                value="{{currentSearch}}"
                {% if currentSearch %}autofocus{% endif %}
                hx-trigger="input changed delay:500ms, search" 
                hx-post="/public-adventures/filter?level={{level}}&lang={{selectedLang}}&tag={{selectedTag}}&search={{currentSearch}}"
                hx-target="#public-adventures"
                placeholder="{{_('search')}}"
                class="border text-black border-gray-500 rounded h-8 px-2 w-full"
                >
        </div>
        <div class="flex w-full sm:basis-1/2 gap-2">
            <div id="levels" class="flex-1">
              <custom-select id="level-select" data-label="{{_('select_levels')}}">
                {% for level in customizations["available_levels"] %}
                    <option {% if selectedLevel|string == level|string %}selected{% endif %}
                        hx-post="/public-adventures/filter?level={{level}}&lang={{selectedLang}}&tag={{selectedTag}}&search={{currentSearch}}"
                        hx-target="#public-adventures"
                        value="{{level}}"
                    >{{ level }}</option>
                {% endfor %}
              </custom-select>
            </div>              
            <div id="languages" class="flex-1">
              <custom-select id="language-select" data-label="{{ lang_to_sym(selectedLang) if selectedLang else _('select_lang') }}">
                <option
                        hx-post="/public-adventures/filter?lang=reset&level={{selectedLevel}}&tag={{selectedTag}}&search={{currentSearch}}"
                        hx-target="#public-adventures"
                        value="">{{_('select_lang')}}</option>
                    {% for lang in available_languages %}
                        <option {% if lang == selectedLang %}selected{% endif %}
                            hx-post="/public-adventures/filter?lang={{lang}}&level={{selectedLevel}}&tag={{selectedTag}}&search={{currentSearch}}"
                            hx-target="#public-adventures"
                            data-value="{{lang}}">{{lang_to_sym(lang)}}</option>
                    {% endfor %}
              </custom-select>
            </div>
                
            <div id="tags" class="flex-1">
              <custom-select data-type="multiple" id="tag-select" data-label="{{ _('select_tag') }}">
                {% for tag in available_tags %}
                  {% set selected = tag in selectedTag %}
                  <option {% if selected %}selected{% endif %} 
                  {% if selected %}
                      hx-post="/public-adventures/filter?tag={{tag}}&reset={{selectedTag}}&level={{selectedLevel}}&lang={{selectedLang}}&search={{currentSearch}}"
                    {% else %}
                      hx-post="/public-adventures/filter?tag={{tag + ',' +  selectedTag}}&level={{selectedLevel}}&lang={{selectedLang}}&search={{currentSearch}}"
                    {% endif %} 
                    hx-target="#public-adventures" value="{{tag}}">{{tag}}</option>
                {% endfor %}
              </custom-select>
            </div>

        </div>
    </div>

      <div id="public-adventures-body">
        {% if adventures|length == 0 %}
            <div class="grid p-5 text-center bg-white shadow-md rounded-lg transition-shadow hover:shadow-lg outline-blue-400 hover:outline hover:outline-2">
                {{_('no_adventures_yet')}}
                <button id="create_adventure_button" class="green-btn mt-4" 
                  _="on click
                    window.open('/for-teachers/customize-adventure', '_self')"
                        data-cy="edit-link"{% if second_teacher and role == 'viewer' %}disabled{% endif %}>{{_('create_adventure')}}</button>
            </div>
        {% else %}
            {% include "incl/adventure-tabs.html" %}
            {% include "incl/editor-and-output.html" %}
        {% endif %}
      </div>
</div>
