
<div id="public_adventures">
  <div id="filters"
      class="flex flex-col sm:flex-row items-center gap-2
      justify-around bg-blue-400 shadow-md dark:shadow-gray-900 rounded-lg p-4 mb-4"
      _="on load set $filtered to {}">
      <div id="search" class="w-full sm:basis-1/2">
          <input id="search_adventure"
              data-cy="search_adventure"
              type="search"
              name="search"
              value="{{currentSearch}}"
              {% if currentSearch %}autofocus{% endif %}
              hx-trigger="input changed delay:500ms, search" 
              hx-post="/public-adventures/filter?level={{level}}&lang={{selectedLang}}&tag={{selectedTag}}&search={{currentSearch}}"
              hx-target="#public_adventures"
              placeholder="{{_('search')}}"
              class="border text-black border-gray-500 rounded h-8 px-2 w-full"
              >
      </div>
      <div class="flex w-full sm:basis-1/2 gap-2">
          <div id="levels" class="flex-1">
            <custom-select id="level_select" data-cy="level_select" data-label="{{_('select_levels')}}">
              {% for level in customizations["available_levels"] %}
                  <option {% if selectedLevel|string == level|string %}selected{% endif %}
                      hx-post="/public-adventures/filter?level={{level}}&lang={{selectedLang}}&tag={{selectedTag}}&search={{currentSearch}}"
                      hx-target="#public_adventures"
                      value="{{level}}"
                  >{{ level }}</option>
              {% endfor %}
            </custom-select>
          </div>              
          <div id="languages" class="flex-1">
            <custom-select id="language_select" data-cy="language_select" data-label="{{ lang_to_sym(selectedLang) if selectedLang else _('select_lang') }}">
              <option
                      hx-post="/public-adventures/filter?lang=reset&level={{selectedLevel}}&tag={{selectedTag}}&search={{currentSearch}}"
                      hx-target="#public_adventures"
                      value="">{{_('select_lang')}}</option>
                  {% for lang in available_languages %}
                      <option {% if lang == selectedLang %}selected{% endif %}
                          hx-post="/public-adventures/filter?lang={{lang}}&level={{selectedLevel}}&tag={{selectedTag}}&search={{currentSearch}}"
                          hx-target="#public_adventures"
                          data-value="{{lang}}">{{lang_to_sym(lang)}}</option>
                  {% endfor %}
            </custom-select>
          </div>
              
          <div id="tags" class="flex-1">
            <custom-select data-type="multiple" id="tag_select" data-cy="tag_select" data-label="{{ _('select_tag') }}">
              {% for tag in available_tags %}
                {% set selected = tag in selectedTag %}
                <option {% if selected %}selected{% endif %} 
                {% if selected %}
                    hx-post="/public-adventures/filter?tag={{tag}}&reset={{selectedTag}}&level={{selectedLevel}}&lang={{selectedLang}}&search={{currentSearch}}"
                  {% else %}
                    hx-post="/public-adventures/filter?tag={{tag + ',' +  selectedTag}}&level={{selectedLevel}}&lang={{selectedLang}}&search={{currentSearch}}"
                  {% endif %} 
                  hx-target="#public_adventures" value="{{tag}}">{{tag}}</option>
              {% endfor %}
            </custom-select>
          </div>

          <!-- false should be removed once reported is implemented in public_adventures.py after PR #5431 -->
          {% if false and is_super_teacher %}
            <div id="report" class="flex-1">
              <div class="dropdown relative" data-type="single" id="report-select" data-value="{{selectedReport}}">
                <button class="toggle-button font-semibold rounded inline-flex justify-between 
                  appearance-none w-full border border-gray-200 text-gray-700 p-2 rounded"
                  onclick="$('#report_dropdown').slideToggle('medium');">
                  <span class="label" data-value="reported">{{selectedReported}}reported?</span>
                  <svg id="keyword_arrow_report" class="fill-current h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                  </svg>
                </button>
                <div class="dropdown-menu dropdown-blue z-30 mt-2 w-full" id="report_dropdown"
                  style="display: none; width: 100%;"
                  _="on mutation of @style
                      set arrow to #keyword_arrow_report
                      if *display == 'none'
                          remove .rotate-180 from arrow
                      else if not arrow.classList.contains('rotate-180')
                          add .rotate-180 to arrow
                      end">
                        <div class="option {% if selected %}selected{% endif %}"
                          {% if selected %}
                          {% else %}
                          {% endif %}>reported</div>
                        <div class="option {% if selected %}selected{% endif %}"
                        {% if selected %}
                        {% else %}
                        {% endif %}>not reported</div>
                  </div>
                </div>
            </div>
          {% endif %}

      </div>
  </div>

    <div id="_body">
      {% if adventures|length == 0 %}
          <div class="grid p-5 text-center bg-white shadow-md dark:shadow-gray-900 rounded-lg transition-shadow hover:shadow-lg outline-blue-400 hover:outline hover:outline-2">
              {{_('no_adventures_yet')}}
              <button id="create_adventure_button" class="green-btn mt-4" 
                _="on click
                  window.open('/for-teachers/customize-adventure', '_self')"
                      data-cy="edit_link"{% if second_teacher and role == 'viewer' %}disabled{% endif %}>{{_('create_adventure')}}</button>
          </div>
      {% else %}
          {% include "incl/adventure-tabs.html" %}
          {% include "incl/editor-and-output.html" %}
      {% endif %}
    </div>
</div>
