<div class="flex gap-4">
  <div class="flex-none w-64 relative" style="max-height: 40em;">
    <div class="overflow-auto bg-white shadow-md htmx-resetscroll h-full"
      data-cy="search-results">

      {% include "public-adventures/incl-adventure-list-elements.html" %}
    </div>

    <!--
    <div class="inset-x-0 h-12 absolute top-0 bg-gradient-to-b from-white"></div>
    <div class="inset-x-0 h-12 absolute bottom-0 bg-gradient-to-t from-white"></div>
    -->
  </div>
  {# min-w-0 is necessary to prevent overflowing content #}
  <div class="flex-1 min-w-0">
    <div id="preview-div">
      <div class="flex h-96 items-center justify-center">
        <div class="text-gray-600">(no adventure selected)</div>
      </div>
    </div>
  </div>
</div>
