{# TABS #}
{% if not enforce_developers_mode %}
      <div id="adventures">
        {% macro adventure_tab(tabname, title, selected, id, tab_class, index) %}
            <div
                class="tab {% if selected and public_adventures_page %}tab-selected{% endif %} flex items-center justify-center whitespace-nowrap {{ tab_class }}"
                id="{{ id }}"
                tabindex="{{ index }}"
                data-tab="{{ tabname }}"
                data-cy="{{ title if tab_class == 'teacher_tab' else tabname }}"
                >
                {{title}}
            </div>
        {% endmacro %}
      {# PANES #}
      <div id="adventures_tab" data-cy="adventures_tab" class="w-full overflow-auto bg-white mb-5 shadow-md">
        {% for adventure in adventures %}
            <div
                data-tabtarget="{{adventure.short_name}}" class="
                {% if adventure.short_name != initial_tab %}hidden{% endif %}
                turn-pre-into-ace show-copy-button p-4 text-adventure-copy"
                value="{{_('put')}}"
                >
                <div id="adv_{{adventure.short_name}}" class="lg:flex lg:flex-row {% if adventure.is_teacher_adventure %}teacher-adv{% endif %}">
                    <div class="w-full {% if adventure.example_code or adventure.is_teacher_adventure %}lg:w-1/2 {% endif %} p-2 ltr:mr-2 rtl:ml-2">
                        {% if adventure.is_teacher_adventure %}{{ adventure.text|safe }}{% else %}{{ adventure.text|commonmark }}{% endif %}
                    </div>
                  {% if adventure.example_code %}
                      <div class="border"></div>
                      <div class="lg:w-1/2 w-full p-2 ltr:ml-2 rtl:mr-2">
                        {% if adventure.is_teacher_adventure %}{{ adventure.example_code|safe }}{% else %}{{ adventure.example_code|commonmark }}{% endif %}
                      </div>
                  {% endif %}
                  {% if public_adventures_page %}
                      <div class="lg:w-1/2 w-full p-2 ltr:ml-2 rtl:mr-2">
                        {{ render_partial('htmx-adventure-card.html', user={"username": username}, adventure=adventure, level=level ) }}
                      </div>
                  {% endif %}
              </div>
              <div class="{% if not adventure.extra_stories %}hidden{% endif %}" id="extra_{{adventure.short_name}}">
            {% for story in adventure.extra_stories %}
                <div class="lg:flex lg:flex-row border-t-2">
                    <div class="lg:w-1/2 w-full p-2 ltr:mr-2 rtl:ml-2">
                        <div class="max-w-prose">
                            {{ story.text|commonmark }}
                        </div>
                  </div>
                  {% if story.example_code %}
                      <div class="border"></div>
                      <div class="lg:w-1/2 w-full p-2 ltr:ml-2 rtl:mr-2">
                          {{ story.example_code|commonmark }}
                      </div>
                  {% endif %}
                </div>
            {% endfor %}
        </div>
        </div>
        {% endfor %}
        {% if parsons %}
            <div data-tabtarget="parsons" class="hidden p-4">
                <div>
                    {% include 'incl/parsons.html' %}
                </div>
            </div>
        {% endif %}
        {% if quiz %}
            <div data-tabtarget="quiz" class="hidden">
                {% include 'quiz/incl-begin.html' %}
            </div>
        {% endif %}
      </div>
    </div>
{% endif %}