    {# PANES #}
    <div id="adventures_tab" data-cy="adventures_tab" class="w-full overflow-auto">
        {% for adventure in adventures %}
            {% set adv_name = adventure.short_name %}
            {% set show_solution = (is_teacher or is_second_teacher) and (adventure.solutions and adventure.solutions|length > 0) and (not session.preview_class) %}
            <div id="adv_{{adv_name}}" data-tabtarget="{{adv_name}}"
                 class="{% if adv_name != initial_tab %}hidden{% endif %}">

                {% if show_solution %}
                    <div class="h-full w-full list-none flex flex-row items-center gap-x-2 xl:gap-x-6 mb-4 mx-2">
                        <div
                            class="cust-adv-tab cust-adv-tab-text cust-adv-tab_{{adv_name}} active flex-initial truncate flex items-center justify-center"
                            data-cy="adventure_content"
                            _="on click remove .active from .cust-adv-tab_{{adv_name}}
                                add .active to me
                                add .hidden to .tab_content_{{adv_name}}
                                remove .hidden from .adventure_content_{{adv_name}}"
                            >
                            <div class="cust-adv-text">{{_('adventure')}}</div>
                        </div>
                        <div
                            class="cust-adv-tab cust-adv-tab-text cust-adv-tab_{{adv_name}} flex-initial truncate flex items-center justify-center"
                            data-cy="adventure_solution"
                            _="on click remove .active from .cust-adv-tab_{{adv_name}}
                                add .active to me
                                add .hidden to .tab_content_{{adv_name}}
                                remove .hidden from .adventure_solution_{{adv_name}}"
                            >
                            <div class="cust-adv-text">{{_('solution')}}</div>
                        </div>
                    </div>
                {% endif %}
                <div class="w-full overflow-auto bg-white mb-5 shadow-md">
                    <div class="tab_content_{{adv_name}} adventure_content_{{adv_name}}
                          turn-pre-into-ace show-copy-button text-adventure-copy">
                        <div class="lg:flex lg:flex-row {% if adventure.is_teacher_adventure %}teacher-adv{% endif %}">
                            <div class="w-full {% if adventure.example_code or adventure.is_teacher_adventure %}lg:w-1/2 {% endif %} p-2 ltr:mr-2 rtl:ml-2">
                                {% if adventure.is_teacher_adventure %}{{ adventure.text|safe }}{% else %}{{ adventure.text|commonmark }}{% endif %}
                            </div>
                            {% if adventure.example_code %}
                            <div class="border"></div>
                            <div class="lg:w-1/2 w-full p-2 ltr:ml-2 rtl:mr-2">
                              {% if adventure.is_teacher_adventure %}{{ adventure.example_code|safe }}{% else %}{{
                              adventure.example_code|commonmark }}{% endif %}
                            </div>
                            {% endif %}
                        </div>
                        <div class="{% if not adventure.extra_stories %}hidden{% endif %}" id="extra_{{adv_name}}">
                            {% for story in adventure.extra_stories %}
                                <div class="lg:flex lg:flex-row border-t-2">
                                    <div class="lg:w-1/2 w-full p-2 ltr:mr-2 rtl:ml-2">
                                        <div class="max-w-prose">
                                            {{ story.text|commonmark }}
                                        </div>
                                    </div>
                                    {% if story.example_code %}
                                      <div class="border"></div>
                                      <div class="lg:w-1/2 w-full p-2 ltr:ml-2 rtl:mr-2">
                                          {{ story.example_code|commonmark }}
                                      </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    {% if show_solution %}
                        <div class="tab_content_{{adv_name}} adventure_solution_{{adv_name}} hidden
                            turn-pre-into-ace show-copy-button text-adventure-copy">
                            <div class="{% if adventure.is_teacher_adventure %}teacher-adv{% endif %}">
                                {% for solution in adventure.solutions %}
                                    <div class="lg:flex lg:flex-row border-t-2">
                                        <div class="lg:w-1/2 w-full p-2 ltr:mr-2 rtl:ml-2">
                                            {% if solution.text %}
                                            <div class="max-w-prose">
                                                {{ solution.text|commonmark }}
                                            </div>
                                            {% endif %}
                                        </div>

                                        <div class="border"></div>
                                        <div class="lg:w-1/2 w-full p-2 ltr:ml-2 rtl:mr-2">
                                            {{ solution.code|commonmark }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
