{% extends "layout.html" %}
{% block full_width_content %}
{% if not raw %}
{% if session.preview_class %}
<div class="bg-red-500 text-white text-sm font-bold px-4 py-3" data-cy="preview_class_banner" role="alert">
    <div class="text-center center-text">{{_('previewing_class').format(class_name=session.preview_class["name"])}} <a data-cy="exit_preview_class_banner" class="text-white" href="/for-teachers/clear-preview-class">{{_('exit_preview_mode')}}</a></div>
</div>
{% endif %}
{% if customizations and customizations["teachers_adventure"] %}
  <div class="bg-red-500 text-white text-sm font-bold px-4 py-3" data-cy="preview_adventure_banner" role="alert">
      <div class="text-center center-text">{{_('previewing_adventure')}} 
        {% if initial_adventure.author == username %}
          <a class="text-white" href="/for-teachers/customize-adventure/{{initial_adventure.id}}">{{_('edit_adventure')}}</a>
        {% else %}
          <a class="text-white" href="/public-adventures">{{_('public_adventures')}}</a>
        {% endif %}
      </div>
  </div>
{% endif %}
<!-- the top row: level dropdown, adventure dropdown and next adventure button -->
<div class="mt-4 py-2 flex gap-2 px-4 items-center justify-between w-full max-w-screen-2xl mx-auto">
  {% if customizations and customizations["available_levels"]%}
    <div class="dropdown relative">
      <button class="blue-btn px-4 inline-flex items-center text-xl" data-cy="dropdown_level_button"
        onclick="$('#level_dropdown').slideToggle('medium');"
        _="on click hedyApp.scrollToLastClickedButton('level_dropdown')">
        <span>{{ _('level_title') }} {{ level_nr }}
          &nbsp;
          {% if assignment_nr %} · {{ _('step_title') }} {{ assignment_nr }} {% endif %}</span>
        <svg id="level_arrow" class="fill-current h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
        </svg>
      </button>
      <div class="dropdown-menu dropdown-blue z-30 min-w-full h-96 overflow-auto" id="level_dropdown"
        style="display: none; padding: 0px !important; margin: 0px; margin-top: 0.25rem;"
        _="on mutation of @style
            set arrow to #level_arrow
            if *display == 'none'
                then remove .rotate-180 from arrow
            else if not arrow.classList.contains('rotate-180')
                add .rotate-180 to arrow
            end">
          {% set dropdown_levels = customizations["available_levels"] if customizations["teachers_adventure"] else range(1, max_level + 1) %}
          {% for dropdown_level in dropdown_levels %}
            <button id="level_button_{{ dropdown_level }}" data-cy="level_button_{{ dropdown_level }}" class="flex justify-between items-center gap-2 px-2 py-2 border-b border-dashed border-blue-500
            {% if dropdown_level == level %}bg-blue-200{% elif dropdown_level not in customizations['available_levels'] %}bg-gray-400 tooltip{% else %}hover:bg-blue-100 bg-blue-200c{% endif %}"
            {% if dropdown_level == level or dropdown_level not in customizations['available_levels']%}disabled{% endif %}
            style="width: 100%;"
            _="on click
            hedyApp.goToLevel({{dropdown_level}})
            then localStorage.setItem('level_dropdown', 'level_button_{{ dropdown_level }}')">
              <div class="{% if dropdown_level in customizations['available_levels'] %}hidden{% endif %} text-center opacity-0 hover:opacity-100 duration-300 absolute inset-0 z-10 items-top">
                <span class="tooltiptext text-xs font-medium absolute rounded shadow-lg !fixed p-2" style="inset: auto; margin-left: -90px; margin-top: -30px; color:black; ">
                  {{ _('tooltip_level_locked') }}
                </span>
              </div>
              <div class="flex-grow h-min min-w-80" tabindex=0>
                  {{ _('level_title') }} {{ dropdown_level }}
              </div>
            </button>
          {% endfor %}
      </div>
    </div>
  {% else %}
    <div class="text-2xl font-bold text-blue-500 whitespace-nowrap flex-0">
      {{ _('level_title') }} {{ level_nr }}
      &nbsp;
      {% if assignment_nr %} · {{ _('step_title') }} {{ assignment_nr }} {% endif %}
    </div>
  {% endif %}
  {% if (customizations and customizations["teachers_adventure"]) or adventures|length == 1 %}
    <div data-cy="teacher_adventure" class="text-blue-800 text-xl font-slab ltr:mr-5 rtl:ml-5">
      {{adventures[0].name}}
    </div>
    {% elif not public_adventures_page %}
    <div class="flex justify-between">
      <div class="dropdown relative">
        <button class="blue-btn px-4 rounded inline-flex items-center gap-2 text-l" data-cy="dropdown_adventure_button"
          onclick="$('#adventure_dropdown').slideToggle('medium');"
          _="on load
          set adv to hedyApp.getCurrentAdv()
          put adv into #adventure_text
          on click hedyApp.scrollToLastClickedButton('adventure_dropdown')">
          <div id="adventure_text"></div>
          <svg id="adventure_arrow" class="fill-current h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
          </svg>
        </button>
        <div class="dropdown-menu dropdown-blue z-30 min-w-full h-96 overflow-auto" id="adventure_dropdown" data-cy="adventure_dropdown"
          style="display: none; padding: 0px !important; margin: 0px; margin-top: 0.25rem;"
          _="on mutation of @style
              set arrow to #adventure_arrow
              if *display == 'none'
                  remove .rotate-180 from arrow
              else if not arrow.classList.contains('rotate-180')
                  add .rotate-180 to arrow
              end">
            {% for adventure in adventures %}
              <button id="adventure_button_{{ adventure.name }}"
              data-cy="adventure_button_{{ adventure.name }}"
              class="flex justify-between items-center gap-2 px-2 py-2 border-b border-dashed border-blue-500 bg-white"
              data-tab="{{adventure.short_name}}"
              tabindex="{{ loop.index }}"
              style="width: 100%;"
              onclick="$('#adventure_dropdown').slideUp('medium');"
              _="on click
              set adv to hedyApp.getCurrentAdv()
              put adv into #adventure_text
              then localStorage.setItem('adventure_dropdown', 'adventure_button_{{ adventure.name }}')">
                  {{ adventure.name }}
              </button>
            {% endfor %}
            {% if parsons %}
              <button id="adventure_button_parsons"
              data-cy="adventure_button_parsons"
              class="flex justify-between items-center gap-2 px-2 py-2 border-b border-dashed border-blue-500 bg-white"
              data-tab="parsons"
              tabindex="{{adventures|length + 1}}"
              style="width: 100%;"
              onclick="$('#adventure_dropdown').slideUp('medium');"
              _="on click
              set adv to hedyApp.getCurrentAdv()
              put adv into #adventure_text
              then localStorage.setItem('adventure_dropdown', 'adventure_button_parsons')">
                  {{_('parsons_title')}}
              </button>
            {% endif %}
            {% if quiz %}
              <button id="adventure_button_quiz"
              data-cy="adventure_button_quiz"
              class="flex justify-between items-center gap-2 px-2 py-2 border-b border-dashed border-blue-500 bg-white"
              data-tab="quiz"
              style="width: 100%;"
              onclick="$('#adventure_dropdown').slideUp('medium');"
              _="on click
              set adv to hedyApp.getCurrentAdv()
              put adv into #adventure_text
              then localStorage.setItem('adventure_dropdown', 'adventure_button_quiz')">
                {{_('quiz_tab')}}
              </button>
            {% endif %}
        </div>
      </div>

      <button data-cy="next_adventure" class="blue-btn next-tab ltr:ml-1 rtl:mr-1"
        _="on click
          set :next to hedyApp.getNext()
          if :next
            set *display to 'block'
            call :next.click()
          else
            set *display to 'none'
          end
          then set adv to hedyApp.getCurrentAdv()
          put adv into #adventure_text
          then localStorage.setItem('adventure_dropdown', 'adventure_button_' + adv)">
          {{_('next_adventure')}}&nbsp;
          <span class="fa fa-arrow-{% if g.dir == "ltr" %}right{% else %}left{% endif %}"></span>
      </button>
    </div>
  {% endif %}
</div>

<!-- the second row: program name, share button, (optional) submit button, cheatsheet button and language button -->
<div class="mt-4 py-2 flex gap-2 px-4 items-center justify-end w-full max-w-screen-2xl mx-auto">
  <div id="program_name_container" class="overflow-hidden flex-1 flex border border-blue-800 ltr:divide-x rtl:divide-x-reverse divide-blue-400 rounded">
    <input id="program_name" type="text" class="outline-0 text-2xl font-light text-blue-800 flex-1 bg-transparent focus:bg-blue-100 border-0 px-4">
  </div>
  <button id="share_program_button" class="blue-btn next-tab">
    <span class="fa fa-lock ltr:mr-1 rtl:ml-1"></span>
    {{_('share')}}
  </button>
  {% if current_user_is_in_class %}
  <button id="hand_in_button" class="blue-btn next-tab">
    <span class="fa fa-paper-plane ltr:mr-1 rtl:ml-1"></span>
    {{_('submit_program')}}
  </button>
  {% endif %}
  {% if not hide_cheatsheet and cheatsheet %}
  <div class="dropdown relative" id="cheatsheet_dropdown_container">
    <button class="blue-btn ltr:ml-1 rtl:mr-1 rounded inline-flex items-center gap-2" id="dropdown_cheatsheet_button"
      onclick="$('#cheatsheet_dropdown').slideToggle('medium');">
      <span class="fa fa-list ltr:mr-1 rtl:ml-1"></span>
      <span>{{_('cheatsheet_title')}}</span>
      <svg id="cheatsheet_arrow" class="fill-current h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
      </svg>
    </button>
    <div class="dropdown-menu dropdown-blue z-30 mt-2" id="cheatsheet_dropdown"
      style="display: none; padding: 0px !important;"
      _="on mutation of @style
          set arrow to #cheatsheet_arrow
          if *display == 'none'
              remove .rotate-180 from arrow
          else if not arrow.classList.contains('rotate-180')
              add .rotate-180 to arrow
          end">
      <h2 class="px-2 py-6">{{_('cheatsheet_title')}}</h2>
      {% for example in cheatsheet %}
      <div class="flex justify-between items-center gap-4 px-4 py-8 border-t border-dashed border-blue-700">
        <div class="flex-grow h-min min-w-80" tabindex=0>
          {{ example.explanation|commonmark }}
        </div>
        <div class="flex-none">
          <button class="yellow-btn tiny-btn" id="try_button{{ loop.index }}"
            onclick='hedyApp.tryPaletteCode({{example.demo_code|tojson}});'>
            <span class="rtl:hidden">⇥</span>
            <span class="ltr:hidden">⇤</span>
          </button>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% if get_syntax_language(g.lang) != "en" and (not customizations or 'hide_keyword_switcher' not in customizations['other_settings']) %}
    {{ render_partial('hedy-page/htmx-language-switch-button.html', commands=commands) }}
  {% endif %}
</div>

<!-- progress bar -->
{% if username %}
<div id="progress_bar" data-cy="progress_bar" class="w-full max-w-screen-2xl mx-auto">
  <div class="mt-5 ml-4 text-base font-medium dark:text-white">
    <b>{{progress}}% </b>{{_('complete')}}</div>
  <div class="max-w-screen-2xl mr-4 items-center justify-between mx-auto ml-4 rounded-full h-2.5 bg-gray-300">
    <div class="rounded-full h-2.5 bg-blue-800" style="width: {{progress}}%"></div>
  </div>
</div>
{% endif %}

{% endif %}
<div class="w-full max-w-screen-2xl mx-auto" id="code_content_container">
{% block levelbody %}{% endblock %}
</div>

{% include 'incl/share-modal.html' %}
{% include 'incl/hand-in-modal.html' %}
{% if HOC_tracking_pixel %}
  <img src="https://code.org/api/hour/begin_hedy_text.png" data-cy="tracking_pixel" alt="Tracking Pixel - Hour of code" height="1" width="1">
{% endif %}
{% endblock %}
