{% extends "auth.html" %}

{% block regular_content %}
{% from 'incl/breadcrumb.html' import breadcrumb %}
<div class="flex-col">
  {{ breadcrumb([
      {'label': _('adventures')}
    ], 'md:px-16 mt-2 mb-4') }}
  <h1 class="md:px-16 my-5">{{ _('adventures') }}</h1>

  <div class="flex flex-row gap-4 md:px-16">
    <div class="flex flex-col items-left gap-3 bg-white border border-gray-400 shadow-md rounded-lg w-full p-8">
      <h2 class="m-0 basis-1/12"><a href="/for-teachers/adventures/manage">{{ _('my_adventures') }}</a></h2>
      <div class="text-black basis-10/12 text-base">
        <p>{{ _('adventures_info') }}</p>
      </div>
      <div class="flex flex-row gap-3 justify-end basis-1/12">
        <a class="blue-btn-new inline-flex items-center"
           id="create_new_adventure_button"
           data-cy="create_new_adventure_button"
           href="/for-teachers/customize-adventure"
          {% if second_teacher and role == 'viewer' %}disabled{% endif %}>{{ _('create_adventure') }}
        </a>
      </div>
    </div>
  </div>

  <div class="flex flex-row gap-4 mt-10 md:px-16">
    <div class="flex flex-col items-left gap-3 bg-white border border-gray-400 shadow-md rounded-lg w-full p-8">
      <h2 class="m-0 basis-1/12"><a href="/public-adventures">{{ _('public_adventures') }}</a></h2>
      <div class="text-black basis-10/12 text-base">
        <p>{{ _('adventures_info') }}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
