    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&display=swap">
    <link rel="stylesheet" href="{{static('/css/generated.css')}}">
    <link rel="stylesheet" href="{{static('/css/additional.css')}}">
    <link rel="stylesheet" href="{{ static('/css/quiz-css.css') }}">
    <link rel="stylesheet" href="{{ static('/css/progress-bar.css') }}">
    <script src="{{static('/vendor/jquery.min.js')}}" type="text/javascript" crossorigin="anonymous"></script>
    <script src="{{static('/js/appbundle.js')}}" type="text/javascript" crossorigin="anonymous"></script>
    {% if achievement %}
    <script>
    $(function() {
        hedyApp.showAchievements({{ achievement|safe }}, false, "");
    });
    </script>
    {% endif %}

    <div id="achievement_pop-up" class="z-10 fixed top-1/2 left-1/2 translate-x-1/2 -translate-y-1/2 w-1/2 hidden">
        <div class="bg-blue-600 border-2 border-black rounded-lg px-16 pt-0 pb-4 text-center">
            <h3 class="text-white">{{_('achievement_earned')}}</h3>
            <img id="achievement_reached_image" src="{{static('/images/achievement.png')}}" class="h-32 mx-auto">
            <h4 class="text-white italic" id="achievement_reached_title"></h4>
            <p id="achievement_reached_text"></p>
        </div>
    </div>

{% block results %}
    <div class="flex flex-col justify-center items-center p-8">
        <h1 class="p-8 font-bold text-4xl font-slab">{{_('end_quiz')}}</h1>
        <h3 class="p-8 font-semibold text-2xl italic font-slab">{{_('score')}}</h3>
        <div class="p-8 border-4 border-yellow-600 rounded-full h-24 w-24 flex items-center bg-yellow-300 justify-center">
            <p class="text-yellow-600 font-bold text-4xl text-center font-slab ">
                {{ total_score|string }}
            </p>
        </div>
    </div>
    <div class="flex p-4 bg-green-200 justify-between border-t-8 border-green-600">
        <button class="green-btn ltr:ml-1 rtl:mr-1" onclick="window.parent.location='/quiz/result_overview/{{ level_source }}';">
            {{_('go_to_level')}} {{ level }}
        </button>
    </div>

{% endblock %}