{% if question_count %}
    <div class="mx-auto w-fit flex items-center justify-around">
        {% for i in range(1, question_count + 1) %}
        <div class="w-14">
            {% if i <= progress.question %}
                <button type="question_button" hx-post="/quiz/previous_question/{{i}}" class="rounded-full text-sm text-white text-center leading-6 w-6 h-6
                {% if i in correct_answers_so_far %}bg-green-500
                {% elif i == progress.question %}bg-blue-600
                {% else %}bg-red-500
                {% endif %}">{{ i }}
                </button>
            {% else %}
                <div class="rounded-full text-sm text-white text-center leading-6 w-2 h-2 bg-gray-400"></div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
{% endif %}
