{% extends hx_layout %}
{% block regular_content %}

<input type="hidden" data-cy="ctr:{{progress.cypress_page_counter}}">

<div class="my-10">
    <div class="flex flex-col gap-4">
        {% include "quiz/incl-question-progress.html" %}

        <div class="my-10 text-3xl font-bold text-blue-900 text-center">
            {{question.text|commonmark}}
        </div>

        {% if is_correct %}
        <div class="my-10 flex gap-8 text-2xl text-center italic bg-green-100 text-green-600 max-w-screen-md mx-auto rounded-xl shadow-lg border-4 border-green-600 p-4 ">
            <div class="bg-white fa-solid fa-square-check text-4xl flex-0"></div>
            <div class="font-bold mr-8">
                {{correct_answer.feedback|commonmark}}
            </div>
        </div>
        {% else %}
        <div class="my-10 flex gap-8 text-2xl text-center italic bg-red-100 text-red-600 max-w-screen-md mx-auto rounded-xl shadow-lg border-4 border-red-600 p-4 ">
            <div class="bg-white fa-solid fa-square-xmark text-4xl flex-0"></div>
            <div class="font-bold mr-8">
                {{incorrect_answer.feedback|commonmark}}
            </div>
        </div>
        {% endif %}

        <div class="flex flex-col justify-center items-center gap-4 turn-pre-into-ace text-center">
            <p class="text-green-700 italic text-2xl w-96 max-w-full">
                {{_('correct_answer')}}
            </p>
            <div class="px-2 text-lg w-96 max-w-full">
                {{correct_answer.text|commonmark}}
            </div>

            {% if correct_answer.code %}
            <pre class="w-96 max-w-full" level="{{ level }}">{{correct_answer.code}}</pre>
            {% endif %}
        </div>
    </div>
</div>

<div class="flex py-4 px-4 bg-blue-200 justify-end border-t-4 border-blue-400">
    {% if next_question %}
    <button class="green-btn text-2xl px-8 py-4" hx-post="/quiz/next_question" data-cy="advance-quiz">
        {{ _('go_to_question') }} {{ next_question }}
    </button>
    {% else %}
    <button class="green-btn text-2xl px-8 py-4" hx-post="/quiz/next_question" data-cy="advance-quiz">
        {{ _('go_to_quiz_result') }}
    </button>
    {% endif %}
</div>

{% endblock %}