{% extends "quiz/quiz.html" %}
{% block question %}
    <p class="italic text-3xl font-bold text-blue-900 text-center font-slab">{{ question.question_text }}</p>
    {% if question.code %}
        <div class="turn-pre-into-ace w-3/4 mx-auto my-4">
            <pre class="quiz-question no-copy-button" level="{{ level_source }}">{{ question.code }}</pre>
        </div>
    {% endif %}
    {% if wrong_answer_hint %}
        <div class="text-red-900 text-xl my-2 text-center font-slab font-semibold">
            {{ wrong_answer_hint|commonmark }}
        </div>
    {% endif %}
    <div class="flex flex-row justify-center">
        <button type="button" onclick="changeHint()"
                class="bg-blue-500 text-white px-6 py-2 rounded font-medium mx-3 hover:bg-blue-600"
                name="hint-button" id="hint-button">{{_('hint')}}
        </button>
    </div>
    <form action="{{ url_for('submit_answer', level_source=level_source, question_nr=question_nr, attempt=attempt, lang=lang) }}" method="POST">
        {% set counter = namespace(value=0) %}
        <div class="flex flex-col option-col">
            {% for row in question.mp_choice_options|batch(2) %}
                <div class="flex flex-row option-row">
                {% for column in row %}
                    <div class="
                        {% if question_options[counter.value].char_index == chosen_option %}
                            option-block incorrect-option p-1 border-blue-600 tw-border-3 rounded-lg shadow-lg radio-block flex flex-row
                        {% else %}
                            option-block p-1 border-blue-600 tw-border-3 rounded-lg shadow-lg radio-block flex flex-row
                        {% endif %}
                    ">
                        {% if counter.value == 0 %}
                            <div class="absolute z-10 mx-4">{{ triangle|safe }}</div>
                        {% elif counter.value == 1 %}
                            <div class="absolute z-10 mx-4">{{ diamond|safe }}</div>
                        {% elif counter.value == 2 %}
                            <div class="absolute z-10 mx-4">{{ square|safe }}</div>
                        {% elif counter.value == 3 %}
                            <div class="absolute z-10 mx-4">{{ circle|safe }}</div>
                        {% elif counter.value == 4 %}
                            <div class="absolute z-10 mx-4">{{ pentagram |safe }}</div>
                        {% elif counter.value == 5 %}
                            <div class="absolute z-10 mx-4">{{ triangle_6|safe }}</div>
                        {% endif %}
                        <div class="w-full turn-pre-into-ace">
                        <!-- If the first 5 characters of the |commonmark of the option match a <pre> element
                        we know it's a code snippet (as it is stored with ``` triple backticks in the YAML).
                        Then, create a <pre> element with the no-copy-button class and the current level.
                        This is needed for a nice UI and the correct syntax highlighting.
                        -->
                            {% if (question_options[counter.value].option|commonmark)[0:5] == "<pre>" %}
                                <div class="mx-4 mb-2">
                                    <pre class="no-copy-button" level="{{ level_source }}">{{question_options[counter.value].option|commonmark}}</pre>
                                </div>
                            {% else %}
                                <div class="pt-8 px-2 mx-2 mb-2 text-lg">{{ question_options[counter.value].option|commonmark }}</div>
                            {% endif %}
                        </div>
                        <button class="submit-button" type="submit" name="submit-button" value="{{ question_options[counter.value].char_index }}">
                        {% if is_last_attempt %}
                            {{_('go_to_answer')}}
                        {% else %}
                            {{_('submit_answer')}} {{ question_nr }}
                        {% endif %}
                        </button>
                    </div>
                    {% set counter.value = counter.value + 1 %}
                {% endfor %}
                </div>
            {% endfor %}
        </div>
    </form>
    <div class="invisible" id="hidden-hint"> {{ question.hint|commonmark }}</div>
{% endblock %}