        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&display=swap">
        <link rel="stylesheet" href="{{static('/css/generated.css')}}">
        <link rel="stylesheet" href="{{static('/css/additional.css')}}">
        <link rel="stylesheet" href="{{ static('/css/quiz-css.css') }}">
        <div class="flex-container">
            <div class="center-picture p-10"><img class="rounded-full border-green-600 border-8" src="{{ static('/images/quiz_logo.jpg') }}" alt="quiz_logo"/>
            </div>
            <div class="title-block p-8 border-t-8 border-blue-600">
                <h1 class="start-quiz-title font-slab">{{_('start_quiz')}}</h1>
                <h2 class="start-quiz-subtitle"><i> {{_('level_title')}} {{ level }} </i></h2>
            </div>
        </div>
        <div class="p-10 button-bar border-t-8 border-green-600 ">
            <button class="green-btn ltr:ml-1 rtl:mr-1" id="start_quiz_button" onclick="window.location = '/quiz/quiz_questions/{{level}}/1/1'">
                {{_('go_to_first_question')}}
            </button>
        </div>
