<div class="flex gap-4">
  <div class="flex-0 w-64">
    <div class="overflow-auto bg-white shadow-md htmx-resetscroll" style="max-height: 36em;">
      {% for adventure in adventures %}
      <div
        class="adventure-item text-gray-800 flex flex-col cursor-pointer p-2 border-b border-gray-300"
        tabindex="0"
        _="on click remove .selected from .adventure-item then add .selected to me end on keyup[key is 'Enter'] send click to me"
        hx-get="/public-adventures2/preview/{{ adventure.id }}" hx-target="#preview-div"
        >
        <div class="flex-1">
          <span class="text-xl min-h-28">{{ adventure.name }}</span>
        </div>
        {#
        <div alt="This adventure has been cloned {{ adventure.cloned_times }} times">
          {{ adventure.cloned_stars }}
          {{ adventure.cloned_times }}
          {% for x in range(adventure.cloned_stars) %}
            <span class="fa fa-star text-green-500"></span>
          {% endfor %}
        </div>
        #}
        <div class="flex-0 text-xs">
          <div class="flex">
            <div class="flex-1 text-gray-500">{{ adventure.creator }}</div>
            <div>
              <span class="flex-1 text-gray-500" title="{{ adventure.date|jsts_to_unix|datetimeformat }}">
                {{ adventure.date|jsts_to_unix|format_date_rel }}
              </span>
            </div>
          </div>
          <div class="flex flex-row">
            <div class="flex-1 text-gray-500">{{_('level')}} {{ adventure.levels|join(', ') }}</div>
            <div class="flex-none">
              {% if adventure.solution_example %}
                <span class="fa fa-book text-gray-500" title="{{_('this_adventure_has_an_example_solution')}}"></span>
              {% endif %}
            </div>
          </div>
          {% if adventure.tags %}
            <div>
              {% for tag in adventure.tags %}
              <span class="inline-block bg-pink-200 rounded-full px-2 text-xs text-gray-700 mr-1 mb-1">{{ tag }}</span>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>

    {# Pagination buttons #}
    <div class="flex gap-2 w-full items-stretch mt-4">
      <div class="flex-1">
      {% if prev_page_token %}
        <button
          id="prev_button"
          class="green-btn px-2 w-full h-full"
          _="on click set (#page_input).value to '{{prev_page_token}}' then call (#filterform).requestSubmit()">
          {{_('previous_page')}}<br>«</button>
      {% endif %}
      </div>
      <div class="flex-1">
      {% if next_page_token %}
        <button
          id="next_button"
          class="green-btn px-2 w-full h-full"
          _="on click set (#page_input).value to '{{next_page_token}}' then call (#filterform).requestSubmit()">
          {{_('next_page')}}<br>»</button>
      {% endif %}
      </div>
    </div>
  </div>
  <div class="flex-1">
    <div id="preview-div">
      <div class="flex h-96 items-center justify-center">
        <div class="text-gray-600">(no adventure selected)</div>
      </div>
    </div>
  </div>
</div>
