#editor {
    width: 400px;
    height: 200px;
}

.container {
	display: -webkit-flex; /* NEW - Chrome */
	display: -webkit-box; /* NEW - Chrome */
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
}

.col {
    flex: 1;
    -webkit-flex: 1;
}

.output {
    background: black;
    color: white;
    font-size: 14pt;
}