{% extends "layout.html" %}
{% block full_width_content %}
<div tabindex="0" class="flex-grow px-8 common-page-container" data-level="{{level}}"
    data-kwlang="{{ current_language().lang }}">
    <div class="flex flex-row gap-6 items-center">
        <h1> {{ _('level') }} {{level}} — {{initial_adventure.name}}</h1>
    </div>
    <div class="grid grid-cols-2 justify-start items-start w-1/5">
        {% if initial_adventure.submitted %}
        <span class="text-sm">{{ _('written_by') }}</span>
        <span class="font-bold">{{ initial_adventure.username }}</span>
        {% endif %}

        <span class="text-sm">{{ _('last_changed') }}</span>
        <span id="submitted-program-details" class="p-0 m-0 font-bold">{{ program_timestamp }}</span>
    </div>

    <div class="cursor-pointer mt-4 w-fit" _="on click toggle .hidden on #adventure then
            toggle .rotate-180 on #icon">
        <h2>Adventure <i id="icon" class="transition-all duration-300 ease-in-out fa-solid fa-caret-down"></i></h2>
    </div>

    <div id="adventure" data-tabtarget="{{adv_name}}" class="hidden">
        {% set show_solution = False %}
        {% if show_solution %}
        <div class="h-full w-full list-none flex flex-row items-center gap-x-2 xl:gap-x-6 mb-4 mx-2">
            <div class="cust-adv-tab cust-adv-tab-text cust-adv-tab_{{adv_name}} active flex-initial truncate flex items-center justify-center"
                data-cy="adventure_content" _="on click remove .active from .cust-adv-tab_{{adv_name}}
                                     add .active to me
                                     add .hidden to .tab_content_{{adv_name}}
                                     remove .hidden from .adventure_content_{{adv_name}}">
                <div class="cust-adv-text">{{_('adventure')}}</div>
            </div>
            <div class="cust-adv-tab cust-adv-tab-text cust-adv-tab_{{adv_name}} flex-initial truncate flex items-center justify-center"
                data-cy="adventure_solution" _="on click remove .active from .cust-adv-tab_{{adv_name}}
                                     add .active to me
                                     add .hidden to .tab_content_{{adv_name}}
                                     remove .hidden from .adventure_solution_{{adv_name}}">
                <div class="cust-adv-text">{{_('solution')}}</div>
            </div>
        </div>
        {% endif %}
        <div class="w-full overflow-auto bg-white mb-5 shadow-md">
            <div class="tab_content_{{adv_name}} adventure_content_{{adv_name}}
                             turn-pre-into-ace show-copy-button text-adventure-copy">
                <div class="lg:flex lg:flex-row {% if adventure.is_teacher_adventure %}teacher-adv{% endif %}">
                    <div
                        class="w-full {% if adventure.example_code or adventure.is_teacher_adventure %}lg:w-1/2 {% endif %} p-2 ltr:mr-2 rtl:ml-2">
                        {% if adventure.is_teacher_adventure %}{{ adventure.text|safe }}{% else %}{{
                        adventure.text|commonmark }}{% endif %}
                    </div>
                    {% if adventure.example_code %}
                    <div class="border"></div>
                    <div class="lg:w-1/2 w-full p-2 ltr:ml-2 rtl:mr-2">
                        {% if adventure.is_teacher_adventure %}{{ adventure.example_code|safe }}{% else %}{{
                        adventure.example_code|commonmark }}{% endif %}
                    </div>
                    {% endif %}
                </div>
                <div class="{% if not adventure.extra_stories %}hidden{% endif %}" id="extra_{{adv_name}}">
                    {% for story in adventure.extra_stories %}
                    <div class="lg:flex lg:flex-row border-t-2">
                        <div class="lg:w-1/2 w-full p-2 ltr:mr-2 rtl:ml-2">
                            <div class="max-w-prose">
                                {{ story.text|commonmark }}
                            </div>
                        </div>
                        {% if story.example_code %}
                        <div class="border"></div>
                        <div class="lg:w-1/2 w-full p-2 ltr:ml-2 rtl:mr-2">
                            {{ story.example_code|commonmark }}
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>

            {% if show_solution %}
            <div class="tab_content_{{adv_name}} adventure_solution_{{adv_name}} hidden
                                 turn-pre-into-ace show-copy-button text-adventure-copy">
                <div class="{% if adventure.is_teacher_adventure %}teacher-adv{% endif %}">
                    {% for solution in adventure.solutions %}
                    <div class="lg:flex lg:flex-row border-t-2">
                        <div class="lg:w-1/2 w-full p-2 ltr:mr-2 rtl:ml-2">
                            {% if solution.text %}
                            <div class="max-w-prose">
                                {{ solution.text|commonmark }}
                            </div>
                            {% endif %}
                        </div>

                        <div class="border"></div>
                        <div class="lg:w-1/2 w-full p-2 ltr:ml-2 rtl:mr-2">
                            {{ solution.code|commonmark }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>


    
    {% include "hedy-page/editor-and-output.html" %}
    
    <button class="green-btn-new"
    onclick="hedyApp.unsubmit_program('{{initial_adventure.id}}', '{{_('unsubmit_warning')}}')">{{
        _('allow_resubmit') }}
    </button>
    {% if next_program_id %}
        <a class="green-btn" href="/hedy/{{ next_program_id }}/view">{{ _("next_adventure") }}</a>
    {% endif %}
    {% if next_submitted_program_id %}
        <a class="green-btn" href="/hedy/{{ next_program_id }}/view">{{ _("next_adventure") }}</a>
    {% endif %}
    {% if next_classmate_program_id %}
        <a class="green-btn" href="/hedy/{{ next_classmate_program_id }}/view">{{ _("next_student") }}</a>
    {% endif %}
    {% if class_id %}
        <a class="green-btn" href="/for-teachers/class/{{ class_id }}">{{ _("back_to_class") }}</a>
    {% endif %}
</div>
{% endblock %}