{% extends "auth.html" %}

{% block main %}
<div class="flex flex-row">
    <h1>Admin page</h1>
    <button type="reset" class="yellow-btn my-1 mx-4 text-white ltr:ml-auto rtl:mr-auto" onclick="window.open('?filter=all', '_self');">View all users</button>
</div>
<div class="w-full mt-4 mb-4" id="program_filter">
    <form onsubmit="event.preventDefault (); hedyApp.filter_admin();">
        <div class="px-4 w-full flex flex-row border border-gray-400 py-2 rounded-lg">
            <div class="w-80 p-2 mx-4">
                <h2 class="px-8">Visible attributes</h2>
                <div class="flex flex-row items-center">
                    <div class="flex flex-col">
                        <div class="flex flex-row items-center">
                            <input class="attribute inline-block ltr:ml-0 ltr:mr-3 rtl:mr-0 rtl:ml-3" type="checkbox" checked id="username" name="username"><label class="inline-block w-1/2" for="subscribe">Username</label>
                        </div>
                        <div class="flex flex-row items-center">
                            <input class="attribute inline-block ltr:ml-0 ltr:mr-3 rtl:mr-0 rtl:ml-3" type="checkbox" checked id="count" name="count"><label class="inline-block w-1/2" for="subscribe">Count</label>
                        </div>
                        <div class="flex flex-row items-center">
                            <input class="attribute inline-block ltr:ml-0 ltr:mr-3 rtl:mr-0 rtl:ml-3" type="checkbox" checked id="email" name="email"><label class="inline-block w-1/2" for="subscribe">Email</label>
                        </div>
                        <div class="flex flex-row items-center">
                            <input class="attribute inline-block ltr:ml-0 ltr:mr-3 rtl:mr-0 rtl:ml-3" type="checkbox" checked id="created" name="created"><label class="inline-block w-1/2" for="subscribe">Created</label>
                        </div>
                        <div class="flex flex-row items-center">
                            <input class="attribute inline-block ltr:ml-0 ltr:mr-3 rtl:mr-0 rtl:ml-3" type="checkbox" checked id="last_login" name="last_login"><label class="inline-block w-1/2" for="subscribe">Last login</label>
                        </div>
                        <div class="flex flex-row items-center">
                            <input class="attribute inline-block ltr:ml-0 ltr:mr-3 rtl:mr-0 rtl:ml-3" type="checkbox" checked id="birth_year" name="birth_year"><label class="inline-block w-1/2" for="subscribe">Birth year</label>
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <div class="flex flex-row items-center">
                            <input class="attribute inline-block ltr:ml-0 ltr:mr-3 rtl:mr-0 rtl:ml-3" type="checkbox" checked id="country" name="country"><label class="inline-block w-1/2" for="subscribe">Country</label>
                        </div>
                        <div class="flex flex-row items-center">
                            <input class="attribute inline-block ltr:ml-0 ltr:mr-3 rtl:mr-0 rtl:ml-3" type="checkbox" checked id="gender" name="gender"><label class="inline-block w-1/2" for="subscribe">Gender</label>
                        </div>
                        <div class="flex flex-row items-center">
                            <input class="attribute inline-block ltr:ml-0 ltr:mr-3 rtl:mr-0 rtl:ml-3" type="checkbox" checked id="experience" name="experience"><label class="inline-block w-1/2" for="subscribe">Experience</label>
                        </div>
                        <div class="flex flex-row items-center">
                            <input class="attribute inline-block ltr:ml-0 ltr:mr-3 rtl:mr-0 rtl:ml-3" type="checkbox" checked id="teacher" name="teacher"><label class="inline-block w-1/2" for="subscribe">Teacher</label>
                        </div>
                        <div class="flex flex-row items-center">
                            <input class="attribute inline-block ltr:ml-0 ltr:mr-3 rtl:mr-0 rtl:ml-3" type="checkbox" checked id="verified" name="verified"><label class="inline-block w-1/2" for="subscribe">Verified</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-3/4 p-2 mx-4">
                <h2 class="px-8 pb-2">Filtering options</h2>
                <select id="admin_filter_category" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded mr-4">
                    <option value="created" {% if filter and filter == "created" %} selected {% endif %}>Created</option>
                    <option value="last_login" {% if filter and filter == "last_login" %} selected {% endif %}>Last login</option>
                    <option value="email" {% if filter and filter == "email" %} selected {% endif %}>E-mail</option>
                </select>
                <div class="flex flex-row items-center">
                    <input placeholder="Enter a substring..." id="email_filter_input" type="text" {% if email_filter %} value="{{ email_filter }}" {% endif %} class="inline-block {% if not filter or filter != "email" %}hidden{% endif %} appearance-none w-full h-16 bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded my-2 ltr:mr-2 rtl:ml-2">
                    <div id="date_filter_input" class="flex flex-row w-full {% if filter and filter == "email" %}hidden{% endif %}">
                        <input type="date" id="admin_start_date" {% if start_date %} value="{{ start_date }}" {% endif %} class="inline-block appearance-none w-full h-16 bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded my-2 ltr:mr-1 rtl:ml-1">
                        <input type="date" id="admin_end_date" {% if end_date %} value="{{ end_date }}" {% endif %} class="inline-block appearance-none w-full h-16 bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded my-2">
                    </div>
                    <div class="flex flex-row ltr:ml-auto rtl:mr-auto">
                        <button type="reset" class="red-btn mx-2" onclick="window.open('/admin', '_self');">Reset</button>
                        <button type="submit" class="green-btn ltr:ml-2 rtl:mr-2 px-4">Filter</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<h4 class="text-center">Total amount of shown users: {{ users|length }}</h4>
<div class="program w-full border-solid border-2 border-orange-400 rounded p-4">
  <table class="table-auto mb-4 w-full text-sm">
    <thead>
      <tr class="font-bold text-left">
          <td id="username_header">Username</td>
          <td id="count_header">Count</td>
          <td id="email_header">Email</td>
          <td id="created_header">Created</td>
          <td id="last_login_header">Last login</td>
          <td id="birth_year_header">Birth year</td>
          <td id="country_header">Country</td>
          <td id="gender_header">Gender</td>
          <td id="experience_header">Experience</td>
          <td id="teacher_header">Teacher</td>
          <td id="verified_header">Verified</td>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
          <tr>
            <td class="username_cell"><a href="programs?user={{user.username}}" target="_blank">{{user.username}}</a></td>
            <td class="count_cell">{{user.program_count or 0}}</td>
            <td class="email_cell">{{user.email}}</td>
            <td class="created_cell">{{user.created}}</td>
            <td class="last_login_cell">{{user.last_login}}</td>
            <td class="birth_year_cell">{{user.birth_year}}</td>
            <td class="country_cell">{{user.country}}</td>
            <td class="gender_cell">{{user.gender}}</td>
            <td class="experience_cell">{{user.prog_experience}}</td>
            <td class="teacher_cell"><input type="checkbox" {% if user.is_teacher %}checked="checked"{% endif %} onclick="hedyApp.auth.markAsTeacher ('{{user.username}}', {% if user.is_teacher %}false{% else %}true{% endif %})"></td>
            <td class="verified_cell">{{user.email_verified}}</td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script>
    $(document).ready(function() {
        $('.attribute').change(function() {
            const attribute = $(this).attr('id');
            if(!this.checked) {
                $('#' + attribute + '_header').hide();
                $('.' + attribute + '_cell').hide();
            } else {
                $('#' + attribute + '_header').show();
                $('.' + attribute + '_cell').show();
            }
        });
        $('#admin_filter_category').change(function() {
           if ($('#admin_filter_category').val() == "email") {
               $('#date_filter_input').hide();
               $('#email_filter_input').show();
           } else {
               $('#date_filter_input').show();
               $('#email_filter_input').hide();
           }
        });
    });
</script>
{% endblock %}
