{% extends "auth.html" %}

{% block main %}
<div class="px-8">
  <h2>Total programs: {{ program_count }}</h2>
  <h2>Users ({{ user_count }})</h2>
  <table class="users">
    <thead>
      <td>#</td>
      <td>Username</td>
      <td>Programs</td>
      <td>Program count</td>
      <td>Email</td>
      <td>Created</td>
      <td>Last login</td>
      <td>Birth year</td>
      <td>Country</td>
      <td>Gender</td>
      <td>Is teacher</td>
      <td>Email verified</td>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{user.index}}</td>
        <td>{{user.username}}</td>
        <td><a href="programs?user={{user.username}}">Programs</a></td>
        <td>{{user.program_count or 0}}</td>
        <td>{{user.email}}&nbsp;<a style="cursor: pointer" onclick="window.auth.changeUserEmail ('{{user.username}}', '{{user.email}}')">change</a></td>
        <td>{{user.created}}</td>
        <td>{{user.last_login}}</td>
        <td>{{user.birth_year}}</td>
        <td>{{user.country}}</td>
        <td>{{user.gender}}</td>
        <td><input type="checkbox" {% if user.is_teacher %}checked="checked"{% endif %} onclick="window.auth.markAsTeacher ('{{user.username}}', {% if user.is_teacher %}false{% else %}true{% endif %})"</td>
        <td>{{user.email_verified}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
