{% extends "layout.html" %}
{% block body %}
<div class="px-8">
  <h1>{{adventures.title}}</h1>
  <h2>{{adventures.subtitle}}</h3>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
    {% for adventure in adventures.adventures.items () %}
      <div class="border-l-2 border-t-1 bg-white hover:bg-gray-200 justify-between my-2 shadow-md p-3 pl-5 font-light text-lg cursor-pointer" tabindex=0 onclick="window.location = '{{localize_link ('/hedy/adventures/' + adventure [0])}}'">
        <h2>{{adventure [1].name}}</h2>
        <p class="h-8">{{adventure [1].description}}</p>
        <br>
        {% if adventure [1].image %}<img style="width: 200px; height: 200px" src="/images/{{adventure [1].image}}">{% endif %}
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
