{% extends "layout.html" %}
{#

Template which adds most JavaScripts and a default container which you can choose
to use or not to use, depending on which block you fill:

- block full_width_content: will give you access to the full width of the page. Use
  this if you want to make bars that stretch the width of the screen. You are responsible
  for setting a maximum width somewhere, for example with 'common-page-container'.

- block regular_content: will give you a limited-width, padded container to put some
  content into that doesn't need too much control over the layout.

#}
{% block full_width_content %}
<div id="auth_main_container" class="common-page-container">
{% block regular_content %}{% endblock %}
</div>
{% endblock %}
