{% extends "layout.html" %}

{% block body %}
<!-- Move to styles -->
<style>
  form.auth {
    border: solid 1px #eeeeee;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
  }
  form.auth label {
    width: 140px;
    display: inline-block;
  }
  form.auth input {
    padding: 5px;
    border: solid 2px grey;
  }
  form.auth .pointer {
    cursor: pointer;
  }
  form.auth select {
    padding: 5px;
    width: 180px;
  }
</style>
{% block main %}{% endblock %}
{% endblock %}
{% block scripts %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
  <script src="/js/auth.js" type="text/javascript"></script>
  <script>window.State = {lang: "{{ lang }}", level: "{{ level }}"}</script>
{% endblock %}
