<div style='border: solid; border-radius: 5px; border-color: #4299e1; background: #4299e1; font-size: 1.2em; font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";'>
  <div style="margin: 30px 20px; padding: 30px; background-color: white; border: solid; border-color: white; border-radius: 5px;">
    <img style="max-width: 120px;" src="http://www.hedycode.com/images/Hedy-logo.png">
    <div id="content" style="margin-top: 30px; margin-bottom: 20px; white-space: pre-line;">
        {content}
    </div>
  </div>
</div>
