<!-- div left open on purpose, to append the contents -->
<!-- https://chipcullen.com/html-email-and-borders/ -->
<div
  style='border-top: solid 32px #4299e1; border-left: solid 16px #4299e1; border-right: solid 16px #4299e1; border-bottom: solid 32px #4299e1; padding: 16px; font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";'>
  <img style="max-width: 100px" src="http://www.hedycode.com/images/Hedy-logo.png">
  <br><br>
  <!-- div left open on purpose, to append the contents -->
