{% extends "auth.html" %}

{% block regular_content %}
<div>
    <div class="flex relative">
        <div class="mx-auto "><h1>Class: {{ class_info.name }}</h1></div>
        <button class="green-btn ml-auto" id="to_class_button"
                onclick="window.location.href='/for-teachers/class/{{class_info.id}}'">
          {{_('back_to_class')}}
        </button>
    </div>

    <div class="flex pt-2">
        <button class="green-btn ml-auto"
                onclick="hedyApp.loadQuizChart({{ class_info.levels }}, {{ class_info.students }})">
            Load data
        </button>
    </div>

    <div class="shadow-md stats mt-4 p-2">
        <div id="wrapper-static-student-tile" class="flex flex-wrap justify-center">
            {% for student in class_info.students %}
                <div id="static-student-tile-{{student.username}}" class="group student-tile shadow cursor-pointer inline-block border px-6 py-2 m-4 rounded-lg
                transition-all duration-500 ease-in-out hover:bg-green-400 hover:text-white"
                     onclick="hedyApp.studentTileChartClicked(event, {{ student|tojson }},{{ class_info.levels }}, {{ student.programs_ran_per_level }} )">
                    <p id="static-student-name" class="select-none font-bold text-lg">{{ student.username }}</p>
                </div>
            {% endfor %}
        </div>
        <div id="expanded-student-tile" class="hidden w-3/4 shadow-2xl border p-2 mx-auto rounded-lg">
            <p id="student-name" class="font-bold text-lg"></p>
            <canvas id="student-progression-chart"></canvas>
        </div>
    </div>
</div>
{% endblock %}
