{% extends "auth.html" %}

{% block main %}
<div class="px-8">
    {% if achievement %}
    <script>
    $(function() {
        hedyApp.showAchievements({{ achievement|safe }}, false, "");
    });
    </script>
    {% endif %}
  <h2>{{auth.class_overview}}: {{class_info.name}}</h2>
  <div class="program w-full border-solid border-2 border-orange-400 rounded p-4">
      <table class="table-auto mb-4 w-full">
      <thead>
        <tr class="font-bold text-left">
          <th class="text-blue-600">{{auth.username}}</th>
          <th class="text-blue-600">{{auth.last_login}}</th>
          <th class="text-blue-600">{{auth.highest_level_reached}}</th>
          <th class="text-blue-600">{{auth.number_programs}}</th>
          <th class="text-blue-600">{{auth.programs}}</th>
          <th class="text-blue-600">{{auth.latest_shared_program}}</th>
          <th class="text-blue-600">{{auth.remove_student}}</th>
        </tr>
      </thead>
      <tbody>
        {% for student in class_info.students %}
          <tr class="text-left my-2">
            <td>{{student.username}}</td>
            <td>{{student.last_login}}</td>
            <td>{{student.highest_level}}</td>
            <td>{{student.programs}}</td>
            <td><a href="/programs?user={{student.username}}">{{student.username}}'s {{auth.page}}</a></td>
            <td>{% if student.latest_shared %}<a target="_blank" href="{{student.latest_shared.link}}">{{student.latest_shared.name}} ({{student.latest_shared.level}})</a>{% else %}-{% endif %}</td>
            <td><a href="#" onclick="hedyApp.remove_student ('{{class_info.id}}', '{{student.username}}', false)">{{auth.remove}} {{student.username}}</a></td>
          </tr>
        {% endfor %}
      </tbody>
      </table>
  </div>
  <p>{{auth.class_link}}: <a href="{{class_info.link}}"><span class="text-blue-500">{{class_info.link}}</span></a></p>
  <div class="mt-4 flex flex-row">
    <button class="green-btn" onclick="window.location.href = '/for-teachers/customize-class/{{class_info.id}}'">{{ auth.customize_class }}</button>
    <button class="green-btn ml-4" onclick="hedyApp.rename_class ('{{class_info.id}}')">{{auth.rename_class}}</button>
    <button class="green-btn ml-4" onclick="hedyApp.copy_to_clipboard ('{{class_info.link}}')">{{auth.copy_class_link
      }}</button>
    {% if is_beta_teacher %}
    <button class="green-btn ml-4" onclick="window.location.href = '/stats/class/{{class_info.id}}'">{{auth
      .class_stats}}</button>
    {% endif %}
  </div>
  <div class="mt-4 flex flex-row">
    <button class="blue-btn" onclick="window.location.href = '/for-teachers'">{{auth.back_to_class_list}}</button>
    <button class="red-btn ltr:ml-4 rtl:mr-4" onclick="hedyApp.delete_class ('{{class_info.id}}')">{{auth.delete_class}}</button>
  </div>
</div>
{% endblock %}
