{% extends "class-live-stats.html" %}

{% block popup_content %}

<div class="absolute w-full h-full mt-36 top-0 left-0 bg-white bg-opacity-80 z-50">
    <div class="relative justify-center m-36 pt-10 min-h-full ">
      <div class="w-full max-w-8xl p-2 rounded-lg bg-blue-200 shadow-lg opacity-100" id="card1_progress">
        {% if dashboard_options.student %}
            <a class="no-underline float-right" href="/live_stats/class/{{class_info.id}}/student?{{dashboard_options_args}}">
              ❌
            </a>
        {% else %}
            <a class="no-underline float-right" href="/live_stats/class/{{class_info.id}}?{{dashboard_options_args}}">
              ❌
            </a>
        {% endif %}

          <div class="pt-10 px-2 pb-2">
              <h2>❗ {{ selected_item.header }}</h2>
              <p>
                  Flagged Student(s):
              </p>
              <ul class="p-4">
                {% for student in selected_item.students %}
                    <li>
                        {{ student }}
                    </li>
                {% endfor %}
              </ul>
          </div>
        </p>
      </div>
  </div>
</div>

{% endblock %}

