{% extends "auth.html" %}

{% from "stats-shared.html" import insert_log_search, insert_accordion_tab %}

{% block main %}
<div class="px-8">
  <div class="inline-block medium text-2xl">Load data for: </div>

  <!-- TODO: why use anchors that lead to nowhere here? Just use buttons, nice beautiful buttons -->

  <a href="javascript:void(0);" class="stats-period-toggle"
     onclick="hedyApp.stats.getClassStats(('{{class_info.id}}'), 1, this)">This week</a> |
  <a href="javascript:void(0);" class="stats-period-toggle"
     onclick="hedyApp.stats.getClassStats(('{{class_info.id}}'), 2, this)">Past 2 weeks</a> |
  <a href="javascript:void(0);" class="stats-period-toggle"
     onclick="hedyApp.stats.getClassStats(('{{class_info.id}}'), 4, this)">Past 4 weeks</a> |
  <a href="javascript:void(0);" class="stats-period-toggle"
     onclick="hedyApp.stats.getClassStats(('{{class_info.id}}'), 52, this)">Past year</a>


    <button class="green-btn float-right" onclick="window.location.href='/for-teachers/class/{{class_info.id}}'">
      {{_('back_to_class')}}
    </button>


  <div class="shadow-md stats accordion mt-4">

    {% call insert_accordion_tab('tab-multi-one', 'Class program runs per level') %}
      <div class="stats-data grid grid-cols-1 lg:grid-cols-2 gap-4 mt-5 mx-5">

        <div class="flex flex-col order-1">
          <div class="w-full flex-1 flex flex-col">
            <canvas id="classProgramRunsPerLevelChart" width="400" height="400"></canvas>
          </div>
        </div>
        <div class="flex flex-col order-2">
          <div class="w-full flex-1 flex flex-col">
            <canvas id="classErrorRatePerLevelChart" width="400" height="400"></canvas>
          </div>
        </div>
      </div>
    {% endcall %}


    {% call insert_accordion_tab('tab-multi-two', 'Class program runs per week') %}
      <div>
        <ul id="class-program-runs-legend" class="stats-legend"></ul>
      </div>

      <div class="stats-data grid grid-cols-1 lg:grid-cols-2 gap-4 mt-5 mx-5">
        <div class="flex flex-col order-1">
          <div class="w-full flex-1 flex flex-col">
            <canvas id="classSuccessfulRunsPerWeekChart" class="class-runs-chart" width="400" height="400"></canvas>
          </div>
        </div>
        <div class="flex flex-col order-2">
          <div class="w-full flex-1 flex flex-col">
            <canvas id="classFailedRunsPerWeekChart" class="class-runs-chart" width="400" height="400"></canvas>
          </div>
        </div>
      </div>
    {% endcall %}


    {% call insert_accordion_tab('tab-multi-three', 'Class exceptions per level and week') %}
      <div>
        <ul id="class-exceptions-legend" class="stats-legend"></ul>
      </div>

      <div class="stats-data grid grid-cols-1 lg:grid-cols-2 gap-4 mt-5 mx-5">
        <div class="flex flex-col order-1">
          <div class="w-full flex-1 flex flex-col">
            <canvas id="classExceptionsPerLevelChart" class="class-exceptions-chart" width="400"
                    height="400"></canvas>
          </div>
        </div>
        <div class="flex flex-col order-2">
          <div class="w-full flex-1 flex flex-col">
            <canvas id="classExceptionsPerWeekChart" class="class-exceptions-chart" width="400" height="400"></canvas>
          </div>
        </div>
      </div>
    {% endcall %}

    {% call insert_accordion_tab('tab-multi-four', "Students' Overview") %}
      <div>
        <ul id="student-legend" class="stats-legend"></ul>
      </div>

      <div class="stats-data grid grid-cols-1 lg:grid-cols-2 gap-4 mt-5 mx-5">
        <div class="flex flex-col order-1">
          <div class="w-full flex-1 flex flex-col">
            <canvas id="studentSuccessfulRunsPerLevelChart" width="400" height="400" class="student-chart"></canvas>
          </div>
        </div>
        <div class="flex flex-col order-2">
          <div class="w-full flex-1 flex flex-col">
            <canvas id="studentFailedRunsPerLevelChart" width="400" height="400" class="student-chart"></canvas>
          </div>
        </div>
      </div>

      <div class="stats-data grid grid-cols-1 lg:grid-cols-2 gap-4 mt-5 mx-5">
        <div class="flex flex-col order-3">
          <div class="w-full flex-1 flex flex-col">
            <canvas id="studentErrorRatePerLevelChart" width="400" height="400" class="student-chart"></canvas>
          </div>
        </div>
        <div class="flex flex-col order-4">
          <div class="w-full flex-1 flex flex-col">
            <canvas id="studentErrorRatePerWeekChart" width="400" height="400" class="student-chart"></canvas>
          </div>
        </div>
      </div>

      <div class="stats-data grid grid-cols-1 lg:grid-cols-2 gap-4 mt-5 mx-5">
        <div class="flex flex-col order-5">
          <div class="w-full flex-1 flex flex-col">
            <canvas id="studentSuccessfulRunsPerWeekChart" width="400" height="400" class="student-chart"></canvas>
          </div>
        </div>
        <div class="flex flex-col order-6">
          <div class="w-full flex-1 flex flex-col">
            <canvas id="studentFailedRunsPerWeekChart" width="400" height="400" class="student-chart"></canvas>
          </div>
        </div>
      </div>

      <div class="stats-data grid grid-cols-1 lg:grid-cols-2 gap-4 mt-5 mx-5">
        <div class="flex flex-col order-5">
          <div class="w-full flex-1 flex flex-col">
            <canvas id="studentCompletedQuizPerLevelChart" width="400" height="400" class="student-chart"></canvas>
          </div>
        </div>
        <div class="flex flex-col order-5">
          <div class="w-full flex-1 flex flex-col">
            <canvas id="studentAbandonedQuizPerLevelChart" width="400" height="400" class="student-chart"></canvas>
          </div>
        </div>
      </div>

      <div class="stats-data grid grid-cols-1 lg:grid-cols-2 gap-4 mt-5 mx-5">
        <div class="flex flex-col order-6">
          <div class="w-full flex-1 flex flex-col">
            <canvas id="studentCompletedQuizPerWeekChart" width="400" height="400" class="student-chart"></canvas>
          </div>
        </div>
        <div class="flex flex-col order-6">
          <div class="w-full flex-1 flex flex-col">
            <canvas id="studentAbandonedQuizPerWeekChart" width="400" height="400" class="student-chart"></canvas>
          </div>
        </div>
      </div>

      <div class="stats-data grid grid-cols-1 lg:grid-cols-2 gap-4 mt-5 mx-5">
        <div class="flex flex-col order-5">
          <div class="w-full flex-1 flex flex-col">
            <canvas id="studentMaxScorePerLevelChart" width="400" height="400" class="student-chart"></canvas>
          </div>
        </div>
        <div class="flex flex-col order-6">
          <div class="w-full flex-1 flex flex-col">
            <canvas id="studentMaxScorePerWeekChart" width="400" height="400" class="student-chart"></canvas>
          </div>
        </div>
      </div>

      <div class="stats-data grid grid-cols-1 lg:grid-cols-2 gap-4 mt-5 mx-5">
        <div class="flex flex-col order-5">
          <div class="w-full flex-1 flex flex-col">
            <canvas id="studentMinScorePerLevelChart" width="400" height="400" class="student-chart"></canvas>
          </div>
        </div>
        <div class="flex flex-col order-6">
          <div class="w-full flex-1 flex flex-col">
            <canvas id="studentMinScorePerWeekChart" width="400" height="400" class="student-chart"></canvas>
          </div>
        </div>
      </div>

      <div class="stats-data grid grid-cols-1 lg:grid-cols-2 gap-4 mt-5 mx-5">
        <div class="flex flex-col order-5">
          <div class="w-full flex-1 flex flex-col">
            <canvas id="studentAvgScorePerLevelChart" width="400" height="400" class="student-chart"></canvas>
          </div>
        </div>
        <div class="flex flex-col order-6">
          <div class="w-full flex-1 flex flex-col">
            <canvas id="studentAvgScorePerWeekChart" width="400" height="400" class="student-chart"></canvas>
          </div>
        </div>
      </div>

    {% endcall %}


    {% call insert_accordion_tab('tab-multi-five', 'Search program logs') %}
        {{ insert_log_search(class_info.id, class_info.students) }}
    {% endcall %}

  </div>
</div>

<script>
  $(function() {
    hedyApp.stats.initializeClassStats();
  });
</script>
{% endblock %}
