{% extends "auth.html" %}

{% block regular_content %}

<div>
    <!-- Back to class button -->
    <button class="green-btn float-right" id="to_class_button" onclick="window.location.href='/for-teachers/class/{{class_info.id}}'">
      {{_('back_to_class')}}
    </button>

    <!-- Title -->
    <div class="flex flex-col gap-4">
        <div class="font-bold font-slab text-sky-600 text-2xl">
            <h1>RADboard</h1>
        </div>
    </div>

    {% if dashboard_options.collapse %}
    <!-- Card 1: Class Overview (collapsed) -->
    <div class="justify-center">
        <h2 class="text-center">Class Overview</h2>
        <!-- Hide / Show -->
        <div class="float-right relative m-2">
            {% if dashboard_options.show_c1 %}
            <a class="no-underline text-black rounded hover:bg-blue-600"
               href="/live_stats/class/{{class_info.id}}?{{ dashboard_options_args | replace('show_c1=True', 'show_c1=False') }}">
                ☝️ Hide
            </a>
            {% else %}
            <a class="no-underline text-black rounded hover:bg-blue-600"
               href="/live_stats/class/{{class_info.id}}?{{ dashboard_options_args | replace('show_c1=False', 'show_c1=True') }}">
                👇 Show
            </a>
            {% endif %}
        </div>
        <!-- Adventures -->
        <div class="w-full max-w-8xl rounded-lg bg-blue-200 p-6 shadow-lg" id="card1_class_overview">
            {% if dashboard_options.show_c1 %}
            <div class="w-full">
                {% set selected_level = 1 %} <!-- TODO: make adjustable for specific levels (currently hardcoded to 1) -->
                <p class="text-blue-600 font-bold mr-2 ml-4">{{_('level')}} {{ selected_level }}</p>
                <div class="text-sm font-medium text-center text-blue-600 border-b-2 border-gray-200">
                    <ul class="flex flex-wrap -mb-px list-none">
                    <!-- Buttons -->
                    {% for level, adventure_list in adventures.items() %}{% if level|int == selected_level %}
                        {% for adventure in adventure_list %}
                        <li class="mr-1">
                            <div class="inline-block p-4 text-gray-700">
                                {{ adventure["name"] }}
                                {% if adventure["in_progress"] != 0 %}
                                    <span class="ml-2 bg-blue-100 text-blue-800 text-xs font-medium mr-1 px-2.5 py-0.5 rounded-full">{{ adventure["in_progress"] }}</span>
                                {% endif %}
                            </div>
                        </li>                        
                        {% endfor %}
                        <li class="mr-1">
                            <div class="inline-block p-4 text-green-700 border-b-4 border-green-600">
                                Quiz
                                {% set in_progress = quiz_info[selected_level]["students_in_progress"]|length %}
                                {% set finished = quiz_info[selected_level]["students_finished"]|length %}
                                {% if in_progress != 0 %}
                                <span class="ml-1 bg-blue-100 text-blue-800 text-xs font-medium px-2.5 py-0.5 rounded-full">{{ in_progress }}</span>
                                {% endif %}
                                {% if finished != 0 %}
                                <span class="ml-1 bg-green-600 text-white text-xs font-medium px-2.5 py-0.5 rounded-full">{{ finished }}</span>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                    {% endif %}{% endfor %}
                </div>
            </div>
            <!-- Legend -->
            <div class="mt-5 flex">
                <div class="flex m-1">
                    <div><span class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full">Nr.</span></div>
                    <p class="text-xs font-semibold text-gray-700 mt-1">In progress</p>
                </div>
                <div class="flex m-1 ml-3">
                    <div><span class="bg-green-600 text-white  text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full">Nr.</span></div>
                    <p class="text-xs font-semibold text-green-800 mt-1">Quiz finished</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    
    <!-- Expand button -->
    {% if dashboard_options.show_c1 %}
    <div class="mb-12">
        <div class="relative">
            <button class="blue-btn absolute top-0 right-0" id="expand"
                    onclick="window.location.href = '/live_stats/class/{{class_info.id}}?{{ dashboard_options_args | replace("collapse=True", "collapse=False") }}'">
                Expand
            </button>
        </div>
    </div>
    {% endif %}

    {% else %}
    <!-- Card 1: Class Overview (expanded) -->
    <div class="relative">
        <button class="blue-btn absolute top-0 right-0" id="collapse"
                onclick="window.location.href = '/live_stats/class/{{class_info.id}}?{{ dashboard_options_args | replace("collapse=False", "collapse=True") }}'">
            Collapse
        </button>
    </div>
    <div class="justify-center">
        <h2 class="text-center">Class Overview</h2>
        <div class="w-full max-w-8xl rounded-lg bg-blue-200 p-6 shadow-lg" id="card1_progress_exp">
            {% if dashboard_options.show_c1 %}
            <div class="w-full overflow-auto max-h-screen">
                {% for level, adventure_list in adventures.items() %}
                    <p class="text-blue-600 font-bold mr-2 ml-4">{{_('level')}} {{ level }}</p>
                    <div class="text-sm font-medium text-center text-blue-600 border-b-2 border-gray-200 mb-10">
                        <ul class="flex flex-wrap -mb-px list-none">
                        <!-- Buttons -->
                            {% for adventure in adventure_list %}
                            <li class="mr-1">
                                <div class="inline-block p-4 text-gray-700">
                                    {{ adventure["name"] }}
                                    <span class="ml-2 bg-blue-100 text-blue-800 text-xs font-medium mr-1 px-2.5 py-0.5 rounded-full">10</span>
                                </div>
                            </li>
                            {% endfor %}
                            <li class="mr-1">
                                <div class="inline-block p-4 text-green-700 border-b-4 border-green-600">
                                    Quiz
                                    <span class="ml-1 bg-green-100 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded-full">10</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                {% endfor %}
            </div>
            <!-- Legend -->
            <div class="mt-5 flex">
                <div class="flex m-1">
                    <div><span class="border-2 border-black bg-white text-black text-xs font-medium px-1 py-1 rounded-full">Nr.</span></div>
                    <p class="text-xs font-semibold text-gray-700 mt-1 ml-1">In progress</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}


    <!-- Space for Student Details card, otherwise empty -->
    {% block student_space %}
    {% endblock %}


    <div class="justify-center w-full max-w-8xl">
        <div class="grid grid-cols-2 gap-4 my-8" id="columns_grid">
            <!-- Card 2: Student List -->
            <div id="col1">
                <h2 class="text-center">
                  Student List
                </h2>
                {% if dashboard_options.show_c2 %}
                <div class="rounded-lg bg-blue-200 shadow-lg p-0 h-64 overflow-auto" id="card2_list">
                    <div class="float-right relative m-2">
                        <a class="no-underline text-black rounded hover:bg-blue-600"
                           href="/live_stats/class/{{class_info.id}}?{{ dashboard_options_args | replace('show_c2=True', 'show_c2=False') }}">
                            ☝️ Hide
                        </a>
                    </div>
                    <div class="grid grid-cols-2 p-2">
                        <div class="w-full text-left" id="name-col">
                            <h4 class="mb-4">Name</h4>
                            <ul class="max-w-md space-y-1 list-none list-inside">
                                {% for s in class_info.students %}
                                    <div>
                                        <li class="my-2">
                                            <a href="/live_stats/class/{{class_info.id}}/student?{{dashboard_options_args}}&student={{s.username}}" class="text-black hover:text-white" id="show-student">
                                                {{s.username}}
                                            </a>
                                        </li>
                                    </div>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="w-full text-left" id="progress-col">
                            <h4 class="mb-4">Adventure Progress</h4>
                            <ul class="max-w-md space-y-1 list-none list-inside">
                                <li id="s1"><img src="/images/new_media_lab/student1.png"></li>
                                <li id="s2"><img src="/images/new_media_lab/student2.png"></li>
                                <li id="s3"><img src="/images/new_media_lab/student3.png"></li>
                                <li id="s4"><img src="/images/new_media_lab/student4.png"></li>
                                <li id="s5"><img src="/images/new_media_lab/student5.png"></li>
                                <!-- {% for s in class_info.students %}
                                    <div>
                                        <li class="p-0">{{s.highest_level}}</li>
                                    </div>
                                {% endfor %} -->
                            </ul>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="rounded-lg bg-blue-200 shadow-lg p-0 overflow-auto" id="card2_list_hidden">
                    <div class="float-right relative m-2">
                        <a class="no-underline text-black rounded hover:bg-blue-600"
                        href="/live_stats/class/{{class_info.id}}?{{ dashboard_options_args | replace('show_c2=False', 'show_c2=True') }}">
                        👇 Show
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>

            <!-- Card 3: Common Errors -->
            <div id="col2">
                <h2 class="text-center">
                  Common Errors
                </h2>
                {% if dashboard_options.show_c3 %}
                <div class="rounded-lg bg-blue-200 shadow-lg p-0 h-64 overflow-auto" id="card3_misconceptions">
                    <div class="float-right relative m-2">
                        <a class="no-underline text-black rounded hover:bg-blue-600"
                           href="/live_stats/class/{{class_info.id}}?{{ dashboard_options_args | replace('show_c3=True', 'show_c3=False') }}">
                            ☝️ Hide
                        </a>
                    </div>
                    <div class="w-full text-left p-6 mt-1">
                        <ul class="max-w-md space-y-1 list-none list-inside">
                            {% for error_entry in class_info.common_errors.errors %}
                                {% if error_entry.active == 1 %}
                                    <li class="relative w-full border-solid border-2 border-black rounded p-2" id="{{ ident }}">
                                      <a class="no-underline"  href='{{ "/live_stats/class/"~class_info.id~"/pop_up?"~ dashboard_options_args}}'>
                                        <h3 class="cursor-pointer hover:text-white">
                                          {{error_entry.header}}
                                        </h3>
                                      </a>
                                      <a href="#" class="absolute text-black right-5 top-0 no-underline hover:text-white" id="resolve-student" onclick='hedyApp.resolve_student("{{ class_info.id }}", "{{error_entry.id}}", {{('resolve_student_prompt')|default(None)|tojson}})'>✔️ Resolve</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                  </div>
                </div>
                {% else %}
                <div class="rounded-lg bg-blue-200 shadow-lg p-0 overflow-auto" id="card3_misconceptions_hidden">
                    <div class="float-right relative m-2">
                        <a class="no-underline text-black rounded hover:bg-blue-600"
                        href="/live_stats/class/{{class_info.id}}?{{ dashboard_options_args | replace('show_c3=False', 'show_c3=True') }}">
                        👇 Show
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% block popup_content %}
    {% endblock %}
</div>

{% endblock %}
