{% extends "class-live-stats.html" %}

{% block popup_content %}

<div class="absolute w-full h-full mt-36 top-0 left-0 bg-white bg-opacity-80">
    <div class="relative justify-center m-36 pt-10 min-h-full ">
      <div class="w-full max-w-8xl p-2 rounded-lg bg-blue-200 shadow-lg opacity-100" id="card1_progress">
        <a class="no-underline float-right" href="/live_stats/class/{{class_info.id}}?{{dashboard_options_args}}">❌</a>
          <div class="pt-10 px-2 pb-2">
              <h2>❗ Error</h2>
              <p>
                  Jantje has a problem at Lv. 1 ...
              </p>
          </div>
        </p>
      </div>
  </div>
</div>

{% endblock %}

