{% extends "auth.html" %}

{% block main %}
<div class="px-8">
    {% if achievement %}
    <script>
    $(function() {
        hedyApp.showAchievements({{ achievement|safe }}, false, "");
    });
    </script>
    {% endif %}
    <div class="flex flex-row mb-4 items-center gap-x-2">
        <h1 class="inline-block">{{class_info.name}}️</h1><span class="cursor-pointer" onclick='hedyApp.rename_class("{{class_info.id}}", {{_('class_name_prompt')|tojson}})'>✏️</span>
    </div>
  <div class="program w-full border-solid border-2 border-orange-400 rounded p-4 mb-4">
      <table class="table-auto w-full text-sm">
      <thead>
        <tr class="font-bold text-left">
          <th id="username_header">{{_('username')}}</th>
          <th id="last_login_header">{{_('last_login')}}</th>
          <th id="highest_level_header">{{_('highest_level_reached')}}</th>
          <th id="amount_programs_header">{{_('number_programs')}}</th>
          <th id="overview_header">{{_('programs')}}</th>
          <th id="change_password_header" class="text-center">{{_('password')}}</th>
          <th id="remove_student_header" class="text-center">{{_('remove')}}</th>
        </tr>
      </thead>
      <tbody>
        {% for student in class_info.students %}
          <tr>
            <td class="username_cell">{{student.username}}</td>
            <td class="last_login_cell">{{student.last_login}}</td>
            <td class="highest_level_cell">{{student.highest_level}}</td>
            <td class="amount_programs_cell">{{student.programs}}</td>
            <td class="overview_cell"><a href="/programs?user={{student.username}}">{{student.username}}'s {{_('page')}}</a></td>
            <td class="change_password_cell text-center"><a href="#" class="no-underline" onclick='hedyApp.change_password_student("{{student.username}}", {{_('enter_password')|tojson}}, {{_('password_change_prompt')|tojson}})'>✏️</a></td>
            <td class="remove_student_cell text-center"><a href="#" class="no-underline" onclick='hedyApp.remove_student("{{class_info.id}}", "{{student.username}}", {{_('remove_student_prompt')|tojson}})'>🗑️</a></td>
          </tr>
        {% endfor %}
      </tbody>
      </table>
  </div>
  <div class="mt-4 flex flex-row gap-2">
    <button class="green-btn" onclick=$('#add_students_options').toggle();$(this).toggleClass('green-btn');$(this).toggleClass('blue-btn');>{{_('add_students')}}</button>
    <button class="green-btn" onclick="window.location.href = '/for-teachers/customize-class/{{class_info.id}}'">{{_('customize_class')}}</button>
    <button class="green-btn" onclick="window.location.href = '/stats/class/{{class_info.id}}'">{{_('class_stats')}}</button>
    <button class="blue-btn ltr:ml-auto rtl:mr-auto" onclick="window.location.href = '/for-teachers'">{{_('back_to_teachers_page')}}</button>
    <button class="red-btn" onclick='hedyApp.delete_class("{{class_info.id}}", {{_('delete_class_prompt')|tojson}})'>{{_('delete_class')}}</button>
  </div>
  <div id="add_students_options" class="flex flex-col items-center border-t border-gray-500 mt-4" style="display: none;">
      <h2 class="my-4 pt-4">{{_('add_students_options')}}</h2>
      <div class="flex flex-row gap-2">
        <button class="green-btn" onclick='hedyApp.copy_join_link("{{class_info.link}}", {{_('copy_link_success')|tojson}})'>{{_('copy_join_link')}}</button>
        <button class="green-btn" onclick='hedyApp.invite_student("{{class_info.id}}", {{_('invite_prompt')|tojson}})'>{{_('invite_by_username')}}</button>
        <button class="green-btn" onclick="window.open('/for-teachers/create-accounts', '_self')">{{_('create_accounts')}}</button>
      </div>
  </div>
  {% if invites %}
    <div class="border-t border-gray-500 pt-4 mt-4">
      <h2>{{_('pending_invites')}}</h2>
      <div class="inline-block border-solid border-2 border-orange-400 rounded mt-2 mb-4 p-4">
        <table class="table-auto text-sm">
        <thead>
            <tr class="font-bold text-left">
                <th class="ltr:pr-4 rtl:pl-4">{{_('username')}}</th>
                <th class="w-40">{{_('invite_date')}}</th>
                <th class="w-40">{{_('expiration_date')}}</th>
                <th class="px-4 text-center">{{_('remove')}}</th>
            </tr>
        </thead>
        <tbody>
        {% for invite in invites %}
            <tr>
                <td>{{invite.username}}</td>
                <td>{{invite.timestamp}}</td>
                <td>{{invite.expire_timestamp}}</td>
                <td class="text-center"><a href="#" onclick='hedyApp.remove_student_invite("{{invite.username}}", "{{ class_info.id }}", {{_('delete_invite_prompt')|tojson}})'>🗑️</a></td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
      </div>
    </div>
  {% endif %}
</div>
<script>
// Todo: TB -> As we use the same function on the /admin page it would be nice to store this in a function in app.ts
$(document).ready(function() {
    $('.attribute').change(function() {
        const attribute = $(this).attr('id');
        if(!this.checked) {
            $('#' + attribute + '_header').hide();
            $('.' + attribute + '_cell').hide();
        } else {
            $('#' + attribute + '_header').show();
            $('.' + attribute + '_cell').show();
        }
    });
});
</script>
{% endblock %}
