{% extends "level-page.html" %}
{% block levelbody %}
<div tabindex="0" class="flex-grow p-4 overflow-y-scroll">
    {# When we're NOT in adventure mode but DO have adventures, render them in tabs #}
    {% include "incl-adventure-tabs.html" %}

    {% include "incl-editor-and-output.html" %}

    <div class="text-sm mt-10 ltr:mr-5 rtl:ml-5 font-extralight">
    Latest update: {{latest}}
    </div>
</div>

{% endblock %}

{% block scripts %}
  <script src="{{static('/vendor/ace.js')}}" type="text/javascript" charset="utf-8" crossorigin="anonymous"></script>
  <script src="{{static('/vendor/ext-whitespace.js')}}" type="text/javascript" charset="utf-8" crossorigin="anonymous"></script>
  <script src="{{static('/vendor/ext-rtl.js')}}" type="text/javascript" charset="utf-8" crossorigin="anonymous"></script>
  <script src="/client_messages.js" type="text/javascript" crossorigin="anonymous"></script>
  <script>
    window.State = {};
    window.State.lang = "{{ g.lang }}";
    window.State.level = "{{ level }}";
    window.State.level_title = "{{ _('level_title') }}";
    window.State.keyword_language = "{{ g.keyword_lang }}";
    window.State.adventure_name = "{{ adventure_name }}";
    // A copy of window.State.adventure_name but that we don't overwrite when changing tabs. Useful for loading/saving programs when changing tabs.
    window.State.adventure_name_onload = window.State.adventure_name;
    // We load the adventures into the js to have access to their saved programs (if any).
    window.State.adventures = {{ adventures|tojson }};
    window.State.default_program = {{start_code|tojson }};
    window.State.loaded_program = {{ loaded_program|tojson }};
    window.State.default_program_name = {{ (_('level_title') + ' ' + level_nr)|tojson }};
  </script>
  <script src="{{static('/js/appbundle.js')}}" type="text/javascript" crossorigin="anonymous"></script>
  <script src="{{static('/vendor/skulpt.min.js')}}" type="text/javascript" crossorigin="anonymous"></script>
  <script src="{{static('/vendor/skulpt-stdlib.js')}}" type="text/javascript" crossorigin="anonymous"></script>
  <script src="{{static('/vendor/jquery.min.js')}}" type="text/javascript" crossorigin="anonymous"></script>
{% endblock %}
