{% if not raw %}
    {% extends "level-page.html" %}
{% else %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&display=swap">
    <link rel="stylesheet" href="{{static('/css/generated.css')}}">
    <link rel="stylesheet" href="{{static('/css/additional.css')}}">
    <link rel="shortcut icon" type="image/png" href="{{static('/images/Hedy-logo-96x96.png')}}"/>
    <link rel="stylesheet" href="{{static('/vendor/gh-fork-ribbon.min.css')}}"/>
    <link rel="stylesheet" href="{{static('/fontawesome/css/all.min.css')}}"/>
    <script src="{{static('/vendor/jquery.min.js')}}" type="text/javascript" crossorigin="anonymous"></script>
    <script src="{{static('/vendor/js-confetti.browser.js')}}" type="text/javascript" crossorigin="anonymous"></script>
</head>

{% endif %}
{% block levelbody %}
{% if intro_tutorial or tutorial %}
<div id="tutorial-pop-up" class="z-50 fixed hidden" style="width: 500px; top: 20%; left: 50%; transform: translate(-50%, -50%);">
      <div class="bg-blue-500 border border-black rounded-lg px-8 py-4 text-center">
          <h2 id="tutorial_title" class="text-white"></h2>
          <p id="tutorial_text"></p>
          <button id="tutorial_next_button" class="green-btn mt-4">{{_('next_step_tutorial')}}</button>
      </div>
  </div>
{% endif %}
<div tabindex="0" class="p-4">
    {# When we're NOT in adventure mode but DO have adventures, render them in tabs #}
    {% if not raw %}
        {% include "incl/adventure-tabs.html" %}
    {% endif %}
    {% include "incl/editor-and-output.html" %}

    {% if latest %}
      <div class="text-sm mt-10 ltr:mr-5 rtl:ml-5 font-extralight">
      Latest update: {{latest}}
      </div>
    {% endif %}
</div>
{% endblock %}
{% block additional_scripts %}
  <script>
    hedyApp.passStateFromHtml({
      // We load the adventures into the js to have access to their saved programs (if any).
      adventures: {{ adventures|tojson }},
      {% if loaded_program %}
      loaded_program: {{ loaded_program|tojson }},
      {% endif %}
    });
  </script>
  <!-- If we are in tutorial mode -> hide most features, slowly release them -->
  <!-- We only do this for the general tutorial, the level tutorials are loaded on a button click -->
  {% if intro_tutorial %}
    <script>
      $(document).ready(function() {
        hedyApp.startIntroTutorial();
      });
    </script>
  {% endif %}
{% endblock %}
