{% extends "auth.html" %}

{% block regular_content %}
<div>
    <button class="back-btn" id="go_back_button" data-cy="go_back_button" onclick="window.open('/for-teachers/class/{{ current_class.id }}', '_self');">
        <span class="fa fa-arrow-{% if g.dir == "ltr" %}left{% else %}right{% endif %}">&nbsp;</span>
        {{_('go_back')}}
    </button>
    <h2>Create student accounts for {{current_class.name}}</h2>
    <div>
        <form onsubmit="hedyApp.create_accounts('{{_('create_accounts_prompt')}}');event.preventDefault();">

          <div class="border rounded-lg px-20 py-2">
            <div class="flex flex-row mt-4">
              <div class="ltr:ml-auto flex flex-row items-center gap-2">
                <label for="passwords_toggle" class="flex flex-row items-center justify-center cursor-pointer">
                  <div class="relative">
                    <input id="passwords_toggle" type="checkbox" onclick="hedyApp.generate_passwords()" class="sr-only" checked/>
                    <div class="w-10 h-4 bg-gray-400 rounded-full shadow-inner" id="dev_toggle"></div>
                    <div class="toggle-circle absolute w-6 h-6 bg-white rounded-full shadow ltr:-left-1 rtl:-right-1 -top-1 transition" data-cy="toggle_circle"></div>
                  </div>
                  <div class="ltr:ml-3 rtl:mr-3">Auto-generate passwords</div>
                </label>
              </div>
            </div>
            <div class="flex flex-row w-full gap-4 mt-4 items-center">
              <h3 class="w-full my-0 py-0">
                <span>Usernames</span>
                <span id="passwords_title" class="w-full my-0 py-0 hidden"> and passwords</span>
              </h3>
            </div>
            <div class="flex flex-row w-full mb-4 mt-2 gap-4 items-center">
              <span class="w-full my-0 py-0">
                <span id="username_desc">Enter one username per line.</span>
                <span id="passwords_desc" class="hidden">Enter one username and its respective password per line,
                  separated by a semicolon (;). Make passwords random. Predictable passwords could lead to students
                  gaining access to each other’s accounts.</span>
              </span>
            </div>
            <div class="flex flex-row">
              <textarea id="accounts_input" name="Text1" cols="40" rows="5" placeholder="Enter one username per line"
                        required class="usernames_input w-full block appearance-none bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 ltr:pr-8 rtl:pl-8 rounded"></textarea>
              <input id="classes" name="class" value="{{current_class.id}}" disabled hidden>
            </div>
             <div class="flex flex-row mt-4">
              <div class="ltr:ml-auto flex flex-row items-center gap-2">
                <button id="create_accounts_submit" type="submit" data-cy="create_accounts_button"
                        class="blue-btn px-4">{{_('create_accounts')}}</button>
              </div>
             </div>
          </div>
        </form>
    </div>
</div>
{% endblock %}
