{% extends "auth.html" %}

{% block main %}
<div class="px-8">
    <h2>Customize adventure: {{adventure.name}}</h2>
    <div class="mt-4 border-gray-400 border-2 rounded-lg p-4">
        <form onsubmit="event.preventDefault (); hedyApp.update_adventure('{{ adventure.id }}');">
            <div class="flex flex-row">
                <div class="flex flex-col ltr:mr-4 rtl:ml-4">
                    <h3 class="text-center mt-0 mb-4">General settings</h3>
                    <div class="flex flex-row items-center mb-4">
                        <label for="name" class="inline-block w-40 text-xl">Name</label>
                        <input id="custom_adventure_name" required value="{{ adventure.name }}" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 ltr:pr-8 rtl:pl-8 rounded">
                    </div>
                    <div class="flex flex-row items-center mb-4">
                        <label for="level" class="inline-block w-40 text-xl">Level</label>
                        <select id="custom_adventure_level" required class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 ltr:pr-8 rtl:pl-8 rounded">
                            <option disabled selected value="">{{ texts.level }}</option>
                            {% for i in range(1, (max_level + 1)) %}
                                <option value="{{ i }}" {% if i|string == adventure.level %}selected{% endif %}>{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="border border-black rounded-lg p-4 text-sm">
                        Type your adventure of choice on the right-hand side. After creating your adventure you can include it in one of your classes under "customizations".
                        If you want to include a command in your adventure please use code anchors like this:
                        <div class="flex flex-row my-2 items-center">
                            <pre>&lt;code&gt;echo&lt;/code&gt;</pre>
                            <b class="mx-4">&rarr;</b>
                            <code>echo</code>
                        </div>
                        If you want to show actual code snippets, for example to give student a template or example of the code. Please use pre anchors like this:
                        <div class="flex flex-row items-center">
                            <pre>&lt;pre&gt;<br>print Hello world!<br>&lt;/pre&gt;</pre>
                            <b class="mx-4">&rarr;</b>
                            <div class="turn-pre-into-ace w-64" style="white-space: pre-wrap;">
                                <pre id="1" class="no-copy-button">print hello world!</pre>
                            </div>
                        </div>
                        After saving a "preview" button will appear. Make sure to save you program before viewing the adventure. Non-saved changes will be lost!
                    </div>
                </div>
                <div class="flex flex-col ltr:ml-4 rtl:mr-4">
                    <h3 class="text-center mt-0 mb-4">Adventure</h3>
                    <textarea id="custom_adventure_content" class="block appearance-none w-full h-96 bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 rounded">{{ adventure.content }}</textarea>
                    <div class="my-2 flex flex-row items-center text-center border-red-500 border p-4 rounded-lg">
                        <input type="checkbox" name="agree_terms" id="agree_terms "required class="mr-4" {% if adventure.content|length > 5 %}checked{% endif %}>
                        <label for="agree_terms" class="text-sm italic w-full">I agree that my adventure might be made publicly available on Hedy.</label>
                    </div>
                    <div class="flex flex-row my-2">
                        <button class="blue-btn" id="preview_adventure_button" onclick="window.open('/for-teachers/customize-adventure/view/{{ adventure.id }}');">Preview</button>
                        <button type="submit" class="green-btn ltr:ml-auto rtl:mr-auto ltr:mr-2 rtl:m1-2">Save</button>
                        <button type="reset" class="red-btn" onclick="hedyApp.delete_adventure('{{ adventure.id }}');">Delete</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="mt-4 flex flex-row">
        <button class="blue-btn" onclick="window.open('/for-teachers', '_self');">{{auth.back_to_teachers_page}}</button>
    </div>
</div>
{% endblock %}