{% extends "auth.html" %}

{% block main %}
<div class="px-8">
    <h2>{{auth.customize_class}}: {{class_info.name}}</h2>
    <div class="w-full ltr:pr-4 rtl:pl-4">
            {{ page_translations.explanation_1|commonmark }}
        <div class="border border-gray-400 w-3/4 rounded-lg px-2 py-1 my-2">
            <ol>
                {% for step in page_translations.steps %}
                    <li>{{ step }}</li>
                {% endfor %}
            </ol>
        </div>
            {{ page_translations.explanation_2|commonmark }}
    </div>
    <div class="w-full text-center text-red-500 text-xl mt-4 font-bold {% if customizations %}hidden{% endif %}" id="customizations_alert">
        {{ auth.no_customizations }}
    </div>
    <div class="flex flex-col">
        <h3>{{ auth.select_adventures }}</h3>
        <div class="border border-gray-400 py-2 px-4 rounded-lg">
            <table class="table-auto w-full text-center customize_adventure_overview">
                <thead>
                    <tr>
                        <th class="w-40 text-left border-r border-gray-400">{{ ui.adventure }} / {{ ui.level_title }}</th>
                        {% for i in range(1, max_level + 1) %}
                            <th class="w-12"><button class="level-select-button blue-btn w-12" id="level_button_{{ i }}" onclick="hedyApp.select_all_level_adventures('{{ i }}');" value="{{ i }}">{{ i }}</button></th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for key, adventure in adventures.items() %}
                     <tr>
                        {% for name, levels in adventure.items() %}
                            <td class="text-left adventure_keys border-t border-r border-gray-400 cursor-pointer" onclick="hedyApp.select_all_levels_adventure('{{ key }}');" adventure="{{ key }}">{{ name }}</td>
                            {% for i in range(1, max_level + 1) %}
                                <td class="border-t border-gray-400">
                                    {% if i in levels %}<input class="adventure_level_{{ loop.index }} adventure_level_input
                                        {% if not customizations or i not in customizations['levels'] %} hidden{% endif %}"
                                        adventure="{{ key }}" level="{{ i }}"
                                        {% if customizations and customizations['adventures'][key] and i in customizations['adventures'][key] %}
                                            checked
                                        {% endif %} type="checkbox">
                                    {% endif %}
                                </td>
                            {% endfor %}
                        {% endfor %}
                     </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
     <div class="mt-4 flex flex-row">
         <button class="blue-btn ltr:mr-4 rtl:ml-4" onclick="hedyApp.save_customizations('{{class_info.id}}')">{{ auth.save }}</button>
         <button class="yellow-btn text-white" onclick="hedyApp.modal.confirm('{{ auth.reset_adventure_prompt }}', function(){$('.adventure_level_input').prop('checked', false);});">{{ auth.reset_adventures }}</button>
         <button class="red-btn ltr:ml-auto rtl:mr-auto {% if not customizations %}hidden{% endif %}" id="remove_customizations_button" onclick="hedyApp.remove_customizations('{{class_info.id}}')">
             {{ auth.remove_customization }}</button>
     </div>
    <div class="mt-4">
        <button class="green-btn" onclick="window.location.href = '/for-teachers/class/{{class_info.id}}'">{{auth.back_to_class}}</button>
    </div>
</div>
{% endblock %}