{% extends "auth.html" %}

{% block main %}
<div class="px-8">
    <h2>{{auth.customize_class}}: {{class_info.name}}</h2>
    <div class="w-full px-4">
        Hoi! Hier kun je jouw klas personaliseren. Selecteer eerst levels die voor jouw leerlingen beschikbaar mogen zijn.
        De leerlingen kunnen dan alleen deze Hedy levels bezoeken en in programmeren. Kies vervolgens de avonturen die je beschikbaar wilt maken.
        <b>Let op:</b> Niet elk avontuur is voor elk level beschikbaar! Als laatste kun je jouw zelfgemaakt avonturen toevoegen aan de levels.
        Deze kunnen alleen worden toegevoegd aan de levels waarvoor ze gemaakt zijn. Succes!
    </div>
    <div class="flex flex-col">
        <h3>Levels selecteren</h3>
        <div class="flex flex-col flex-wrap h-24 border border-gray-400 px-4 pt-2 rounded-lg">
            {% for i in range(1, max_level + 1) %}
                <div class="flex flex-row items-center">
                    <label class="inline-block w-24" for="{{ i }}">Level {{ i }}</label>
                    <input class="inline-block ltr:ml-0 ltr:mr-3 rtl:mr-0 rtl:ml-3 level_selector" level={{ i }} type="checkbox">
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="flex flex-col">
        <h3>Avonturen selecteren</h3>
        <div class="border border-gray-400 py-2 px-4 rounded-lg">
            <table class="table-auto w-full text-center customize_adventure_overview">
                <thead>
                    <tr>
                        <th class="w-40 text-left border-r border-gray-400">Adventure / Level</th>
                        {% for i in range(1, max_level + 1) %}
                            <th class="w-12">{{ i }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for key, adventure in adventures.items() %}
                     <tr>
                        {% for name, levels in adventure.items() %}
                            <td class="text-left adventure_keys border-t border-r border-gray-400" adventure="{{ key }}">{{ name }}</td>
                            {% for i in range(1, max_level + 1) %}
                                <td class="border-t border-gray-400">{% if i in levels %}<input class="adventure_level_{{ loop.index }} adventure_level_input hidden" adventure="{{ key }}" level={{ i }} type="checkbox">{% endif %}</td>
                            {% endfor %}
                        {% endfor %}
                     </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
     <div class="mt-4">
         <button class="blue-btn" onclick="hedyApp.save_customizations('{{class_info.id}}')">{{auth.save}}</button>
         <button class="red-btn" onclick="hedyApp.reset_customizations()">Wis alle avonturen</button>
     </div>
    <div class="mt-4">
        <button class="green-btn" onclick="window.location.href = '/for-teachers/class/{{class_info.id}}'">{{auth.back_to_class}}</button>
    </div>
</div>
<script>
$(document).ready(function() {
    $('.level_selector').change(function() {
        const level = $(this).attr('level');
        if (this.checked) {
            $('.adventure_level_' + level).each(function(){
                $(this).removeClass('hidden');
                if ($(this).is(':enabled')) {
                    this.checked = true;
                }
            });
        } else {
            $('.adventure_level_' + level).each(function(){
                $(this).addClass('hidden');
            });
        }
    });
});
</script>
{% endblock %}