{% extends "quiz.html" %}

{% block question %}
    <div class="flex flex-col justify-center items-center p-8 ">
        <h1 class="p-8 font-bold text-4xl font-slab">Einde van de quiz!</h1>

        <h3 class="p-8 font-semibold text-2xl italic font-slab">Score</h3>
        <div class="p-8 border-4 border-yellow-600 rounded-full  h-24 w-24  flex items-center bg-yellow-300 justify-center">
            <p class="text-yellow-600 font-bold text-4xl text-center font-slab ">{{ total_score|string }}</p></div>
    </div>

    <div class="p-10 button-bar border-t-8 border-green-600">
        <div></div>
        <button class="green-btn ml-1"
                onclick="window.location = '{{ hedy_link(level, next_assignment) }}';">Ga naar
            level {{ level }} </button>
    </div>

{% endblock %}