{% extends "auth.html" %}
{% block regular_content %}
<div class="px-8 py-12">
    <div class="w-full mb-4" id="program_filter">
            <div class="flex flex-row w-full items-center rounded-lg gap-4">
                <custom-select name="adventure" id="explore_page_adventure" data-autosubmit="true" class="w-2/3" data-type="single">
                    <option hidden 
                        {% if not filtered_adventure %} selected{% endif %} 
                        value=""
                        hx-get="/explore?level={{ filtered_level }}"
                        hx-target="#main_container">{{ _('adventure') }}</option>
                    {% for adventure_key, name in adventures_names.items() %}
                        <option hidden 
                            value="{{ adventure_key }}" 
                            {% if adventure_key == filtered_adventure %}selected{% endif %}
                            hx-get="/explore?adventure={{ adventure_key }}&level={{ filtered_level }}"
                            hx-target="#main_container">{{ name }}</option>
                    {% endfor %}
                </custom-select>
                <custom-select name="level" id="explore_page_level" data-autosubmit="true" class="w-1/3" data-type="single">
                    <option hidden {% if not filtered_level %}selected{% endif %} }
                        value=""
                        hx-get="/explore?adventure={{ filtered_adventure if filtered_adventure else '' }}"
                        hx-target="#main_container"
                        >{{_('level')}}</option>
                    {% for i in range(1, (max_level + 1)) %}
                        <option hidden value="{{ i }}"
                                {% if filtered_level and i|string == filtered_level %}selected{% endif %}
                                hx-get="/explore?adventure={{ adventure_key }}&level={{ i }}"
                                hx-target="#main_container">{{ i }}</option>
                    {% endfor %}
                </custom-select>
            </div>
    </div>
    <!-- Only show our selected favourites when not filtering -->
    {% if not filtered_level and not filtered_adventure and favourite_programs %}
        <div class="border rounded-lg border-yellow-500 mb-4 py-2">
            <h2 class="text-center z-10 font-bold pb-0 mb-0 text-3xl">{{_('hedy_choice_title')}}</h2>
            <div class="flex flex-wrap mx-auto justify-center gap-4 turn-pre-into-ace" data-cy="explore_favourite_programs">
                {% for program in favourite_programs %}
                    {{ render_partial('htmx-adventure-card.html', user={}, adventure=program, is_program=true, is_admin=is_admin, is_favorite=true) }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
        <div class="flex flex-col w-full">
            <div class="flex flex-wrap mx-auto justify-center gap-4 turn-pre-into-ace" data-cy="explore_page_programs">
                {% if programs|length == 0 %}
                    {{_('no_programs')}}
                {% else %}
                    {% for program in programs %}
                    {{ render_partial('htmx-adventure-card.html', user={}, adventure=program, is_program=true, is_admin=is_admin) }}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="flex w-1/3 gap-4 align-self-right">
                {% if prev_page_url %}
                        <a href="{{prev_page_url}}" class="btn green-btn">{{_('previous_page')}}</a>
                {% endif %}
                {% if next_page_url %}
                        <a href="{{next_page_url}}" class="btn green-btn">{{_('next_page')}}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
