{% extends "auth.html" %}

{% block body %}
<div class="px-8 py-12">
    <h2 class="px-8 mb-4">{{auth.explore_programs}}</h2>
    <div class="w-full mb-8" id="program_filter">
        <!-- It would be really nice to use some dynamic loading using AJAX to present the data -->
        <form onsubmit="event.preventDefault (); hedyApp.filter_programs();">
            <div class="flex flex-row px-4 w-full items-center border border-gray-400 py-2 rounded-lg">
                <select id="explore_page_level" class="block appearance-none w-1/3 bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded mr-4">
                    <option disabled selected value="">{{ texts.level }}</option>
                    {% for i in range(1, (max_level + 1)) %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
                <select id="explore_page_adventure" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded mr-4">
                    <option disabled selected value="">{{ ui.adventure }}</option>
                    {% for adventure_key, adventure in adventures.items() %}
                        {% for name, levels in adventure.items() %}
                            <option value="{{ adventure_key }}">{{ name }}</option>
                        {% endfor %}
                    {% endfor %}
                </select>
                <div class="flex flex-row ml-auto">
                    <button type="reset" class="red-btn" onclick="window.location.reload();">Reset</button>
                    <button type="submit" class="green-btn ml-4 px-4">{{ texts.search }}</button>
                </div>
            </div>
        </form>
    </div>
    <div class="flex flex-wrap w-full h-64 turn-pre-into-ace">
    {% for program in programs %}
        <div class="w-64 rounded-lg border border-gray-700 m-4 relative bg-blue-200 cursor-pointer" onclick="window.open (hedyApp.viewProgramLink('{{program.id}}'))">
              <div class="text-gray-700 block text-lg text-center mt-2 pl-16 border-b border-gray-700" style="transform: rotate(5deg);">
                  <p>{{ program.name | truncate(20) }}</p>
              </div>
              <div class="px-4">
                  {{ texts.level }}: <b>{{ program.level }}</b>
              </div>
              <div class="px-4 mb-2">
                  {{ texts.creator }}: <b>{{ program.username | truncate(25) }}</b>
              </div>
             <div class="relative px-4 mb-2">
                 <pre class="no-copy-button max-h-full" id="{{ program.level }}">{{ program.code | truncate(50) }}</pre>
             </div>
         </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
