{% extends "auth.html" %}

{% block main %}
<div id="teacher_classes" class="flex flex-col items-center pb-4 border-b-2">
      <h2>{{auth.teacher_classes}}</h2>
  {% if teacher_classes %}
      <table class="table-auto border-separate space-y-6 border border-black mt-4 mb-4">
        <thead class="bg-gray-200">
          <tr><th class="p-2 w-1/4">{{auth.name}}</th><th class="p-2 w-1/4">{{auth.students[0]|upper}}{{auth.students[1:]}}</th></tr>
        </thead>
        <tbody>
          {% for class in teacher_classes %}
            <tr>
              <td class="text-center p-2"><a href="for-teachers/class/{{class.id}}">{{class.name|e}}</a></td>
              <td class="text-center p-2">{{class.students|length}}</td></tr>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  {% endif %}
  <button class="green-btn mt-4" onclick="hedyApp.create_class ()">{{auth.create_class}}</button>
</div>
<div class="w-full mt-4">
    <h2 class="text-center">{{ content['title'] }}</h2>
    <div class="flex flex-row justify-center mb-4 pb-4 border-b-2">
    {% for section in content['sections'] %}
        <button class="green-btn text-xl m-2 p-4 section-button" id="button-{{loop.index}}" onclick="hedyApp.show_doc_section('{{loop.index}}')">{{section.title}}</button>
    {% endfor %}
    </div>
    {% for section in content['sections'] %}
        <div class="section hidden" id="section-{{loop.index}}">
        {% if section.key != "common_mistakes" %}
            {% for subsection in section['subsections'] %}
                <h4>{{ subsection.title }}</h4>
                <p>{{ subsection.text|commonmark }}</p>
            {% endfor %}
        {% else %}
            <p>{{ section.intro|commonmark }}</p>
            <div class="flex flex-row justify-center">
                {% for level in section['levels'] %}
                    <button class="green-btn text-xl p-4 mx-2 common-mistakes-button" id="cm-button-{{loop.index}}" onclick="hedyApp.show_common_mistakes('{{loop.index}}')">Level {{ level.level }}</button>
                {% endfor %}
            </div>
            {% for level in section['levels'] %}
                <div class="common-mistakes-section hidden turn-pre-into-ace mt-4" id="common_mistakes-{{loop.index}}">
                {{ level.text|commonmark }}
                </div>
            {% endfor %}
        {% endif %}
        </div>
    {% endfor %}
</div>

<script>
{% if welcome_teacher %}
  window.onload = function() {
    hedyApp.modal.alert('{{auth.teacher_welcome}}');
  };
{% endif %}
</script>
{% endblock %}