{% extends "auth.html" %}

{% block body %}
<div class="flex flex-col gap-4">
    <h1 class="text-center mt-4">Highscores</h1>
    <div class="flex flex-row gap-4 items-center justify-center">
        <button class="green-btn" onclick="window.location.href = '/highscores/global'">{{_('whole_world')}}</button>
        <button class="green-btn" onclick="window.location.href = '/highscores/country'">{{_('your_country')}}</button>
        <button class="green-btn" onclick="window.location.href = '/highscores/class'">{{_('your_class')}}</button>
    </div>
    <div class="border-solid border-2 border-orange-400 rounded p-4 w-fit mx-auto">
        <table class="mb-4 text-sm">
            <thead>
              <tr class="font-bold text-left">
                  <td class="w-64">Username</td>
                  <td class="w-40">Achievements</td>
                  <td class="w-40">Country</td>
                  <td class="w-64">Last achievement</td>
              </tr>
            </thead>
            {% for highscore in highscores %}
                <tr>
                    <td><a href="/user/{{highscore.username}}">{{highscore.username}}</a></td>
                    <td>{{highscore.achievements}}</td>
                    <td>{{highscore.country}}</td>
                    <td>{{highscore.last_achievement}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}