{% extends "auth.html" %}

{% block body %}
<div class="px-8 flex flex-col gap-4">
    <h1 class="text-center mt-4">Highscores</h1>
    {% if in_class or has_country %}
        <div class="flex flex-row gap-4 items-center justify-center">
            <button class="green-btn" onclick="window.location.href = '/highscores/global'">{{_('whole_world')}}</button>
            {% if has_country %}
                <button class="green-btn" onclick="window.location.href = '/highscores/country'">{{_('your_country')}}</button>
                {% endif %}
            {% if in_class %}
                <button class="green-btn" onclick="window.location.href = '/highscores/class'">{{_('your_class')}}</button>
            {% endif %}
        </div>
    {% endif %}
    <div class="border-solid border-2 border-orange-400 rounded p-4 w-fit mx-auto">
        <table class="mb-4 text-sm">
            <thead>
              <tr class="font-bold text-left">
                  <td class="w-12"></td>
                  <td class="w-64">{{_('username')}}</td>
                  <td class="w-40">{{_('achievements')[0]|upper}}{{_('achievements')[1:]}}</td>
                  <td class="w-64">{{_('country')}}</td>
                  <td class="w-64">{{_('last_achievement')}}</td>
              </tr>
            </thead>
            {% for highscore in highscores %}
                <tr>
                    <td class="font-bold">{{ loop.index }}.</td>
                    <td><a href="/user/{{highscore.username}}">{{highscore.username}}</a></td>
                    <td>{{highscore.achievements}}</td>
                    <td>{{highscore.country}}</td>
                    <td>{{_('ago')|replace("{timestamp}", highscore.last_achievement)}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}