<div class="hidden md:px-16 " id="classes_table" _="on load hedyApp.getForTeacherTable('classes_table')">
  <div class="">
    <table class="w-full divide-y divide-gray-200">
      <thead>
        <tr class="">
          <th class="py-3 px-4 text-center text-sm font-medium text-gray-700 uppercase tracking-wider rounded-lg">{{_('name')}}</th>
          <th class="py-3 px-4 text-center text-sm font-medium text-gray-700 uppercase tracking-wider">{{_('teacher')}}</th>
          <th class="py-3 px-4 text-center text-sm font-medium text-gray-700 uppercase tracking-wider">{{_('students')[0]|upper}}{{_('students')[1:]}}</th>
          <th class="py-3 px-4 text-center text-sm font-medium text-gray-700 uppercase tracking-wider">{{_('created')}}
          <th class="py-3 px-4 text-center text-sm font-medium text-gray-700 uppercase tracking-wider rounded-lg">{{_('actions')}}</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        {% for class in teacher_classes %}
        <tr >
          <td class="text-center">
            <a href="/class/{{class.id}}" class="view_class" data-cy="view_class_link">
              {{class.name|e}}
            </a>
          </td>
          <td data-cy="teacher_cell" class="py-3 text-center">{{class.teacher}}</td>
          <td class="text-center">{{class.students|length}}</td>
          <td class="text-center">{{ class.date }}</td>
          <td class="text-center ">
            <div class="relative inline-block text-left">
              <button class="blue-btn-new p-1.5 flex justify-center rounded-full"
                      _="on click
                      add .hidden to <div.dropdown-blue:not(#menu-{{loop.index}})/>
                      toggle .hidden on #menu-{{loop.index}}">
                <i class="fa-solid fa-ellipsis"></i>
              </button> 
              <div id="menu-{{loop.index}}" class="z-20 origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg dropdown-blue ring-1 ring-black ring-opacity-5 focus:outline-none opacity-0 max-h-0 transition-all duration-300 ease-in-out">
                <ul class="list-none">
                  <li class="px-8 py-1 hover:bg-gray-200 cursor-pointer  text-blue-900 ease-in transition duration-100">
                    Grading</li>
                  <li class="px-8 py-1 hover:bg-gray-200 cursor-pointer  text-blue-900 ease-in transition duration-100">
                    Configure</li>
                  <li class="px-8 py-1 hover:bg-gray-200 cursor-pointer  text-blue-900 ease-in transition duration-100">
                    Archive</li>
                  <li class="px-8 py-1 hover:bg-gray-200 cursor-pointer  text-blue-900 ease-in transition duration-100">
                    Delete</li>
                </ul>
              </div>
            </div>
          </td>
          <!--DISABLED FOR NOW :)-->
          {#
          <td class="text-center">
            <div class="flex justify-center text-blue-900">
              <button class="flex flex-col w-1/4"
                _="on click window.open('/for-teachers/customize-class/{{class.id}}', '_self')">
                <span class="fas fa-pen block my-auto lg:my-0"></span>
                <span class="hidden lg:block mt-1">{{_('customize')}}</span>
              </button>
              <button class="flex flex-col w-1/4" data-cy="duplicate_{{class.name}}"
                onclick='hedyApp.duplicate_class("{{class.id}}", "{{class.second_teachers}}", {{_('
                second_teacher_copy_prompt')|default(None)|tojson}}, {{_('class_name_prompt')|default(None)|tojson}}, {%
                if class.teacher !=username %}"{{class.name}}"{% else %}""{% endif %})'>
                <span class="fas fa-copy block my-auto lg:my-0"></span>
                <span class="hidden lg:block mt-1">{{_('duplicate')}}</span>
              </button>
              <button class="flex flex-col w-1/4"
                _="on click window.open('/for-teachers/class/{{class.id}}/preview', '_self')">
                <span class="fas fa-eye block my-auto lg:my-0"></span>
                <span class="hidden lg:block mt-1">{{_('preview')}}</span>
              </button>
              <button data-cy="remove_class" class="flex flex-col w-1/4" hx-confirm="{{_('delete_class_prompt')}}"
                hx-trigger="click" hx-delete="/class/{{class.id}}" hx-target="#classes_table" hx-swap="outerHTML">
                <span class="fas fa-trash block text-red-700 my-auto lg:my-0"></span>
                <span class="text-red-700 hidden lg:block mt-1">{{_('remove')}}</span>
              </button>
            </div>
          </td>
          #}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
