<div class="adventure grid grid-rows-[1fr_100px] bg-white shadow-md rounded-lg transition-shadow hover:shadow-lg outline-blue-400 hover:outline hover:outline-2"
    data-lang="{{adventure.language or current_language().lang}}"
    _="on removeMe remove me">
    <div class="py-4 px-6">
        {% if adventure["creator"] == user["username"] %}
            <h2 class="name underline cursor-pointer"
                _="on click window.open('/for-teachers/customize-adventure/{{adventure.id}}', '_self')">{{adventure.name}}
            </h2>
        {% else %}
            <h2 class="name">{{ adventure.name|e }}</h2>
        {% endif %}

        {% set creator = _('owner') if adventure["author"] != adventure["creator"] else _('creator') %}
        {% if adventure["creator_public_profile"] %}
            <p class="text-gray-600 mt-1">{{ creator }}: <a href="/user/{{adventure.creator}}">{{ adventure.creator }}</a></p>
        {% else %}
            <p class="text-gray-600 mt-1">{{ creator }}: {{ adventure.creator }}</p>
        {% endif %}
        {% if adventure["author"] != adventure["creator"] %}
            <p class="text-gray-600 mt-1">{{_('creator')}}: {{ adventure.author }}</p>
        {% endif %}
        <p class="text-gray-600 mt-1">
            <!-- adventure.level will gradually be removed until we have all adventures using only levels. -->
            {% if adventure.levels and adventure.levels|length > 1 %}
                {{_('levels')}}: {% for level in adventure.levels %}
                    {{level}}{% if loop.index != adventure.levels|length %}, {% endif %}
                {% endfor %}
            {% else %}
                {{_('level')}}: {{ adventure.level }}
            {% endif %}
        </p>
        {% if adventure.get("language") %}
            <p class="text-gray-600 mt-1">{{_('language')}}: {{ lang_to_sym(adventure.language) }}</p>
        {% endif %}
        {% if adventure["cloned_times"] %}
            <p class="text-gray-600 mt-1">
                {{_('cloned_times')}}: {{adventure["cloned_times"]}}
            </p>
        {%endif%}
        <p class="text-gray-600 mt-1">{{_('last_update')}}: {{ adventure.date }}</p>

        {% if adventure["tags"]|length > 0 %}
            {{ render_partial('htmx-tags-list.html', tags=adventure["tags"], adventure_id=adventure.id) }}
        {%endif%}
    </div>
    <div id="actions"
        class="flex items-center px-6 py-4 bg-gray-200 shadow-lg">
        <a class="green-btn mr-1 no-underline cursor-pointer" href="/adventure/{{ adventure.name }}?creator={{ adventure.creator }}">{{_('preview')}}</a>
        {% if user["username"] != adventure["creator"] %}
            <button class="green-btn" id="clone_adventure_btn_{{level}}"
                data-id="{{adventure.id}}">{{_('clone')}}</button>
        {%else%}
            <!-- TODO: button to add to class(es) -->
            <a
                href="/for-teachers/customize-adventure/{{adventure.id}}"
                class="green-btn" id="edit_adventure_button">
                {{_('edit_adventure')}}</a>
        {% endif %}
    </div>
</div>