<div class="dropdown relative">
    <button class="white-btn inline-flex items-center gap-2" id="share_option_dropdown_{{ loop_index }}"
      onclick="$('#share_dropdown_{{ loop_index }}').slideToggle('medium');">
      <span class="fa fa-{% if program.public %}globe{% else %}lock{% endif %}"></span>
      <span>{% if program.public %}{{_('public')}}{% else %}{{_('private')}}{% endif %}</span>
      <svg id="share-arrow_{{ loop_index }}" class="fill-current h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
      </svg>
    </button>
    <div class="dropdown-menu z-30 min-w-full" id="share_dropdown_{{ loop_index }}"
      style="display: none; padding: 0px !important; margin: 0px; margin-top: 0.25rem;"
      _="on mutation of @style
          set arrow to #share-arrow_{{ loop_index }}
          if *display == 'none'
              remove .rotate-180 from arrow
          else if not arrow.classList.contains('rotate-180')
              add .rotate-180 to arrow
          end">
        <button id="share_button_{{ loop_index }}" class="gray-btn text-blue-500 min-w-full inline-flex items-center gap-2"
        hx-post="/programs/share/{{program.id}}/{{loop_index}}"
        data-cy="unshare_program_{{ loop_index }}"
        hx-swap="outerHTML"
        hx-target="#share_option_dropdown_{{ loop_index }}"
        >
          <span class="fa fa-{% if program.public %}lock{% else %}globe{% endif %}"></span>
          <div class="mr-auto" tabindex=0>
              {% if program.public %}{{_('private')}}{% else %}{{_('public')}}{% endif %}
          </div>
        </button>
    </div>
  </div>