<script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>
<div id="editor-area" class="grid grid-cols-1 lg:grid-cols-2 gap-4 mt-5">
    <!-- Row 1: editor, output pane -->
    <div class="flex flex-col order-1 relative" id="code_editor" style="height: 22rem;">
      <!-- language selector overlay -->
      {% if other_keyword_language() and (not customizations or 'hide_keyword_switcher' not in customizations['other_settings']) and not editor_readonly %}
          <div id="main_editor_keyword_selector">
              <div class="dropdown inline-block ltr:right-0 rtl:left-0 absolute z-10 mx-2 mt-2 mb-0 text-white" lang="{{ current_keyword_language().lang }}">
                  <button class="inline-flex items-center text-xl px-2 bg-blue-600 rounded-lg" type="button">
                      {{ current_keyword_language().sym }} <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round"  d="M19 9l-7 7-7-7"></path></svg>
                  </button>
                  <div class="dropdown-menu absolute hidden ltr:right-0 rtl:left-0">
                      <ul class="dropdown-menu list-none text-xl z-10 text-white px-4 ltr:mr-1 rtl:ml-1 bg-blue-600 rounded-lg mt-2">
                            <a class="no-underline text-white" href="#" onclick="hedyApp.change_keyword_language ('{{ current_keyword_language().lang }}', '{{ other_keyword_language().lang }}');event.preventDefault();"><li>{{ other_keyword_language().sym }}</li></a>
                      </ul>
                  </div>
              </div>
              <div class="dropdown inline-block ltr:right-0 rtl:left-0 absolute z-10 mx-2 mt-2 mb-0 text-white hidden" lang="{{ other_keyword_language().lang }}">
                  <button class="inline-flex items-center text-xl px-2 bg-blue-600 rounded-lg" type="button">
                      {{ other_keyword_language().sym }} <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round"  d="M19 9l-7 7-7-7"></path></svg>
                  </button>
                  <div class="dropdown-menu absolute hidden ltr:right-0 rtl:left-0">
                      <ul class="dropdown-menu list-none text-xl z-10 text-white px-4 ltr:mr-1 rtl:ml-1 bg-blue-600 rounded-lg mt-2">
                            <a class="no-underline text-white" href="#" onclick="hedyApp.change_keyword_language ('{{ other_keyword_language().lang }}', '{{ current_keyword_language().lang }}');event.preventDefault();"><li>{{ current_keyword_language().sym }}</li></a>
                      </ul>
                  </div>
              </div>
          </div>
      {% endif %}
      <div class="w-full flex-1 flex flex-col">
        <div id="editor" style="background: #272822; font-size:0.95em; color: white" lang="en"
        data-loaded-program="{{not not loaded_program}}"
          {% if editor_readonly %}data-readonly="true"{% endif %}
          data-lskey="level_{{level_nr}}_{{assignment_nr}}_code" class="w-full flex-1 text-lg rounded">{{(loaded_program or {}).code or adventures[0].loaded_program.code or adventures[0].start_code}}
        </div>
        <!-- errorbox -->
        <div id="errorbox"
          class="flex-0 mt-0 bg-red-100 border-t-4 border-red-500 rounded-b text-red-900 px-4 py-3 shadow-md" role="alert"
          style="display: none;">
          <p class="close-dialog" onclick="hedyApp.error.hide ()">X</p>
          <div class="flex">
            <div class="py-1">
              <svg class="fill-current h-6 w-6 text-red-500 ltr:mr-4 rtl:ml-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path
                  d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z" />
              </svg>
            </div>
            <div>
              <p class="caption font-bold">Oops</p>
              <p class="details text-sm">An error occurred.</p>
            </div>
          </div>
        </div>
        <!-- warningbox -->
        <div id="warningbox"
          class="flex-0 mt-0 bg-yellow-100 border-t-4 border-yellow-500 rounded-b text-yellow-900 px-4 py-3 shadow-md"
          role="alert" style="display: none;">
          <p class="close-dialog" onclick="hedyApp.error.hide ()">X</p>
          <div class="flex">
            <div class="py-1">
              <svg class="fill-current h-6 w-6 text-yellow-500 ltr:mr-4 rtl:ml-4" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20">
                <path
                  d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z" />
              </svg>
            </div>
            <div>
              <p class="caption font-bold">Oops</p>
              <p class="details text-sm">An error occurred.</p>
            </div>
          </div>
        </div>
        <!-- okbox -->
        <div id="okbox"
          class="flex-0 mt-0 bg-green-100 border-t-4 border-green-500 rounded-b text-green-900 px-4 py-3 shadow-md"
          role="alert" style="display: none;">
          <div class="flex">
            <div class="flex" style="justify-content: space-between; width: 100%; align-items: center;">
              <p class="caption font-bold">Success</p>
              <button id="confetti-button" onclick="hedyApp.confetti_cannon()">🎉</button>
              <!-- <p class="details text-sm">Something went according to plan.</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col order-3 relative" id="code_output" style="height: 22rem;">
        <div class="inline-block ltr:right-0 rtl:left-0 absolute z-10 mx-2 mt-2 text-white">
            <button id="variable_button" class="inline-flex items-center text-xl px-2 bg-blue-600 rounded-lg" onclick="hedyApp.showVariableView()">
                🏷<svg class="float-right w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round"  d="M19 9l-7 7-7-7"></path>
                    </svg>
            </button>
            <div class="absolute hidden inline-block flex ltr:right-0 rtl:left-0 z-10 text-white bg-blue-600 rounded-lg ltr:mr-1 rtl:ml-1 mt-2" id="variables">
                <div id="variables_header" class="text-center text-lg font-bold px-4">{{_('variables')}}</div>
                <ul id="variable-list" class="px-4 whitespace-nowrap list-none mt-0" style="margin-left: 0px;"></ul> <!-- For some reason the Tailwind ml-0 doesn't do the trick here -->
            </div>
        </div>
      <!-- tabindex=0 makes the div focusable -->
      <div id="output" tabindex=0 class="flex-1 rounded p-2 px-3 bg-gray-900 color-white w-full text-lg overflow-auto" style="min-height: 3rem"></div>
      <div id="turtlecanvas" class="flex-0 ltr:pl-4 rtl:pr-4"></div>
      <div id="inline-modal" class="flex-0" style="display: none">
        <div class="py-2 text-left px-3 border-4 border-teal-500 mt-3 rounded bg-green-100">
          <!--Title-->
          <div class="flex justify-between items-center">
            <p class="text-2xl font-bold caption">Header</p>
          </div>
          <!--Body-->
          <form>
            <div class="my-2 flex">
              <input type="text" class="border border-green-400 rounded p-2 px-3 w-3/4" placeholder="{{_('enter_text')}}">
              <input type="submit" onclick="hedyApp.ScrollOutputToBottom()" class="green-btn ltr:ml-3 rtl:mr-3" value="{{_('enter')}}"></p>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Col 2: run button (move below editor in single-column layout), level buttons -->
  <div class="order-2 lg:order-4" id="code_related_buttons">
      <div class="flex justify-between items-start h-12 overflow-visible">
        <div id="runButtonContainer">
          <button id="runit" class="green-btn" onclick="hedyApp.runit({{ level }}, '{{ g.lang }}', '{{_('already_program_running')}}')">{{_('run_code_button')}} </button>
          <button id="stopit" class="red-btn" onclick="hedyApp.stopit()" style="display: none;">{{_('stop_code_button')}}</button>
        </div>
        <div id="debug_container">
          <button id="debug_button" class="green-btn" onclick="hedyApp.startDebug()">🐞</button>
          <button id="debug_continue" class="green-btn hidden" onclick="hedyApp.incrementDebugLine()">⏩</button>
          <button id="debug_restart" class="green-btn hidden" onclick="hedyApp.resetDebug()">🔄</button>
          <button id="debug_stop" class="green-btn hidden" onclick="hedyApp.stopDebug()">🛑</button>
        </div>
        {% if show_edit_button %}
            <button onclick="window.location = '/hedy/{{level}}/{{program_id}}'" class="blue-btn">{{_('edit_code_button')}}</button>
        {% else %}
            <img src="/images/Hedylightbulb_1.svg" onclick="hedyApp.modalStepOne()" class="hidden h-28 -mt-2" id="repair_button">
        {% endif %}
      </div>
      <div id="speak_container" class="hidden mt-4 flex flex-row items-center">
        <label for="speak_dropdown" class="ltr:mr-2 rtl:ml-2">{{_('read_code_label')}}:</label>
          <select id="speak_dropdown" class="appearance-none w-40 bg-gray-200 border border-gray-600 text-gray-700 py-1 px-4 rounded">
            <option value="">🤫</option>
          </select>
      </div>
    </div>
    <div class="order-5">
      {% if not specific_adventure %}
          <div class="flex {% if prev_level %}justify-between{% else %}justify-end{%endif%}">
            {% if prev_level and (customizations['levels']|length == 0 or prev_level in customizations['levels']) %}
              <button class="green-btn" onclick="hedyApp.prompt_unsaved (function () {window.location = '{{ hedy_link(prev_level, 1) }}'})">{{_('regress_button')|replace("{level}", prev_level)}}</button>
            {% endif %}
            {% if next_level and (customizations['levels']|length == 0 or next_level in customizations['levels']) %}
                <button class="green-btn ltr:ml-1 rtl:mr-1" onclick="hedyApp.prompt_unsaved (function () {window.location = '{{ hedy_link(next_level, 1) }}'})">{{_('advance_button')|replace("{level}", next_level)}}</button>
            {% endif %}
          </div>
      {% else %}
          <div class="flex {% if prev_level %}justify-between{% else %}justify-end{%endif%}">
            {% if prev_level %}
              <button class="green-btn" onclick="hedyApp.prompt_unsaved (function () {window.location = '/adventure/{{ adventures[0].short_name}}/{{prev_level}}'})">{{_('regress_button')|replace("{level}", prev_level)}}</button>
            {% endif %}
            {% if next_level %}
                <button class="green-btn ltr:ml-1 rtl:mr-1" onclick="hedyApp.prompt_unsaved (function () {window.location = '/adventure/{{ adventures[0].short_name}}/{{next_level}}'})">{{_('advance_button')|replace("{level}", next_level)}}</button>
            {% endif %}
          </div>
      {% endif %}
    </div>
  </div>
<!-- developer mode toggle -->
<div class="mx-auto mt-4 w-64 border-gray-400 border-2 rounded-full py-2 px-4{% if editor_readonly or enforce_developers_mode %} hidden{% endif %}" id="developers_toggle_container">
  <label for="developers_toggle" class="flex flex-row items-center justify-center cursor-pointer">
    <div class="relative">
      <input id="developers_toggle" type="checkbox" onclick="hedyApp.toggle_developers_mode(false)" class="sr-only" />
      <div class="w-10 h-4 bg-gray-400 rounded-full shadow-inner"></div>
      <div class="toggle-circle absolute w-6 h-6 bg-white rounded-full shadow ltr:-left-1 rtl:-right-1 -top-1 transition" style="top: -5px;"></div>
    </div>
    <div class="ltr:ml-3 rtl:mr-3">{{_('developers_mode')}}</div>
  </label>
</div>

<!-- If we enforce the developer's mode in customizations -> hide adventures, increase editor and output height -->
{% if enforce_developers_mode %}
<script>
$(document).ready(function () {
    hedyApp.toggle_developers_mode(true);
});
</script>
{% endif %}
