      {# TABS #}
      <div id="adventures">
        {% macro adventure_tab(tabname, title, selected, id, special) %}
            <div class="tab {% if selected %}tab-selected{% endif %} flex items-center justify-center whitespace-nowrap {% if special %}special_tab{% endif %}" id="{{ id }}" tabindex="0" data-tab="{{ tabname }}">
                {{title}}
            </div>
        {% endmacro %}

        <div class="overflow-x-auto overflow-y-hidden px-2 pt-2">
        <div class="flex flex-row w-min" id="adventures-buttons">
            {% for adventure in adventures %}
            {% if 'adventures' not in customizations or (customizations['adventures'][adventure.short_name] and level|int in customizations['adventures'][adventure.short_name]) %}
                {{ adventure_tab(adventure.short_name, adventure.name, loop.index == 1, "adventure" + loop.index|string, False) }}
            {% endif %}
            {% endfor %}
            <!-- Add the tab for the parsons problem (if it exists) -->
            {% if parsons %}
                {{ adventure_tab('parsons', _('parsons_title'), False, 'parsons', True) }}
            {% endif %}
            {% for adventure in teacher_adventures %}
                {{ adventure_tab(adventure.name, adventure.name, False, '', False) }}
            {% endfor %}
            <!-- Add the tab for the quiz -->
            {% if quiz %}
                {{ adventure_tab('quiz', _('quiz_tab'), False, 'quiz', True) }}
            {% endif %}
        </div>
        </div>
      {# PANES #}
      <div id="adventures-tab" class="w-full overflow-auto bg-white p-4 mb-8 shadow-md turn-pre-into-ace">
        {% for adventure in adventures %}
          {% if 'adventures' not in customizations or customizations['adventures'][adventure.short_name] and level|int in customizations['adventures'][adventure.short_name]  %}
            <div data-tabtarget="{{adventure.short_name}}" {% if loop.index != 1 %}class="hidden"{% endif %}>
              <div class="lg:flex lg:flex-row">
                  <div class="{% if adventure.example_code %}lg:w-1/2 {% endif %}w-full p-2 ltr:mr-2 rtl:ml-2">
                    <div class="max-w-prose">
                      {{ adventure.text|commonmark }}
                    </div>
                  </div>
                  {% if adventure.example_code %}
                      <div class="border"></div>
                      <div class="lg:w-1/2 w-full p-2 ltr:ml-2 rtl:mr-2">
                          <h2>{{_('example_code_header')}}</h2>
                          {{ adventure.example_code|commonmark }}
                      </div>
                  {% endif %}
              </div>
            {% for story in adventure.extra_stories %}
                <div class="lg:flex lg:flex-row border-t-2">
                    <div class="lg:w-1/2 w-full p-2 ltr:mr-2 rtl:ml-2">
                        <div class="max-w-prose">
                            {{ story.text|commonmark }}
                        </div>
                  </div>
                  {% if story.example_code %}
                      <div class="border"></div>
                      <div class="lg:w-1/2 w-full p-2 ltr:ml-2 rtl:mr-2">
                          <h2>{{_('example_code_header')}}</h2>
                          {{ story.example_code|commonmark }}
                      </div>
                  {% endif %}
                </div>
            {% endfor %}
          </div>
          {% endif %}
        {% endfor %}
        {% if parsons %}
            <div data-tabtarget="parsons" class="hidden">
                <div>
                    {% include 'parsons.html' %}
                </div>
            </div>
        {% endif %}
        {% for adventure in teacher_adventures %}
            <div data-tabtarget="{{adventure.name}}" class="hidden">
                <div>
                    {{ adventure.content|commonmark }}
                </div>
                <div class="ltr:clear-right rtl:clear-left"></div>
            </div>
        {% endfor %}
        <!-- Add the tabtarget for the quiz -->
        {% if quiz %}
            <div data-tabtarget="quiz" class="hidden">
                <div>
                    {% include 'quiz.html' %}
                </div>
            </div>
        {% endif %}
      </div>
    </div>
