      {# TABS #}
      <div id="adventures">
        <div class="flex flex-row overflow-x-scroll overflow-y-hidden mb-2 px-2 pt-2">
            {% for adventure in adventures %}
              {% if 'adventures' not in customizations or (customizations['adventures'][adventure.short_name] and level|int in customizations['adventures'][adventure.short_name]) %}
                <div class="tab {% if loop.index == 1 %}tab-selected{% endif %} z-10 whitespace-nowrap flex items-center justify-center" tabindex="0" data-tab="{{adventure.short_name}}">
                    {{ adventure.name }}
                </div>
              {% endif %}
            {% endfor %}
            <!-- Add the tab for the parsons problem (if it exists -->
            {% if parsons %}
                <div class="tab parsons_tab z-10 whitespace-nowrap flex items-center justify-center" tabindex="0" data-tab="{{parsons['tab_name']}}">
                    {{parsons['tab_name']}}
                </div>
            {% endif %}
            {% for adventure in teacher_adventures %}
                <div class="tab teacher_tab z-10 whitespace-nowrap flex items-center justify-center" tabindex="0" data-tab="{{adventure.name}}">
                    {{ adventure.name }}
                </div>
            {% endfor %}
            <!-- Add the tab for the quiz -->
            {% if quiz %}
                <div class="tab z-10 whitespace-nowrap flex items-center justify-center" tabindex="0" data-tab="quiz">
                        {{_('quiz_tab')}}
                </div>
            {% endif %}
            {% if specific_adventure %}
                <h2 class="z-10 my-0 ml-auto pt-8 text-red-500 text-base">{{ _('specific_adventure_mode')|replace("{adventure}", adventures[0].name) }}</h2>
            {% endif %}
        </div>
      {# PANES #}
      <div id="adventures-tab" class="w-full overflow-auto bg-white p-4 mb-8 shadow-md turn-pre-into-ace" style="max-height: 20em;">
        {% for adventure in adventures %}
          {% if 'adventures' not in customizations or customizations['adventures'][adventure.short_name] and level|int in customizations['adventures'][adventure.short_name]  %}
            <div data-tabtarget="{{adventure.short_name}}" {% if loop.index != 1 %}class="hidden"{% endif %}>
              <div class="flex flex-row">
                  <div class="{% if adventure.example_code %}w-1/2{% else %}w-full{% endif %} p-2 ltr:mr-2 rtl:ml-2">
                      {{ adventure.text|commonmark }}
                  </div>
                  {% if adventure.example_code %}
                      <div class="border"></div>
                      <div class="w-1/2 p-2 ltr:ml-2 rtl:mr-2">
                          {{ adventure.example_code|commonmark }}
                      </div>
                  {% endif %}
              </div>
            {% for story in adventure.extra_stories %}
                <div class="flex flex-row border-t-2">
                    <div class="{% if story.example_code %}w-1/2{% else %}w-full{% endif %} p-2 ltr:mr-2 rtl:ml-2">
                      {{ story.text|commonmark }}
                  </div>
                  {% if story.example_code %}
                      <div class="border"></div>
                      <div class="w-1/2 p-2 ltr:ml-2 rtl:mr-2">
                          {{ story.example_code|commonmark }}
                      </div>
                  {% endif %}
                </div>
            {% endfor %}
          </div>
          {% endif %}
        {% endfor %}
        {% if parsons %}
            <div data-tabtarget="{{parsons['tab_name']}}" class="hidden">
                <div class="flex flex-row">
                    <div class="w-1/2 p-2 ltr:mr-2 rtl:ml-2">
                        {{ parsons['text']|commonmark }}
                        <div class="flex flex-col mx-auto items-center" id="start_parsons_options">
                            
                            {% for key, line in parsons.code_lines.items() %}
                                {% if key == 'Endent' %}
                                <div id="{{line}}" draggable="true" class="box w-3/4 mb-2 text-lg px-4 py-2 bg-gray-200 border-2 border-gray-600 rounded-lg">&nbsp;&nbsp;&nbsp;&nbsp;{{line}}</div>
                                {% else %}
                                <div id="{{line}}" draggable="true" class="box w-3/4 mb-2 text-lg px-4 py-2 bg-gray-200 border-2 border-gray-600 rounded-lg" index="{{key}}">{{line}}</div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    
                    <div class="w-1/2 ltr:ml-2 rtl:mr-2">
                        {{ parsons['example']|commonmark }}
                        {{ parsons['story']|commonmark }}
                    </div>
                </div>
                <div class="ltr:clear-right rtl:clear-left"></div>
            </div>
        {% endif %}
        {% for adventure in teacher_adventures %}
            <div data-tabtarget="{{adventure.name}}" class="hidden">
                <div>
                    {{ adventure.content|commonmark }}
                </div>
                <div class="ltr:clear-right rtl:clear-left"></div>
            </div>
        {% endfor %}
        <!-- Add the tabtarget for the quiz -->
        {% if quiz %}
            <div data-tabtarget="quiz" class="hidden">
                <h2>{{_('end')}}</h2>
                <div>{{_('quiz_description')}}</div>
                <input type="submit" class="green-btn h-3/5 mt-4" value="{{ _('go_to_quiz') }}" onclick="hedyApp.load_quiz ({{level_nr}})">
            </div>
        {% endif %}
      </div>
    </div>
        <!-- Todo Charlotte: Het is het mooiste dit te verplaatsen naar app.ts of tabs.ts -->
<script>
document.addEventListener('DOMContentLoaded', (event) => {
    function handleDragStart(e){
        this.style.opacity = 0.4;

        dragSrcEl = this;

        e.dataTransfer.effectAllowed = 'move';
        e.dataTransfer.setData('text/html', this.innerHTML);
        e.dataTransfer.setData('text/plain', this.getAttribute('index'));
        $('.box').css('border-color', '');
        $('.box').css('border-style', '');
    }

    function handleDragEnd(e) {
        this.style.opacity = '1';

        items.forEach(function (item) {
            item.classList.remove('over');
        });
    }

    function handleDragOver(e) {
        e.preventDefault();
    return false;
    }

    function handleDragEnter(e) {
        this.classList.add('over');
    }

    function handleDragLeave(e) {
        this.classList.remove('over');
    }

    function handleDrop(e) {
        e.stopPropagation(); // stops the browser from redirecting.

        if (dragSrcEl !== this) {
            dragSrcEl.innerHTML = this.innerHTML;
            dragSrcEl.setAttribute('index', this.getAttribute('index'));
            this.innerHTML = e.dataTransfer.getData('text/html');
            this.setAttribute('index', e.dataTransfer.getData('text/plain'));
           
        }
        return false;
    }

    let items = document.querySelectorAll('#parsons_container .box');
    items.forEach(function (item) {
        item.addEventListener('dragstart', handleDragStart);
        item.addEventListener('dragover', handleDragOver);
        item.addEventListener('dragenter', handleDragEnter);
        item.addEventListener('dragleave', handleDragLeave);
        item.addEventListener('dragend', handleDragEnd);
        item.addEventListener('drop', handleDrop);
    });

    let start_items = document.querySelectorAll('#start_parsons_options .box');
    start_items.forEach(function (item) {
        item.addEventListener('dragstart', handleDragStart);
        item.addEventListener('dragover', handleDragOver);
        item.addEventListener('dragenter', handleDragEnter);
        item.addEventListener('dragleave', handleDragLeave);
        item.addEventListener('dragend', handleDragEnd);
        item.addEventListener('drop', handleDrop);
    });
});
</script>
