<nav aria-label="Website" class="bg-blue-500 px-2">
    {% block menu %}
    <ul class="h-full list-none flex flex-row items-center mx-2 gap-1 lg:gap-2">
        <li><a href="/"><img class="h-10" src="{{static('/images/Hedy-logo.png')}}" alt="{{_('hedy_logo_alt')}}"></a></li>
        <li class="hidden lg:flex"><a class="menubar-btn{% if current_page == 'start' %} active{% endif %}" href="/start">{{_('nav_start')}}</a></li>
        <li><a class="menubar-btn{% if current_page == 'hedy' %} active{% endif %}" href="/hedy">{{_('nav_hedy')}}</a></li>
        <li><a class="menubar-btn{% if current_page == 'explore' %} active{% endif %}" href="/explore">{{_('nav_explore')}}</a></li>
        <li><a class="menubar-btn{% if current_page == 'learn-more' %} active{% endif %}" href="/learn-more">{{_('nav_learn_more')}}</a></li>
    {% if username %}
        <li class="ltr:ml-auto rtl:mr-auto">
            <a class="menubar-btn {% if current_page == 'programs' %}active{% endif %}" href="/programs">
                <span class="fas fa-fw fa-list-alt"></span>
                <span class="hidden lg:inline-block">{{ _('program_header')}}</span>
            </a>
        </li>
        <li class="dropdown relative z-20 flex">
            <a class="menubar-btn {% if current_page == 'my-profile' %}active{% endif %}" href="/my-profile">
                <span class="fas fa-fw fa-user"></span>
                <span class="hidden lg:inline-block">{{username}}</span>
            </a>
            <ul class="dropdown-menu absolute overflow-hidden hidden rounded-lg border border-black bg-blue-400 list-none ltr:right-0 rtl:left-0 mt-12 ltr:mr-1 rtl:ml-1 w-max">
                <li><a class="dropdown-btn" href="/highscores"><span class="fas fa-trophy ltr:mr-4 rtl:ml-4"></span>{{_('highscores')}}</a></li>
                <li><a class="dropdown-btn" href="/my-achievements"><span class="fas fa-fw fa-list-alt ltr:mr-4 rtl:ml-4"></span>{{_('my_achievements')}}</a></li>
                <li><a class="dropdown-btn" href="/my-profile"><span class="fas fa-user-cog ltr:mr-4 rtl:ml-4"></span>{{_('my_account')}}</a></li>
              {% if is_teacher %}
                  <li><a class="dropdown-btn" href="/for-teachers"><span class="fas fa-chalkboard-teacher ltr:mr-4 rtl:ml-4"></span>{{_('for_teachers')}}</a></li>
              {% endif %}
                <li><a class="dropdown-btn" href="#" onclick="hedyApp.auth.logout ();event.preventDefault();"><span class="fas fa-fw fa-sign-out-alt ltr:mr-4 rtl:ml-4"></span>{{_('logout')}}</a></li>
            </ul>
        </li>
    {% else %}
        <li><a class="menubar-btn" href="/login">{{_('login')}}</a></li>
    {% endif %}
    {% if not username %}
      <li class="dropdown relative z-20 ltr:ml-auto rtl:mr-auto cursor-pointer" onclick="$('.dropdown-menu').toggleClass('hidden');">
          <a class="menubar-btn border-transparent">
            <div class="flex flex-row gap-2 items-center">
                <i class="fas fa-fw fa-globe"></i>
                <span class="hidden lg:flex">{{ current_language().sym }}</span>
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
          </a>
          <div class="dropdown-menu absolute hidden block rounded-lg border border-black bg-blue-400 ltr:right-0 rtl:left-0 ltr:mr-1 rtl:ml-1 w-max">
              <div class="p-2"><input id="search_language" placeholder="{{_('search')}}" class="border-2 border-black text-black border-blue-600 rounded h-8 px-2 mt-2 w-full"></div>
              <!-- Let's re-structure this a bit: make two rows one with keyword support, one without -->
              <div class="flex flex-row">
                  <div class="flex flex-col">
                      <div class="font-medium border-b-2 border-gray-700 mx-4 pb-2 text-center">
                        {{_('keyword_support')}}
                      </div>
                      {% for lang in other_keyword_languages() %}
                        <div class="hover:bg-blue-600 cursor-pointer w-52 font-medium text-white py-2 px-4 rounded-lg language" onclick="hedyApp.change_language ('{{lang.lang}}');event.preventDefault();">{{ lang.sym }}</div>
                      {% endfor %}
                  </div>
                  <div class="flex flex-col">
                      <div class="font-medium border-b-2 border-gray-700 mx-4 pb-2 text-center">
                        {{_('non_keyword_support')}}
                      </div>
                      {% for lang in other_languages() %}
                        {% if lang.lang not in keyword_languages_keys() %}
                            <div class="hover:bg-blue-600 cursor-pointer w-52 font-medium text-gray-700 py-2 px-4 rounded-lg language" onclick="hedyApp.change_language ('{{lang.lang}}');event.preventDefault();">{{ lang.sym }}</div>
                        {% endif %}
                      {% endfor %}
                  </div>
              </div>
          </div>
      </li>
    {% endif %}
    {% endblock %}
    </ul>
</nav>
<script src="{{static('/vendor/jquery.min.js')}}" type="text/javascript" crossorigin="anonymous"></script>
<script>
    $("#search_language").on('keyup', function() {
        let search_query = $("#search_language").val().toLowerCase();
        console.log(search_query);
        $(".language").each(function(){
            if ($(this).html().toLowerCase().includes(search_query)) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    });
// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropdown')) {
    var dropdowns = document.getElementsByClassName("dropdown-menu");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
