<html> 
<head> 
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script> 
<script src="skulpt.min.js" type="text/javascript"></script> 
<script src="skulpt-stdlib.js" type="text/javascript"></script> 

</head> 

<body> 

<script type="text/javascript"> 
// output functions are configurable.  This one just appends some text
// to a pre element.
function outf(text) { 
    var mypre = document.getElementById("output"); 
    mypre.innerHTML = mypre.innerHTML + text; 
} 
function builtinRead(x) {
    if (Sk.builtinFiles === undefined || Sk.builtinFiles["files"][x] === undefined)
            throw "File not found: '" + x + "'";
    return Sk.builtinFiles["files"][x];
}

// Here's everything you need to run a python program in skulpt
// grab the code from your textarea
// get a reference to your pre element for output
// configure the output function
// call Sk.importMainWithBody()



function runit() {

   var prog = document.getElementById("yourcode").value;
   var url = "/parse/?code=" + prog;
   var xhr = new XMLHttpRequest();
   xhr.open('GET', url, true);
   xhr.send();

   function processRequest(e) {
      if (xhr.readyState == 4 && xhr.status == 200) {
         var response = JSON.parse(xhr.responseText);
         var code = response["Code"];
         console.log(code);
         var mypre = document.getElementById("output");
         mypre.innerHTML = '';
         Sk.pre = "output";
         Sk.configure({ output: outf, read: builtinRead });
         var myPromise = Sk.misceval.asyncToPromise(function () {
            return Sk.importMainWithBody("<stdin>", false, code, true);
         });
         myPromise.then(function (mod) {
            console.log('success');
         },
            function (err) {
               console.log(err.toString());
            });
      }
   }

   xhr.onreadystatechange = processRequest;


} 
</script> 

<h3>Welkom by Hedy!</h3>
<form> 
<textarea id="yourcode" cols="40" rows="10">
print Hallo hoe heet jij
</textarea><br />
<button type="button" onclick="runit()">Run</button> 
</form> 
<pre id="output" ></pre> 

</body> 

</html> 