<!doctype html>
<html>
  <head>
    <title>{{page_title}}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&display=swap">
    <link rel="stylesheet" href="{{static('/css/generated.css')}}">
    <link rel="stylesheet" href="{{static('/css/additional.css')}}">
	<link rel="stylesheet" href="{{ static('/css/quiz-css.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{static('/images/Hedy-logo.png')}}"/>
    <link rel="stylesheet" href="{{static('/vendor/gh-fork-ribbon.min.css')}}"/>
  </head>
  <body class="bg-gray-400">
    <noscript>Hedy requires Javascript to be enabled in your browser.</noscript>
    <div id="modal-mask" class="hidden fixed bg-black z-50 w-full h-full opacity-75"></div>
    <div id="modal-content" class="hidden fixed z-50 p-12 pl-16 pr-16 bg-blue-400 border-2 border-gray-400 rounded-lg text-lg text-center" style="top: 40%; left: 50%; transform: translate(-50%, -50%);">
       <div id="modal-alert" class="hidden">
          <div id="modal-alert-text" class="text-white mb-8 text-xl"></div>
          <div class="ml-auto mr-auto mt-4 flex flex-row justify-center">
            <button class="green-btn block m-4 w-40 pb-4 pt-4" onclick="window.modal.hide ()">{{auth.ok}}</button>
          </div>
       </div>
       <div id="modal-confirm" class="hidden">
          <div id="modal-confirm-text" class="text-white mb-8 text-xl"></div>
          <div class="ml-auto mr-auto mt-4 flex flex-row justify-center">
            <button class="green-btn block m-4 w-40 pb-4 pt-4" onclick="window.modal.confirmcb (true)">{{auth.yes}}</button>
            <button class="red-btn block m-4 w-40 pb-4 pt-4" onclick="window.modal.confirmcb (false)">{{auth.no}}</button>
          </div>
       </div>
       <div id="modal-prompt" class="hidden">
          <div id="modal-prompt-text" class="text-white mb-8 text-xl"></div>
          <div class="ml-auto mr-auto">
            <input id="modal-prompt-input" type="text" class="border border-green-400 rounded p-2 px-3 w-4/5 mt-1">
            <div class="mt-4 flex flex-row justify-center">
                <button class="green-btn block m-4 w-40 pb-4 pt-4" onclick="window.modal.promptcb ()">{{auth.ok}}</button>
                <button class="red-btn block m-4 w-40 pb-4 pt-4" onclick="window.modal.promptcb (true)">{{auth.cancel}}</button>
            </div>
          </div>
       </div>
    </div>
    <div class="lg:container mx-auto bg-gray-100 min-h-screen shadow-md flex flex-col">
      {% if menu %}
      {% filter indent(width=6) %}{% include "incl-menubar.html" %}{% endfilter %}
      {% endif %}
      {# Can't reindent this as it may contain preformatted code blocks whose indentation is important. #}
      {% block body %}{% endblock %}
    </div>
    <script src="{{static('/vendor/jquery.min.js')}}" type="text/javascript" crossorigin="anonymous"></script>
    <script>
      window.modal = {
         show: function () {
            $ ('#modal-mask').show ();
            $ ('#modal-content').show ();
            window.scrollTo (0, 0);
         },
         hide: function () {
            $ ('#modal-mask').hide ();
            $ ('#modal-content').hide ();
            $ ('#modal-alert').hide ();
            $ ('#modal-prompt').hide ();
            $ ('#modal-confirm').hide ();
         },
         alert: function (message, timeout) {
            $ ('#modal-alert-text').text (message);
            window.modal.show ();
            $ ('#modal-alert').show ();
            if (timeout) setTimeout (window.modal.hide, timeout);
         },
         confirm: function (message, cb) {
            $ ('#modal-confirm-text').text (message);
            window.modal.show ();
            $ ('#modal-confirm').show ();
            window.modal.confirmcb = function (proceed) {
              window.modal.hide ();
              if (proceed) cb ();
            }
         },
         prompt: function (message, defaultValue, cb) {
            $ ('#modal-prompt-text').text (message);
            window.modal.show ();
            $ ('#modal-prompt').show ();
            if (defaultValue) $ ('#modal-prompt-input').val (defaultValue);
            window.modal.promptcb = function (cancel) {
              window.modal.hide ();
              if (cancel) return;
              cb ($ ('#modal-prompt-input').val ());
            }
         }
      }
    </script>
    {% filter indent(width=2) %}{% block scripts %}{% endblock %}{% endfilter %}
  </body>
</html>
