<!doctype html>
<html>
  <head>
    <title>{{page_title}}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&display=swap">
    <link rel="stylesheet" href="{{static('/css/generated.css')}}">
    <link rel="stylesheet" href="{{static('/css/additional.css')}}">
	<link rel="stylesheet" href="{{ static('/css/quiz-css.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{static('/images/Hedy-logo.png')}}"/>
    <link rel="stylesheet" href="{{static('/vendor/gh-fork-ribbon.min.css')}}"/>
  </head>

  <body class="bg-gray-400">
    <noscript>Hedy requires Javascript to be enabled in your browser.</noscript>
    <div id="modal-mask" class="hidden absolute bg-gray-400 z-50 w-full h-full" style="opacity: 40%"></div>
    <div id="modal-content" class="hidden absolute z-50 p-16 bg-gray-200 border-2 border-black" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
       <div id="modal-alert" class="hidden">
          <div id="modal-alert-text"></div>
          <div style="margin: auto; text-align: center;">
            <button id="modal-confirm-button" class="btn block mt-4" style="min-width:6em">{{auth.ok}}</button>
          </div>
       </div>
       <div id="modal-confirm" class="hidden">
          <div id="modal-confirm-text"></div>
          <div style="margin: auto; text-align: center;">
            <button id="modal-yes-button" class="btn block mt-4" style="min-width:6em">{{auth.yes}}</button>
            <button id="modal-no-button" class="btn block mt-4 ml-2" style="min-width:6em">{{auth.no}}</button>
          </div>
       </div>
       <div id="modal-prompt" class="hidden">
          <div id="modal-prompt-text"></div>
          <div style="margin: auto; text-align: center;">
            <input id="modal-prompt-input" type="text" class="border border-green-400 rounded p-2 px-3 w-4/5 mt-1">
            <br>
            <button id="modal-ok-buton" class="btn block mt-4" style="min-width:6em">{{auth.ok}}</button>
            <button id="modal-cancel-button" class="btn block mt-4 ml-2" style="min-width:6em">{{auth.cancel}}</button>
          </div>
       </div>
    </div>
    <div class="lg:container mx-auto bg-gray-100 min-h-screen shadow-md flex flex-col">
      {% if menu %}
      {% filter indent(width=6) %}{% include "incl-menubar.html" %}{% endfilter %}
      {% endif %}
      {# Can't reindent this as it may contain preformatted code blocks whose indentation is important. #}
      {% block body %}{% endblock %}
    </div>
    <script src="{{static('/vendor/jquery.min.js')}}" type="text/javascript" crossorigin="anonymous"></script>
    {% filter indent(width=2) %}{% block scripts %}{% endblock %}{% endfilter %}
  </body>
</html>
