{% extends "auth.html" %}

{% block main %}
<div class="px-8">
  <form class="auth" onsubmit="event.preventDefault (); window.auth.submit ('login')">
    <h2>{{auth.login_long}}</h2>
    <br>
    <label>{{auth.username}} / {{auth.email}}</label>
    <input id="username">
    <br><br>
    <label>{{auth.password}}</label>
    <input id="password" type=password>
    <br><br>
    <input type="submit" class="pointer" value="{{auth.login}}">
    <br><br>
    {{auth.no_account}} <a href="signup">{{auth.create_account}}</a>
  </form>
</div>
{% endblock %}
