{% extends "auth.html" %}
{% block body %}
<div class="relative text-xl flex flex-col">
    <div class="bg-yellow-600 my-16 border-b-4 border-yellow-700">
        <div class="center-block py-16 px-16 mb-8 flex flex-col gap-16 md:flex-row justify-between items-stretch">
            <div class="flex flex-col gap-2">
                <h1 class="font-bold font-slab text-white text-6xl text-shadow-md tracking-wide">{{_('main_title')}}</h1>
                <h2 class="py-0 my-0 font-sans font-light text-white text-shadow-md tracking-wide">{{_('main_subtitle')}}</h2>
                <button id="tryitbutton" class="green-btn text-white px-8 py-4" onclick="window.location.href='/hedy'">{{_('try_it')}}</button>
            </div>
            <div class="invisible md:visible overflow-visible relative flex-none" style="width: 500px">
                <img class="absolute" src="images/hero-graphic.png" style="max-width: 500px; bottom: -120px; right: 0px;">
            </div>
        </div>
    </div>
    <class id="main_page_content" class="fancy-text">
        {% for section in content['start-sections'] %}
        <div class="border-b-4 {{loop.cycle('', 'bg-yellow-500 border-yellow-600')}} py-16">
            <div class="center-block px-16">
                <h2 class="font-bold {{loop.cycle('', 'text-white')}}">{{ section['title'] }}</h2>
                <div class="{{loop.cycle('bg-blue-500', 'bg-white')}} w-36 mx-auto h-1 my-8"></div>
                <p>{{ section['text']|commonmark }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
