{% extends "auth.html" %}
{% block body %}
<div class="relative text-xl">
    <a class="github-fork-ribbon left-top z-10" href="https://github.com/felienne/hedy" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
    <div class="flex flex-col">
        <div class="py-8 px-16 mb-8 bg-cover flex flex-row justify-between items-center" style="background-image: url(/images/header-3072x500.jpg); height: 250px; position: relative;">
            <div class="flex flex-col justify-center gap-1">
                <h1 class="font-bold font-slab text-white text-6xl text-shadow-md tracking-wide">{{_('main_title')}}</h1>
                <h2 class="py-0 my-0 font-sans font-light text-white text-shadow-md tracking-wide">{{_('main_subtitle')}}</h2>
            </div>
            <div class="">
                <button id="tryitbutton" class="green-btn text-white px-8 py-4" onclick="window.location.href='/hedy'">{{_('try_it')}}</button>
            </div>
        </div>
        <div class="px-16" id="main_page_content">
            {% for section in content['start-sections'] %}
                <h2>{{ section['title'] }}</h2>
                <p>{{ section['text']|commonmark }}</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
