{% extends "auth.html" %}

{% block regular_content %}
<div>
    <div class="flex relative">
        <div class="mx-auto "><h1>Class: {{ class_info.name }}</h1></div>
        <button class="green-btn ml-auto" id="to_class_button"
                onclick="window.location.href='/for-teachers/class/{{class_info.id}}'">
          {{_('back_to_class')}}
        </button>
    </div>

    <div class="shadow-md stats mt-4 p-2">
        <div class="flex flex-wrap justify-center">
            {% for student in class_info.students %}
                <div class=" group student-tile shadow cursor-pointer inline-block border px-6 py-2 m-4 rounded-lg
                transition-all duration-500 ease-in-out hover:bg-green-400 hover:text-white"
                     onclick="studentTileClicked(event, {{ student|tojson }})">
                    <p class="select-none font-bold text-lg">{{ student.username }}</p>
                    <p class="select-none">Success rate: {{ student.success_rate_highest_level }}</p>
                    <p class="select-none"> Highest level: {{ student.highest_level_quiz }}</p>
                    <p class="select-none">Quiz Avg: {{ student.average_quiz }}</p>
                </div>
            {% endfor %}
        </div>
        <div id="expanded-student-tile" class="hidden w-3/4 shadow-2xl border p-2 mx-auto rounded-lg"></div>
    </div>

</div>
<script type="text/javascript" src="/js/student-tile.ts">
$(function() {
    hedyApp.stats.initializeClassStats();
});
</script>
{% endblock %}
