{% extends "auth.html" %}

{% block regular_content %}
<div>

    <div class="flex relative">
        <div class="mx-auto "><h1>Class: </h1></div>
        <button class="green-btn ml-auto" id="to_class_button"
                onclick="window.location.href='/for-teachers/class/{{class_info.id}}'">
          {{_('back_to_class')}}
        </button>
    </div>

    <div class="shadow-md stats mt-4 p-2">
        <div class="flex flex-wrap justify-center">
            {% for student in class_info.students %}
                <div class="student-tile shadow inline-block border px-6 py-2 m-4 hover:bg-green-400 rounded-lg transition-all duration-500 ease-in-out"
                     onclick="this.classList.add('bg-green-400'); tileClicked(event, '{{ student }}')">
                    <p class="font-bold text-lg">{{ student }}</p>
                    <p>Success rate: </p>
                    <p>Success rate: </p>
                    <p>Highest level: </p>
                    <p>Quiz Avg: </p>
                </div>
            {% endfor %}
        </div>
        <div id="big-tile" class="hidden w-3/4 shadow-2xl border p-2 mx-auto rounded-lg"></div>
    </div>

</div>

<script>
  $(function() {
    hedyApp.stats.initializeClassStats();
  });

function tileClicked(event, student) {
    // This removes all active green color student-tiles
    let tiles = document.querySelectorAll('.student-tile');
    tiles.forEach(function(tile) {
        tile.classList.remove('bg-green-400');
        let textElements = tile.querySelectorAll('p');
        textElements.forEach(function(textElement) {
            textElement.style.color = 'black';
        });
    });

    // This adds an active green color to student-tile
    let clickedElement = event.target;
    if (clickedElement["tagName"] === 'P') {
        clickedElement = clickedElement["parentElement"];
    }
    clickedElement["classList"].add('bg-green-400');
    let textElements = clickedElement.querySelectorAll('p');
    textElements.forEach(function(textElement) {
        textElement.style.color = 'white';
    });

    let bigTile = document.getElementById('big-tile');
    bigTile.innerHTML = '<p class="font-bold text-lg">' + student + '</p>' +
                        '<p>Success overall: </p>' +
                        '<p>Highest level: </p>' +
                        '<p>Quiz avg: </p><br>' +
                        '<p>Success rate highest level(x): </p>' +
                        '<p>Quiz score highest level(x): </p>';
    bigTile.classList.remove('hidden');
}

let studentTiles = document.querySelectorAll('.student-tile');
studentTiles.forEach(function(tile) {
    tile.addEventListener('mouseover', function() {
        let textElements = tile.querySelectorAll('p');
        textElements.forEach(function(textElement) {
            textElement.style.color = 'white';
        });
    });
    tile.addEventListener('mouseout', function() {
        if (!tile.classList.contains('bg-green-400')) {
            let textElements = tile.querySelectorAll('p');
            textElements.forEach(function(textElement) {
                textElement.style.color = 'black';
            });
        }
    });
});
</script>
{% endblock %}
