<div id="start_parsons_container">
    <div class="flex flex-col">
        <div class="flex items-center justify-center bg-blue-200 p-10">
            <img class="rounded-full border-green-600 border-8 w-80" src="{{ static('/images/quiz_logo.jpg') }}" alt="quiz_logo"/>
        </div>
        <div class="p-8 border-t-8 bg-blue-400 border-blue-600">
            <h1 class="text-center text-white font-bold font-slab">{{_('start_parsons')}}</h1>
            <h2 class="text-center text-white"><i> {{_('level_title')}} {{ level }} </i></h2>
        </div>
    </div>
    <div class="flex py-4 px-4 bg-green-300 justify-between border-t-8 border-green-600">
        <button class="green-btn ltr:ml-1 rtl:mr-1" onclick="hedyApp.startParsons({{level}});">
            {{_('go_to_first_exercise')}}
        </button>
    </div>
</div>
<div id="parsons_container" class="hidden">
    {% if parsons_exercises > 1 %}
        <div class="flex flex-row items-center justify-around gap-2">
            {% for i in range(1, parsons_exercises + 1)%}
                {% if i == 1 %}
                 <div class="step current bg-gray-200" id="question_header_{{i}}"><span class="question_header_text_container" id="parsons_header_text_{{i}}">{{_('exercise')}}</span> {{ i }}</div>
                {% else %}
                    <div class="step {% if i % 2 == 0 %}bg-gray-400{% else %}bg-gray-200{% endif %}" id="parsons_header_{{i}}"><span class="question_header_text_container" id="parsons_header_text_{{i}}" style="display: none;">{{_('exercise')}}</span> {{ i }}</div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    <div id="parsons_exercise_container">
        <div class="flex flex-row">
            <div class="w-1/2 p-2 ltr:mr-2 rtl:ml-2">
                <p id="parsons_explanation_text"></p>
                <div class="flex flex-col mx-auto items-center" id="parsons_code_lines">
                    <div class="relative w-full mb-2 border-4 border-black rounded-lg" style="background-color: #272822;">
                        <div index="" draggable="true" code="" class="start-parsons-box w-full absolute inset-0 z-10 rounded-lg"></div>
                        <pre level="{{ level }}" class="no-copy-button parsons text-sm"></pre>
                    </div>
                </div>
            </div>
            <div class="w-1/2 ltr:ml-2 rtl:mr-2">
                <p id="parsons_explanation_example"></p>
                <p id="parsons_explanation_story"></p>
            </div>
        </div>
        <div class="ltr:clear-right rtl:clear-left"></div>
    </div>
    <div id="parsons_code_container">
        <!-- We can copy a bit from the original output editor as the output window is simply a <pre> element -->
    </div>
</div>