{% extends "layout.html" %}

{% block body %}
<div class="px-8 py-12">
<div class="px-8">
  {% if from_user %}<h2>{{from_user}}'s recent programs</h2>
  {% else %}<h2>{{texts.recent}}</h2>{% endif %}
  <ul class="programs">
  {% for program in programs %}
    <li>
      {% if program.adventure_name %}
        <strong>{{ui.adventure}}: {{adventures [program.adventure_name].name }} - {{program.name}}</strong>
      {% else %}
        <strong>{{program.name}} </strong>
      {% endif %}
      -&nbsp;
      {{ texts.level }} {{ program.level }} - {{ program.date }}
      <a href="{{localize_link ('/hedy/' + program.level|string + '/' + program.id)}}">{{ texts.open }}</a>

      <a href="#" onclick="if (confirm ('{{ texts.delete_confirm }}')) window.open ('/programs/delete/{{program.id}}', '_self')">{{ texts.delete }}</a>
      {% if program.public %}
        <a href="#" onclick="if (confirm ('{{ texts.unshare_confirm }}')) window.share_program ({{program.level}}, '{{ lang }}', '{{program.id}}', false, true)">{{ texts.unshare}}</a>
        <a href="#" onclick="window.copy_to_clipboard(viewProgramLink('{{program.id}}'))">{{ texts.copy_link_to_share }}</a>
      {% else %}
        <a href="#" onclick="if (confirm ('{{ texts.share_confirm }}')) window.share_program ({{program.level}}, '{{lang}}', '{{program.id}}', true, true)">{{ texts.share}}</a>
      {% endif %}
      <pre>{{program.code | truncate (50) }}</pre>
    </li>
    <br>
  {% endfor %}
  {% if programs|length == 0 and not from_user %}
  <p>{{texts.no_programs}}
    <br><br>
    <button class="btn block flex-none self-end" onclick="window.open ('/hedy', '_self')">{{texts.write_first}}</button>
  </p>
  {% endif %}
  </ul>
</div>
</div>
{% endblock %}
{% block scripts %}
  <script src="{{static('/vendor/jquery.min.js')}}" type="text/javascript"></script>
  <script src="{{static('/js/app.js')}}" type="text/javascript"></script>
  <script src="{{static('/js/auth.js')}}" type="text/javascript"></script>
  <script>window.State = {lang: "{{ lang }}", level: "{{ level }}"}</script>
{% endblock %}
