
{% extends "auth.html" %}

{% block regular_content %}

    <div id="filters"
        class="flex flex-col sm:flex-row items-center gap-2
        justify-around bg-blue-400 shadow-md rounded-lg p-4 mb-4"
        _="on load set $filtered to {}">
        <div>{{_('apply_filters')}}</div>
        <div id="search" class="flex-1">
            <input id="search_adventure"
                type="search"
                value="{{currentSearch}}"
                placeholder="{{_('search')}}"
                class="border text-black border-gray-500 rounded h-8 px-2 w-full"
                >
        </div>
        <div class="flex gap-2">
            <div id="levels">
                <select id="level"
                    data-te-select-init
                    name="level"
                    required
                    class="block appearance-none w-full border border-gray-200 text-gray-700 p-2 rounded"
                        >
                    {% for level in customizations["available_levels"] %}
                        <option value="{{ level }}"
                          {% if selectedLevel|string == level|string %}selected{% endif %}
                        >{{ level }}</option>
                    {% endfor %}
                </select>
            </div>
            <div id="languages">
                <select id="language"
                    data-te-select-init
                    name="lang"
                    required
                    class="block appearance-none w-full border border-gray-200 text-gray-700 p-2 rounded"
                    >
                    <option value="">{{_('select_lang')}}</option>
                    {% for lang in available_languages %}
                    
                        <option data-test="{{selectedLang == lang}}" value="{{lang}}"
                          {% if selectedLang == lang %}selected{% endif %}
                        >{{lang_to_sym(lang)}}</option>
                    {% endfor %}
                </select>
            </div>
            <div id="tags">
                <select id="tag"
                    data-te-select-init
                    data-te-select-all="true"
                    data-te-select-all-label="{{_('select_all')}}"
                    data-te-select-placeholder="{{_('select_tag')}}"
                    multiple
                    name="tag"
                    required
                    class="block appearance-none w-full border border-gray-200 text-gray-700 p-2 rounded"
                    >
                    <!-- onChange is handled dynamically within public-adventures.ts due to multiple -->
                    {% for tag in available_tags %}
                        <option value="{{tag}}"
                          {% if tag in selectedTag %}selected{% endif %}
                        >{{tag}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <!-- <div id="adventures" class="card-container gap-2"> -->
      <div id="public-adventures-body">
        {% include "public-adventures-body.html" %}
      </div>


{% endblock %}