<!-- <div id="public-adventures-body"> -->
    {% if adventures|length == 0 %}
        <div class="grid p-5 text-center bg-white shadow-md rounded-lg transition-shadow hover:shadow-lg outline-blue-400 hover:outline hover:outline-2">
            {{_('no_adventures_yet')}}
            <button class="green-btn mt-4" id="create_adventure_button"
                onclick='hedyApp.create_adventure({{_('adventure_prompt')|default(None)|tojson}})'
                {% if second_teacher and role=='viewer' %}disabled{% endif %}>{{_('create_adventure')}}</button>
        </div>
    {% else %}
        {% include "incl/adventure-tabs.html" %}
        {% include "incl/editor-and-output.html" %}
    {% endif %}
<!-- </div> -->