{% extends "auth.html" %}

{% block main %}
    <div id="general_info" class="flex flex-row items-center h-64 mt-8 mx-2">
        <div class="w-1/3 mr-4">
            {% if user_info.image %}
                <img src="{{static('/images/profile_images/' + user_info.image + '.png')}}">
            {% else %}
                <img src="{{static('/images/Hedy-logo.png')}}">
            {% endif %}
        </div>
        <div class="w-full h-full bg-blue-200 pb-8 rounded-lg">
            <h2 class="bg-blue-600 text-white pl-4 text-4xl rounded-lg">{{ user_info.username }}</h2>
            <div class="px-4 pt-4 pb-8">
                {% if user_info.personal_text %}
                    <p class="mb-4 italic text-center">{{ user_info.personal_text }}</p>
                {% endif %}
                {% if achievements %}
                    <div class="font-semibold h-full">
                        {% if user_achievements.run_programs %}
                            <p>{{ user_achievements.run_programs }} {{ texts.amount_created }}</p>
                        {% endif %}
                        {% if user_achievements.saved_programs %}
                            <p>{{ user_achievements.saved_programs }} {{ texts.amount_saved }}</p>
                        {% endif %}
                        {% if user_achievements.submitted_programs %}
                            <p>{{ user_achievements.submitted_programs }} {{ texts.amount_submitted }}</p>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
        {% if user_achievements['achieved'] %}
            {% for achievement in user_achievements['achieved'][0:1] %}
            <div class="text-center rounded-lg bg-yellow-400 w-1/3 ml-4 mr-4">
                <h3>{{ auth.last_achievement }}</h3>
                <img class="w-full px-8 mt-2" src="{{static('/images/achievement.png')}}">
                <h4>{{ achievements[achievement].title }}</h4>
            </div>
            {% endfor %}
        {% endif %}
    </div>
    <h2 class="ml-4">{{ auth.program_header }}</h2>
    <div class="flex flex-wrap w-full turn-pre-into-ace">
    {% if favourite_program %}
         <div class="w-full rounded-lg ml-4 mr-4 mt-4 relative bg-yellow-400" onclick="window.open (hedyApp.viewProgramLink('{{favourite_program.id}}'))">
             <div class="text-white text-gray-700 text-2xl flex items-center justify-center mt-2 mb-2">
                <p>{{ favourite_program.name }}</p>
            </div>
            <div class="relative px-4 mb-4">
                <pre class="no-copy-button max-h-full" id="{{ favourite_program.level }}">{{ favourite_program.code | truncate(150) }}</pre>
            </div>
        </div>
    {% endif %}
    {% if programs %}
        {% for program in programs %}
            {% if program.id != favourite_program.id %}
                <div class="w-full rounded-lg ml-4 mr-4 mt-4 relative bg-blue-200" onclick="window.open (hedyApp.viewProgramLink('{{program.id}}'))">
                    <div class="flex items-center justify-center mt-2 mb-2">
                        <p>{{ program.name }}</p>
                    </div>
                    <div class="relative px-4 mb-4">
                        <pre class="no-copy-button" id="{{ program.level }}">{{ program.code | truncate(50) }}</pre>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}
