{% extends "quiz.html" %}

{% block question %}
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type=text/javascript>

            function changeHint() {
                const btn = document.getElementById("hint-button");
                if (btn.innerText === "{{ ui.hint }}") {
                    btn.innerText = document.getElementById('hidden-hint').textContent;
                    btn.innerHTML = "<i>" + document.getElementById('hidden-hint').textContent + "</i>";
                    $('#hint-button').css('background-color', 'rgba(198,246,213,0.51)');
                    $('#hint-button').css('border', '2.5px solid #2d9068');
                } else {
                    btn.innerText = "{{ ui.hint }}";
                    $('#hint-button').css('background-color', '#bee3f8');
                    $('#hint-button').css('border', '2.5px solid #3182ce');
                    $('#hint-button').css('outline', '#3182ce');
                }
            }

            $(document).on("ready", function () {
                $('.option-block').not('.incorrect-option').on("click", function () {
                    // remove active class except for the selected button
                    $('.option-block').not($(this)).removeClass('active');
                    $(this).toggleClass('active');
                });
            });


        </script>


        </script>
    </head>
    <body>
    <div>
        <p class="italic text-3xl font-bold tracking-wide text-blue-900 text-center font-slab">
            {{ question.question_text }}
        </p>
        {% if question.code and question.code!= "..." %}
            <pre><code class="ml-6 text-l">{{ question.code }}</code></pre>
        {% endif %}
        {% if wrong_answer_hint %}
            <div class="text-red-900 text-2xl text-center flex flex-row  font-slab font-semibold">
                {{ wrong_answer_hint }}
            </div>
        {% endif %}
        <div class="flex flex-row justify-center">
            <button type="button" onclick="changeHint()"
                    class="ml-1 bg-blue-500 text-white px-6 py-2 rounded font-medium mx-3 hover:bg-blue-600"
                    name="hint-button" id="hint-button">Hint?
            </button>
        </div>
        <form action="{{ url_for('submit_answer', level_source=level_source, question_nr=question_nr, attempt=attempt, lang=lang) }}"
              method="POST">
            <div>
                {% set counter = namespace(value=0) %}
                <div class="flex flex-col option-col">

                {% for row in question.mp_choice_options|batch(2) %}
                       <div class="flex flex-row option-row"
{#
                                 onclick="selectAnswer('{{ question_options[counter.value].char_index }}')"
#} >
                        {% for column in row %}
                            {% if question_options[counter.value].char_index == chosen_option %}
                                        <div class="option-block incorrect-option p-1 border-blue-600 tw-border-3 rounded-lg shadow-lg radio-block flex flex-row ">
                            {% else %}
                                        <div class="option-block p-1 border-blue-600 tw-border-3 rounded-lg shadow-lg radio-block flex flex-row ">
                            {% endif %}

                                           <svg class="option-icon" viewBox="0 0 50 50">
                                                <polygon class="shape shape-zero"
                                                         points="25.04 1.95 0.79 43.95 49.28 43.95 25.04 1.95"></polygon>
                                                <path class="number number-zero"
                                                      d="M22.4,32.66,23.51,22.12H19.62l.43-4.1h8.6l-.43,4.1L27.11,32.66h3.52l-.43,4.1H18.08l.43-4.1Z"></path>
                                            </svg>
                                            <div class="text-code-middle">
                                                {% if not question_options[counter.value].option_text or question_options[counter.value].option_text == 'None' %}
                                                    <code class="text-l">{{ question_options[counter.value].code | nl2br }}</code>
                                                {% elif not question_options[counter.value].code or question_options[counter.value].code == 'None' %}
                                                    <p class="text-l font-bold"> {{ question_options[counter.value].option_text | nl2br }}</p>
                                                {% endif %}
                                            </div>
                                                <button class="submit-button" type="submit" name="submit-button"
                                                         value="{{ question_options[counter.value].char_index }}">
                                                     {% if is_last_attempt %}
                                                        {{  ui.go_to_answer }}
                                                     {% else %}
                                                         {{ ui.submit_answer }} {{ question_nr }}
                                                     {% endif %}
                                                </button>
                                        </div>



                            {% set counter.value = counter.value + 1 %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </form>

    </div>
    </body>

    <div class="invisible" id="hidden-hint"> {{ question.hint }}</div>

{% endblock %}







{#
                                {% if question_options[counter.value].char_index == chosen_option %}
                                    {% if counter.value == 0 %}
                                        <button type="button" name="radio_option"
                                                id="answer-disabled-{{ question_options[counter.value].char_index }}"
                                                class="form-radio radio-btn p-1 border-blue-600 tw-border-3 rounded-lg shadow-lg radio-block flex flex-row "
                                                value="{{ question_options[counter.value].char_index }}"
                                                disabled="disabled">
                                           <svg class="option-icon" viewBox="0 0 50 50">
                                                <polygon class="shape shape-zero"
                                                         points="25.04 1.95 0.79 43.95 49.28 43.95 25.04 1.95"></polygon>
                                                <path class="number number-zero"
                                                      d="M22.4,32.66,23.51,22.12H19.62l.43-4.1h8.6l-.43,4.1L27.11,32.66h3.52l-.43,4.1H18.08l.43-4.1Z"></path>
                                            </svg>
                                               <label class=" ">
                                                    <div class="text-code-middle">
                                                        {% if not question_options[counter.value].option_text or question_options[counter.value].option_text == 'None' %}
                                                            <code class="text-l">{{ question_options[counter.value].code | nl2br }}</code>
                                                        {% elif not question_options[counter.value].code or question_options[counter.value].code == 'None' %}
                                                            <p class="text-l font-bold"> {{ question_options[counter.value].option_text | nl2br }}</p>
                                                        {% endif %}
                                                    </div>
                                                </label>

                                            {% if is_last_attempt %}
                                                <button class="submit-button ml-1" type="submit" name="submit-button-A"
                                                         value="{{ ui.go_to_answer }}"
                                                        disabled="disabled">
                                                    <svg class="button-icon" viewBox="0 0 50 50">
                                                        <polygon class="shape button-shape shape-zero"
                                                                 points="25.04 1.95 0.79 43.95 49.28 43.95 25.04 1.95"></polygon>
                                                        <path class="number button-number number-zero"
                                                              d="M22.4,32.66,23.51,22.12H19.62l.43-4.1h8.6l-.43,4.1L27.11,32.66h3.52l-.43,4.1H18.08l.43-4.1Z"></path>
                                                    </svg>
                                                </button>
                                            {% else %}
                                                <button class="submit-button ml-1" type="submit" name="submit-button-A"

                                                        value="{{ ui.submit_answer }} {{ question_nr }}"
                                                        disabled="disabled">
                                                    <svg class="button-icon" viewBox="0 0 50 50">
                                                        <polygon class="shape button-shape shape-zero"
                                                                 points="25.04 1.95 0.79 43.95 49.28 43.95 25.04 1.95"></polygon>
                                                        <path class="number button-number number-zero"
                                                              d="M22.4,32.66,23.51,22.12H19.62l.43-4.1h8.6l-.43,4.1L27.11,32.66h3.52l-.43,4.1H18.08l.43-4.1Z"></path>
                                                    </svg>
                                                </button>
                                            {% endif %}
                                        </button>
                                    {% elif counter.value == 1 %}
                                        <button type="button" name="radio_option"
                                                id="answer-disabled-{{ question_options[counter.value].char_index }}"
                                                class="form-radio radio-btn p-1 border-blue-600 tw-border-3 rounded-lg shadow-lg radio-block flex flex-row "
                                                value="{{ question_options[counter.value].char_index }}"
                                                disabled="disabled">
                                            <svg class="option-icon" viewBox="0 0 50 50">
                                                <rect class="shapes shape-one" x="7.68" y="7.67" width="34.64"
                                                      height="34.64"
                                                      transform="translate(-10.35 25.00) rotate(-45)"></rect>
                                                <path class="number number-one"
                                                      d="M17.07,23.35l1.36-5.50a19.53,19.53,0,0,1,7.23-1.4c5.11,0,6.8,2.34,6.8,5,0,5.07-6.04,7.48-11.05,10.00h6.98l.4-2.62,3.70.36-.79,6.37H15.70l-.03-3.81C21.79,28.07,27.3,25.48,27.3,22.49c0-1.44-1.3-1.94-2.88-1.94a7.35,7.35,0,0,0-2.91.54l-.82,2.66Z"></path>
                                                <label class=" ">
                                                    <div class="text-code-middle">
                                                        {% if not question_options[counter.value].option_text or question_options[counter.value].option_text == 'None' %}
                                                            <code class="text-l">{{ question_options[counter.value].code | nl2br }}</code>
                                                        {% elif not question_options[counter.value].code or question_options[counter.value].code == 'None' %}
                                                            <p class="text-l font-bold"> {{ question_options[counter.value].option_text | nl2br }}</p>
                                                        {% endif %}
                                                    </div>
                                                </label>
                                            </svg>
                                            {% if is_last_attempt %}
                                                <button class="submit-button ml-1" type="submit" name="submit-button-B"
                                                         value="{{ ui.go_to_answer }}"
                                                        disabled="disabled">
                                                    <svg class="button-icon" viewBox="0 0 50 50">
                                                        <polygon class="shape button-shape shape-zero"
                                                                 points="25.04 1.95 0.79 43.95 49.28 43.95 25.04 1.95"></polygon>
                                                        <path class="number button-number number-zero"
                                                              d="M22.4,32.66,23.51,22.12H19.62l.43-4.1h8.6l-.43,4.1L27.11,32.66h3.52l-.43,4.1H18.08l.43-4.1Z"></path>
                                                    </svg>
                                                </button>
                                            {% else %}
                                                <button class="submit-button ml-1" type="submit" name="submit-button-B"

                                                        value="{{ ui.submit_answer }} {{ question_nr }}"
                                                        disabled="disabled">
                                                    <svg class="button-icon" viewBox="0 0 50 50">
                                                        <polygon class="shape button-shape shape-zero"
                                                                 points="25.04 1.95 0.79 43.95 49.28 43.95 25.04 1.95"></polygon>
                                                        <path class="number button-number number-zero"
                                                              d="M22.4,32.66,23.51,22.12H19.62l.43-4.1h8.6l-.43,4.1L27.11,32.66h3.52l-.43,4.1H18.08l.43-4.1Z"></path>
                                                    </svg>
                                                </button>
                                            {% endif %}
                                        </button>
                                    {% elif counter.value == 2 %}
                                        <button type="button" name="radio_option"
                                                id="answer-disabled-{{ question_options[counter.value].char_index }}"
                                                class="form-radio radio-btn p-1 border-blue-600 tw-border-3 rounded-lg shadow-lg radio-block flex flex-row "
                                                value="{{ question_options[counter.value].char_index }}"
                                                disabled="disabled">
                                            <svg class="option-icon" viewBox="0 0 50 50">
                                                <rect class="shape shape-two" x="7.03" y="6.49" width="37"
                                                      height="37"></rect>
                                                <path class="number number-two"
                                                      d="M18.97,21.07l1.22-5.05a18.39,18.39,0,0,1,6.63-1.28c3.6,0,6.23,1.45,6.23,4.85,0,2.17-1.08,4.19-4.15,5.44l-.03.13c2.70.59,3.86,2.24,3.86,4.85,0,4.55-3.53,6.9-8.21,6.9-4.65,0-7.32-2.27-7-5.90l3.63-1.08c-.16,1.51.85,3.23,3.4,3.23a3.26,3.26,0,0,0,3.53-3.43c0-2.08-1.55-2.77-4.62-2.90l.3-2.9c4.48,0,4.55-2.77,4.55-3.2,0-1.41-.72-2.21-2.54-2.21a7.06,7.06,0,0,0-2.73.5l-.76,2.44Z"></path>
                                                <label class=" ">
                                                    <div class="text-code-middle">
                                                        {% if not question_options[counter.value].option_text or question_options[counter.value].option_text == 'None' %}
                                                            <code class="  text-l">{{ question_options[counter.value].code | nl2br }}</code>
                                                        {% elif not question_options[counter.value].code or question_options[counter.value].code == 'None' %}
                                                            <p class="text-l font-bold"> {{ question_options[counter.value].option_text | nl2br }}</p>
                                                        {% endif %}
                                                    </div>
                                                </label>
                                            </svg>
                                            {% if is_last_attempt %}
                                                <button class="submit-button ml-1" type="submit" name="submit-button-C"
                                                         value="{{ ui.go_to_answer }}"
                                                        disabled="disabled">
                                                    <svg class="button-icon" viewBox="0 0 50 50">
                                                        <polygon class="shape button-shape shape-zero"
                                                                 points="25.04 1.95 0.79 43.95 49.28 43.95 25.04 1.95"></polygon>
                                                        <path class="number button-number number-zero"
                                                              d="M22.4,32.66,23.51,22.12H19.62l.43-4.1h8.6l-.43,4.1L27.11,32.66h3.52l-.43,4.1H18.08l.43-4.1Z"></path>
                                                    </svg>
                                                </button>
                                            {% else %}
                                                <button class="submit-button ml-1" type="submit" name="submit-button-C"

                                                        value="{{ ui.submit_answer }} {{ question_nr }}"
                                                        disabled="disabled">
                                                    <svg class="button-icon" viewBox="0 0 50 50">
                                                        <polygon class="shape button-shape shape-zero"
                                                                 points="25.04 1.95 0.79 43.95 49.28 43.95 25.04 1.95"></polygon>
                                                        <path class="number button-number number-zero"
                                                              d="M22.4,32.66,23.51,22.12H19.62l.43-4.1h8.6l-.43,4.1L27.11,32.66h3.52l-.43,4.1H18.08l.43-4.1Z"></path>
                                                    </svg>
                                                </button>
                                            {% endif %}
                                        </button>
                                    {% elif counter.value == 3 %}
                                        <button type="button" name="radio_option"
                                                id="answer-disabled-{{ question_options[counter.value].char_index }}"
                                                class="form-radio radio-btn p-1 border-blue-600 tw-border-3 rounded-lg shadow-lg radio-block flex flex-row "
                                                value="{{ question_options[counter.value].char_index }}"
                                                disabled="disabled">
                                            <svg class="option-icon" viewBox="0 0 50 50">
                                                <circle class="shape shape-three" cx="24.55" cy="25.02"
                                                        r="20.5"></circle>
                                                <path class="number number-three"
                                                      d="M24.06,36.83l.59-5.64H15.35l-.03-3.66,7.62-12.17h7.69L29.34,27.52h3.23l-.72,3.66H28.98l-.59,5.64Zm1.84-17.72H24.4l-5.04,8.41h5.67Z"></path>
                                                <label class=" ">
                                                    <div class="text-code-middle">
                                                        {% if not question_options[counter.value].option_text or question_options[counter.value].option_text == 'None' %}
                                                            <code class="text-l">{{ question_options[counter.value].code | nl2br }}</code>
                                                        {% elif not question_options[counter.value].code or question_options[counter.value].code == 'None' %}
                                                            <p class="text-l font-bold"> {{ question_options[counter.value].option_text | nl2br }}</p>
                                                        {% endif %}
                                                    </div>
                                                </label>
                                            </svg>
                                            {% if is_last_attempt %}
                                                <button class="submit-button ml-1" type="submit" name="submit-button-D"
                                                         value="{{ ui.go_to_answer }}"
                                                        disabled="disabled">
                                                    <svg class="button-icon" viewBox="0 0 50 50">
                                                        <polygon class="shape button-shape shape-zero"
                                                                 points="25.04 1.95 0.79 43.95 49.28 43.95 25.04 1.95"></polygon>
                                                        <path class="number button-number number-zero"
                                                              d="M22.4,32.66,23.51,22.12H19.62l.43-4.1h8.6l-.43,4.1L27.11,32.66h3.52l-.43,4.1H18.08l.43-4.1Z"></path>
                                                    </svg>
                                                </button>
                                            {% else %}
                                                <button class="submit-button ml-1" type="submit" name="submit-button-D"

                                                        value="{{ ui.submit_answer }} {{ question_nr }}"
                                                        disabled="disabled">
                                                    <svg class="button-icon" viewBox="0 0 50 50">
                                                        <polygon class="shape button-shape shape-zero"
                                                                 points="25.04 1.95 0.79 43.95 49.28 43.95 25.04 1.95"></polygon>
                                                        <path class="number button-number number-zero"
                                                              d="M22.4,32.66,23.51,22.12H19.62l.43-4.1h8.6l-.43,4.1L27.11,32.66h3.52l-.43,4.1H18.08l.43-4.1Z"></path>
                                                    </svg>
                                                </button>
                                            {% endif %}
                                        </button>
                                    {% endif %}
                                {% else %}

                                    {% if counter.value == 0 %}
                                        <button type="button" name="radio_option"
                                                id="{{ question_options[counter.value].char_index }}"
                                                class="form-radio radio-btn p-1 border-blue-600 tw-border-3 rounded-lg shadow-lg radio-block flex flex-row "
                                                value="{{ question_options[counter.value].char_index }}">
                                         !!!
                                            <svg class="option-icon" viewBox="0 0 50 50">
                                                <polygon class="shape shape-zero"
                                                         points="25.04 1.95 0.79 43.95 49.28 43.95 25.04 1.95"></polygon>
                                                <path class="number number-zero"
                                                      d="M22.4,32.66,23.51,22.12H19.62l.43-4.1h8.6l-.43,4.1L27.11,32.66h3.52l-.43,4.1H18.08l.43-4.1Z"></path>
                                            </svg>
                                            <label class=" ">
                                                    <div class="text-code-middle">
                                                        {% if not question_options[counter.value].option_text or question_options[counter.value].option_text == 'None' %}
                                                            <code class="text-l">{{ question_options[counter.value].code | nl2br }}</code>
                                                        {% elif not question_options[counter.value].code or question_options[counter.value].code == 'None' %}
                                                            <p class="text-l font-bold"> {{ question_options[counter.value].option_text | nl2br }}</p>
                                                        {% endif %}
                                                    </div>
                                                </label>
                                            {% if is_last_attempt %}
                                                <button class="submit-button ml-1" type="submit" name="submit-button-A"
                                                         value="!!!{{ ui.go_to_answer }}"
                                                        >
                                                    <svg class="button-icon" viewBox="0 0 50 50">
                                                        <polygon class="shape button-shape shape-zero"
                                                                 points="25.04 1.95 0.79 43.95 49.28 43.95 25.04 1.95"></polygon>
                                                        <path class="number button-number number-zero"
                                                              d="M22.4,32.66,23.51,22.12H19.62l.43-4.1h8.6l-.43,4.1L27.11,32.66h3.52l-.43,4.1H18.08l.43-4.1Z"></path>
                                                    </svg>
                                                </button>
                                            {% else %}
                                                <button class="submit-button ml-1" type="submit" name="submit-button-A"
                                                        value="@@@{{ ui.submit_answer }} {{ question_nr }}"
                                                        >
                                                    <svg class="button-icon" viewBox="0 0 50 50">
                                                        <polygon class="shape button-shape shape-zero"
                                                                 points="25.04 1.95 0.79 43.95 49.28 43.95 25.04 1.95"></polygon>
                                                        <path class="number button-number number-zero"
                                                              d="M22.4,32.66,23.51,22.12H19.62l.43-4.1h8.6l-.43,4.1L27.11,32.66h3.52l-.43,4.1H18.08l.43-4.1Z"></path>
                                                    </svg>
                                                </button>
                                            {% endif %}
                                        </button>
                                    {% elif counter.value == 1 %}
                                        <button type="button" name="radio_option"
                                                id="{{ question_options[counter.value].char_index }}"
                                                value="{{ question_options[counter.value].char_index }}"
                                                class="form-radio radio-btn p-1 border-blue-600 tw-border-3 rounded-lg shadow-lg radio-block flex flex-row"
                                        >
                                            <svg class="option-icon" viewBox="0 0 50 50">
                                                <rect class="shape shape-one" x="7.68" y="7.67" width="34.64"
                                                      height="34.64"
                                                      transform="translate(-10.35 25.00) rotate(-45)"></rect>
                                                <path class="number number-one"
                                                      d="M17.07,23.35l1.36-5.50a19.53,19.53,0,0,1,7.23-1.4c5.11,0,6.8,2.34,6.8,5,0,5.07-6.04,7.48-11.05,10.00h6.98l.4-2.62,3.70.36-.79,6.37H15.70l-.03-3.81C21.79,28.07,27.3,25.48,27.3,22.49c0-1.44-1.3-1.94-2.88-1.94a7.35,7.35,0,0,0-2.91.54l-.82,2.66Z"></path>
                                                <label class=" ">
                                                    <div class="text-code-middle">
                                                        {% if not question_options[counter.value].option_text or question_options[counter.value].option_text == 'None' %}
                                                            <code class="text-l">{{ question_options[counter.value].code | nl2br }}</code>
                                                        {% elif not question_options[counter.value].code or question_options[counter.value].code == 'None' %}
                                                            <p class="text-l font-bold"> {{ question_options[counter.value].option_text | nl2br }}</p>
                                                        {% endif %}
                                                    </div>
                                                </label>
                                            </svg>
                                            {% if is_last_attempt %}
                                                <button class="submit-button ml-1" type="submit" name="submit-button-B"
                                                         value="{{ ui.go_to_answer }}"
                                                        disabled="disabled">
                                                    <svg class="button-icon" viewBox="0 0 50 50">
                                                        <polygon class="shape button-shape shape-zero"
                                                                 points="25.04 1.95 0.79 43.95 49.28 43.95 25.04 1.95"></polygon>
                                                        <path class="number button-number number-zero"
                                                              d="M22.4,32.66,23.51,22.12H19.62l.43-4.1h8.6l-.43,4.1L27.11,32.66h3.52l-.43,4.1H18.08l.43-4.1Z"></path>
                                                    </svg>
                                                </button>
                                            {% else %}
                                                <button class="submit-button ml-1" type="submit" name="submit-button-B"

                                                        value="{{ ui.submit_answer }} {{ question_nr }}"
                                                        disabled="disabled">
                                                    <svg class="button-icon" viewBox="0 0 50 50">
                                                        <polygon class="shape button-shape shape-zero"
                                                                 points="25.04 1.95 0.79 43.95 49.28 43.95 25.04 1.95"></polygon>
                                                        <path class="number button-number number-zero"
                                                              d="M22.4,32.66,23.51,22.12H19.62l.43-4.1h8.6l-.43,4.1L27.11,32.66h3.52l-.43,4.1H18.08l.43-4.1Z"></path>
                                                    </svg>
                                                </button>
                                            {% endif %}
                                        </button>
                                    {% elif counter.value == 2 %}
                                        <button type="button" name="radio_option"
                                                id="{{ question_options[counter.value].char_index }}"
                                                value="{{ question_options[counter.value].char_index }}"
                                                class="form-radio radio-btn p-1 border-blue-600 tw-border-3 rounded-lg shadow-lg radio-block flex flex-row"
                                        >
                                            <svg class="option-icon" viewBox="0 0 50 50">
                                                <rect class="shape shape-two" x="7.03" y="6.49" width="37"
                                                      height="37"></rect>
                                                <path class="number number-two"
                                                      d="M18.97,21.07l1.22-5.05a18.39,18.39,0,0,1,6.63-1.28c3.6,0,6.23,1.45,6.23,4.85,0,2.17-1.08,4.19-4.15,5.44l-.03.13c2.70.59,3.86,2.24,3.86,4.85,0,4.55-3.53,6.9-8.21,6.9-4.65,0-7.32-2.27-7-5.90l3.63-1.08c-.16,1.51.85,3.23,3.4,3.23a3.26,3.26,0,0,0,3.53-3.43c0-2.08-1.55-2.77-4.62-2.90l.3-2.9c4.48,0,4.55-2.77,4.55-3.2,0-1.41-.72-2.21-2.54-2.21a7.06,7.06,0,0,0-2.73.5l-.76,2.44Z"></path>
                                                <label class=" ">
                                                    <div class="text-code-middle">
                                                        {% if not question_options[counter.value].option_text or question_options[counter.value].option_text == 'None' %}
                                                            <code class="text-l">{{ question_options[counter.value].code | nl2br }}</code>
                                                        {% elif not question_options[counter.value].code or question_options[counter.value].code == 'None' %}
                                                            <p class="text-l font-bold"> {{ question_options[counter.value].option_text | nl2br }}</p>
                                                        {% endif %}
                                                    </div>
                                                </label>
                                            </svg>
                                            {% if is_last_attempt %}
                                                <button class="submit-button ml-1" type="submit" name="submit-button-C"
                                                         value="{{ ui.go_to_answer }}"
                                                        disabled="disabled">
                                                    <svg class="button-icon" viewBox="0 0 50 50">
                                                        <polygon class="shape button-shape shape-zero"
                                                                 points="25.04 1.95 0.79 43.95 49.28 43.95 25.04 1.95"></polygon>
                                                        <path class="number button-number number-zero"
                                                              d="M22.4,32.66,23.51,22.12H19.62l.43-4.1h8.6l-.43,4.1L27.11,32.66h3.52l-.43,4.1H18.08l.43-4.1Z"></path>
                                                    </svg>
                                                </button>
                                            {% else %}
                                                <button class="submit-button ml-1" type="submit" name="submit-button-C"

                                                        value="{{ ui.submit_answer }} {{ question_nr }}"
                                                        disabled="disabled">
                                                    <svg class="button-icon" viewBox="0 0 50 50">
                                                        <polygon class="shape button-shape shape-zero"
                                                                 points="25.04 1.95 0.79 43.95 49.28 43.95 25.04 1.95"></polygon>
                                                        <path class="number button-number number-zero"
                                                              d="M22.4,32.66,23.51,22.12H19.62l.43-4.1h8.6l-.43,4.1L27.11,32.66h3.52l-.43,4.1H18.08l.43-4.1Z"></path>
                                                    </svg>
                                                </button>
                                            {% endif %}
                                        </button>
                                    {% elif counter.value == 3 %}
                                        <button type="button" name="radio_option"
                                                id="{{ question_options[counter.value].char_index }}"
                                                value="{{ question_options[counter.value].char_index }}"
                                                class="form-radio radio-btn p-1 border-blue-600 tw-border-3 rounded-lg shadow-lg radio-block flex flex-row"
                                        >
                                            <svg class="option-icon" viewBox="0 0 50 50">
                                                <circle class="shape shape-three" cx="24.55" cy="25.02"
                                                        r="20.5"></circle>
                                                <path class="number number-three"
                                                      d="M24.06,36.83l.59-5.64H15.35l-.03-3.66,7.62-12.17h7.69L29.34,27.52h3.23l-.72,3.66H28.98l-.59,5.64Zm1.84-17.72H24.4l-5.04,8.41h5.67Z"></path>
                                                <label class=" ">
                                                    <div class="text-code-middle">
                                                        {% if not question_options[counter.value].option_text or question_options[counter.value].option_text == 'None' %}
                                                            <code class="text-l">{{ question_options[counter.value].code | nl2br }}</code>
                                                        {% elif not question_options[counter.value].code or question_options[counter.value].code == 'None' %}
                                                            <p class="text-l font-bold"> {{ question_options[counter.value].option_text | nl2br }}</p>
                                                        {% endif %}
                                                    </div>
                                                </label>
                                            </svg>

                                            {% if is_last_attempt %}
                                                <button class="submit-button ml-1" type="submit" name="submit-button-D"
                                                         value="{{ ui.go_to_answer }}"
                                                        disabled="disabled">
                                                    <svg class="button-icon" viewBox="0 0 50 50">
                                                        <polygon class="shape button-shape shape-zero"
                                                                 points="25.04 1.95 0.79 43.95 49.28 43.95 25.04 1.95"></polygon>
                                                        <path class="number button-number number-zero"
                                                              d="M22.4,32.66,23.51,22.12H19.62l.43-4.1h8.6l-.43,4.1L27.11,32.66h3.52l-.43,4.1H18.08l.43-4.1Z"></path>
                                                    </svg>
                                                </button>
                                            {% else %}
                                                <button class="submit-button ml-1" type="submit" name="submit-button-D"

                                                        value="{{ ui.submit_answer }} {{ question_nr }}"
                                                        disabled="disabled">
                                                    <svg class="button-icon" viewBox="0 0 50 50">
                                                        <polygon class="shape button-shape shape-zero"
                                                                 points="25.04 1.95 0.79 43.95 49.28 43.95 25.04 1.95"></polygon>
                                                        <path class="number button-number number-zero"
                                                              d="M22.4,32.66,23.51,22.12H19.62l.43-4.1h8.6l-.43,4.1L27.11,32.66h3.52l-.43,4.1H18.08l.43-4.1Z"></path>
                                                    </svg>
                                                </button>
                                            {% endif %}
                                        </button>
                                    {% endif %}
                                {% endif %}
                            </div>
#}