    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&display=swap">
    <link rel="stylesheet" href="{{static('/css/generated.css')}}">
    <link rel="stylesheet" href="{{static('/css/additional.css')}}">
    <link rel="stylesheet" href="{{ static('/css/quiz-css.css') }}">
    <link rel="stylesheet" href="{{ static('/css/progress-bar.css') }}">
    <link rel="stylesheet" href="{{ static('/fontawesome/css/all.css') }}">
		<div class="container">
          <!-- Responsive Arrow Progress Bar -->
          <div class="arrow-steps clearfix">
              <div class="step check"><span><i class="fas fa-check"></i></span></div>
              <div class="step incorrect"><span><i class="fas fa-times"></i></span></div>
              <div class="step check"><span><i class="fas fa-check"></i></span></div>
              <div class="step current"><span><a class="step-text" href="#">Vraag 4<br>Poging 2</a></span></div>
              <div class="step"><span><a class="step-text" href="#">5</a></span></div>
              <div class="step"><span><a class="step-text" href="#">6</a></span></div>
              <div class="step"><span><a class="step-text" href="#">7</a></span></div>
              <div class="step"><span><a class="step-text" href="#">8</a></span></div>
              <div class="step"><span><a class="step-text" href="#">9</a></span></div>
              <div class="step"><span><a class="step-text" href="#">10</a></span></div>
          </div>
        </div>
{% block question %}{% endblock %}

