<div id="start_quiz_container">
    <div class="flex-container">
        <div class="center-picture p-10"><img class="rounded-full border-green-600 border-8" src="{{ static('/images/quiz_logo.jpg') }}" alt="quiz_logo"/>
        </div>
        <div class="title-block p-8 border-t-8 border-blue-600">
            <h1 class="start-quiz-title font-slab">{{_('start_quiz')}}</h1>
            <h2 class="start-quiz-subtitle"><i> {{_('level_title')}} {{ level }} </i></h2>
        </div>
    </div>
    <div class="p-10 button-bar border-t-8 border-green-600 ">
        <button class="green-btn ltr:ml-1 rtl:mr-1" onclick="hedyApp.startQuiz({{level}});">
            {{_('go_to_first_question')}}
        </button>
    </div>
</div>
<div id="quiz_container">
    <div class="arrow-steps clearfix">
        <!-- Todo: We have to get the amount of questions directly from /hedy -> add to Adventure routing -->
        {% for i in range(1, quiz_questions + 1)%}
           {% if i == 1 %}
               <div class="step current"><span><a class="step-text" href="#">{{_('question')}} {{ i }}<br>{{_('attempt')}} 1</a></span></div>
           {% else %}
               <div class="step"><span><a class="step-text" href="#">{{ i }}</a></span></div>
           {% endif %}
        {% endfor %}
    </div>
    <div id="quiz_question_container">
        <p class="italic text-3xl font-bold text-blue-900 text-center font-slab"></p> <!-- question -->
        <div class="turn-pre-into-ace w-3/4 mx-auto my-4">
            <pre class="quiz-question no-copy-button" level="{{ level }}"></pre> <!-- question code -->
        </div>
        <div class="text-red-900 text-xl my-2 text-center font-slab font-semibold">
            <!-- question hint -->
        </div>
        <div class="flex flex-row justify-center">
            <button type="button" class="bg-blue-500 text-white px-6 py-2 rounded font-medium mx-3 hover:bg-blue-600" name="hint-button" id="hint-button">{{_('hint')}}</button> <!-- question hint -->
        </div>
    </div>
</div>
<div id="end_quiz_container" class="hidden">
    <div class="flex flex-col justify-center items-center p-8">
        <h1 class="p-8 font-bold text-4xl font-slab">{{_('end_quiz')}}</h1>
        <h3 class="p-8 font-semibold text-2xl italic font-slab">{{_('score')}}</h3>
        <div class="p-8 border-4 border-yellow-600 rounded-full h-24 w-24 flex items-center bg-yellow-300 justify-center">
            <p class="text-yellow-600 font-bold text-4xl text-center font-slab ">
                <!-- Dynamically load the score here in the end -->
            </p>
        </div>
    </div>
    <div class="flex py-4 px-8 bg-green-300 justify-between border-t-8 border-green-600">
        <button class="green-btn ltr:ml-1 rtl:mr-1" onclick="window.location = '/hedy/{{next_level}}'">{{_('go_to_quiz_result')}}</button>
        {% if next_level %}
            <button class="green-btn ltr:ml-1 rtl:mr-1" onclick="window.location = '/hedy/{{next_level}}'">{{_('advance_button')|replace("{level}", next_level)}}</button>
        {% endif %}
    </div>
</div>
<div id="quiz_results_container" class="hidden">
    <!-- We can get this dynamically using the AJAX calls -->
</div>
