{% extends "quiz.html" %}

{% block question %}
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type=text/javascript>
            $(function () {
                $("input[name='radio_option']").change(function () {
                    $("input[name='submit-button']").prop("disabled", false);
                });
            });

            function changeHint() {
                const btn = document.getElementById("hint-button");
                if (btn.innerText === "Hint?") {
                    btn.innerText = document.getElementById('hidden-hint').textContent;
                } else {
                    btn.innerText = "Hint?";
                }
            }

        </script>
    </head>
    <body>
    <div>
        <div class="text-green-900 text-2xl text-center flex flex-row justify-center font-slab"><p
                class="font-semibold">Vraag {{ question_nr }}</p>
            <p> / {{ questions|length }} - Poging {{ attempt }} </p></div>
        <p class="italic text-3xl font-bold tracking-wide text-blue-900 text-center font-slab"> {{ question.question_text }} </p>
        {% if question.code and question.code!= "..." %}
            <pre><code class="ml-6 text-xl">{{ question.code }}</code></pre>
        {% endif %}
        <form action='/quiz/submit_answer/{{ level_source }}/{{ question_nr }}/{{ attempt|int + 1 }}' method="POST">
            <div class="grid gap-1 rounded-t-xl">
                {% set counter = namespace(value=0) %}
                {% for row in question.mp_choice_options|batch(2) %}
                    <div class="flex flex-row">
                    {% for column in row %}
                        <div class="flex flex-col">
                            {% if question.correct_answer in chosen_option %}
                                <div class="p-1 border-blue-600 border-4 rounded-lg shadow-lg radio-block"
                                     id={{ question_options[counter.value].char_index }}>
                                    <label class="inline-flex items-center"><p
                                            class="text-4xl font-bold ml-6 mr-6 font-slab">
                                        {{ question_options[counter.value].char_index }}</p>
                                        <input
                                                type="radio"
                                                name="radio_option"
                                                value="{{ question_nr }}-{{ question_options[counter.value].char_index }}"
                                                class="class form-radio h-12 w-12">
                                        <span>

                                        {% if not question_options[counter.value].option_text or question_options[counter.value].option_text == 'None' %}
                                            <code class="ml-6 text-xl">{{ question_options[counter.value].code }}</code>
                                        {% elif not question_options[counter.value].code or question_options[counter.value].code == 'None'  %}
                                            <p class="ml-6 text-xl font-bold"> {{ question_options[counter.value].option_text }}</p>
                                        {% endif %}</span>
                                    </label>
                                </div>
                            {% elif question_options[counter.value].char_index in chosen_option %}
                                <div class="p-1 border-blue-600 border-4 rounded-lg shadow-lg" radio-block
                                     id="answer-disabled-{{ question_options[counter.value].char_index }}">
                                    <label class="inline-flex items-center"><p
                                            class="text-4xl font-bold ml-6 mr-6 font-slab">
                                        {{ question_options[counter.value].char_index }}</p></p>
                                        <input
                                                type="radio"
                                                name="radio_option"
                                                value="{{ question_nr }}-{{ question_options[counter.value].char_index }}"
                                                class="class form-radio h-12 w-12" disabled="disabled">
                                        <span>
                                        {% if not question_options[counter.value].option_text or question_options[counter.value].option_text == 'None' %}
                                            <code class="ml-6 text-xl">{{ question_options[counter.value].code  }}</code>
                                        {% elif not question_options[counter.value].code or question_options[counter.value].code == 'None'   %}
                                            <p class="ml-6 text-xl font-bold"> {{ question_options[counter.value].option_text }}</p>
                                        {% endif %}
                                        </span>
                                    </label>
                                </div>
                            {% else %}
                                <div class="p-1 border-blue-600 border-4 rounded-lg shadow-lg radio-block"
                                     id={{ question_options[counter.value].char_index }}>
                                    <label class="inline-flex items-center"><p
                                            class="text-4xl font-bold ml-6 mr-6 font-slab">
                                        {{ question_options[counter.value].char_index }}</p>
                                        <input
                                                type="radio"
                                                name="radio_option"
                                                value="{{ question_nr }}-{{ question_options[counter.value].char_index }}"
                                                class="class form-radio h-12 w-12">
                                        <span>
                                                {% if not question_options[counter.value].option_text or question_options[counter.value].option_text == 'None' %}
                                                    <code class="ml-6 text-xl">{{ question_options[counter.value].code }}</code>
                                                {% elif not question_options[counter.value].code or question_options[counter.value].code == 'None'  %}
                                                    <p class="ml-6 text-xl font-bold"> {{ question_options[counter.value].option_text }}</p>
                                                {% endif %}
                                            </span>
                                    </label>
                                </div>
                            {% endif %}
                        </div>
                        {% set counter.value = counter.value + 1 %}
                    {% endfor %}
                       </div>
                {% endfor %}
                </div>
                <div class="p-10 button-bar border-t-8 border-green-600">
                    <div class="invisible" id="hidden-hint"> {{ question.hint }}</div>
                    <div>
                        <button type="button" onclick="changeHint()"
                                class="ml-1 bg-blue-500 text-white px-6 py-2 rounded font-medium mx-3 hover:bg-blue-600"
                                name="hint-button" id="hint-button">Hint?
                        </button>
                    </div>
                    {% if attempt == config['quiz-max-attempts'] %}
                        <input class="green-btn ml-1" type="submit" name="submit-button"
                               value="Ga naar het antwoord" disabled="disabled">
                    {% else %}
                        <input class="green-btn ml-1" type="submit" name="submit-button"
                               value="Beantwoord vraag {{ question_nr }}" disabled="disabled">
                    {% endif %}
                </div>
        </form>

    </div>
    </body>

{% endblock %}
