{% extends "auth.html" %}

{% block regular_content %}
<div class="w-full mx-auto flex flex-col items-center gap-4">
    <div class="bg-white shadow-md rounded-lg rounded py-4">
      <form id="recover" class="flex flex-col items-center gap-2">
        <h2>{{_('recover_password')}}</h2>
        <div class="w-full flex px-8 flex-row items-center justify-center gap-2">
            <label class="inline-block w-80" for="username">{{_('username')}} / {{_('email')}}</label>
            <input class="inline-block w-full px-2 py-1 rounded-lg border-gray-400" id="username" name="username" required>
        </div>
        <button type="submit" class="green-btn mt-2" id="send_recovery_button">{{_('send_password_recovery')}}</button>
      </form>
    </div>
</div>
{% endblock %}
