{% extends "auth.html" %}

{% block main %}
<div class="px-8">
  <form class="auth" onsubmit="event.preventDefault (); window.auth.submit ('signup')">
    <h2>{{auth.create_account}}</h2>
    <br>
    <label>{{auth.username}}</label>
    <input id="username">
    <br><br>
    <label>{{auth.email}}</label>
    <input id="email">
    <br><br>
    <label>{{auth.password}}</label>
    <input id="password" type=password>
    <br><br>
    <label>{{auth.password_repeat}}</label>
    <input id="password_repeat" type=password>
    <br><br>
    <label>{{auth.birth_year}}</label>
    <input id="birth_year">
    <br><br>
    <label>{{auth.gender}}</label>
    <select id="gender">
      <option value="">{{auth.select}}</option>
      <option value="f">{{auth.female}}</option>
      <option value="m">{{auth.male}}</option>
      <option value="o">{{auth.other}}</option>
    </select>
    <br><br>
    <label>{{auth.country}}</label>
    <select id="country"></select>
    <br><br>
    <input type="submit" class="pointer" value="{{auth.create_account}}">
    <br><br>
    {{auth.already_account}} <a href="login">{{auth.login}}</a>
  </form>
</div>
{% endblock %}
