{% extends "auth.html" %}

{% block main %}
<div class="w-full mx-auto flex flex-col items-center gap-4">
    <div class="bg-white shadow-md rounded-lg rounded py-4 px-0 md:px-4 lg:px-8">
        <h2 class="my-0 text-center">{{_('signup_student_or_teacher')}}</h2>

        <div class="mt-8 mx-auto flex flex-wrap lg:flex-nowrap justify-center gap-8">
            <a href="/signup-student">
                <div class="w-full border-2 rounded-lg flex flex-col items-center px-8 bg-white text-center border-green-400 bg-gray-200 hover:bg-green-400 cursor-pointer" onclick="window.location = '/tutorial'">
                    <img src="/images/profile_images/4.png" class="h-32 m-8 mb-0" alt="Hedy tutorial icon">
                    <div class="my-4">
                        <p class="text-xl">{{_('student')}}</p>
                    </div>
                </div>
            </a>
            
            <a href="/signup-teacher">
                <div class="w-full border-2 rounded-lg flex flex-col items-center px-8 bg-white text-center border-green-400 bg-gray-200 hover:bg-green-400 cursor-pointer" onclick="window.location = '/hedy'">
                    <img src="/images/profile_images/11.png" class="h-32 m-8 mb-0" alt="Begin met programmeren icon">
                    <div class="my-4">
                        <p class="text-xl">{{_('teacher')}}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <form onsubmit="event.preventDefault (); window.location.href='/login'"  class="flex flex-row gap-4 items-center">
        <label>{{_('already_account')}}</label>
        <button type="submit" class="btn">{{_('login')}}</button>
    </form>
</div>
{% endblock %}
