{% extends "auth.html" %}

{% block body %}
    <iframe src="https://slides.com/lmc_oebbens/hedy-level-18-python/embed" width="576" height="420" title="Hedy level 18 - Python" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <p></p>
    <iframe src="https://slides.com/lmc_oebbens/hedy-level-17-elif-6f0a6e/embed" width="576" height="420" title="Hedy level 17 - elif" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <p></p>
    <iframe src="https://slides.com/lmc_oebbens/hedy-level-16/embed" width="576" height="420" title="Hedy level 16 - vierkante haken" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <p></p>
    <iframe src="https://slides.com/lmc_oebbens/hedy-start/embed" width="576" height="420" title="Hedy start" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <p></p>
    <iframe src="https://slides.com/lmc_oebbens/hedy-level-1/embed" width="576" height="420" title="Hedy level 1 - print, ask" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
{% endblock %}