{% set slide_number = 1 %}
<div class="bg-blue-200">
    <div class="grid grid-cols-1 md:grid-row-2">
        <div id="slide1" class="bg-red-200 flex flex-col justify-center items-center">
            {% set slide = slides[slide_number] %}
            <h1 id="header1">{{ slide['header'] }}</h1>
            <p id="text1">{{ slide['text'] }}</p>
        </div>
        <div id="code" class="bg-green-200 md:row-span-2">
            <div class="flex justify-end mr-4">
                {{ render_partial('htmx-language-switch-button.html', commands=commands) }}
            </div>
            {{ render_partial("code-page.html",
                specific_adventure=True,
                level_nr=level,
                level=level,
                adventures=adventures,
                raw=True,
                menu=False,
                blur_button_available=False,
                javascript_page_options=dict(
                    page='code',
                    lang=g.lang,
                    level=level,
                    adventures=adventures,
                    initial_tab='start',
                    current_user_name=user,
                    suppress_save_and_load_for_slides=True,
                ))}}
        </div>
    </div>
</div>
