
{% macro insert_accordion_tab(id, title, called) %}

<div class="accordion-tab w-full overflow-hidden border-t">
  <input class="absolute opacity-0" id="{{id}}" type="checkbox" name="tabs" checked="checked">
  <label class="block p-3 leading-normal cursor-pointer border-b font-light text-xl" for="{{id}}">{{title}}</label>
  <div class="tab-content overflow-hidden leading-normal">
    <div class="stats-spinner flex justify-center items-center h-64">
      <div class="animate-spin rounded-full h-32 w-32 border-b-2 border-blue-400">
      </div>
    </div>

    {{ caller() }}

  </div>
</div>

{% endmacro %}


{% macro insert_log_search(class_id, usernames) %}

<form id="logs-search-form" class="w-full grid grid-cols-1 lg:grid-cols-3 gap-4 p-3">
  <div class="flex flex-col">
    <div class="w-full flex-1 flex flex-col">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="logs-start-date">
        Start date
      </label>
      <input
          class="block w-full py-2 px-4 outline-none border-2 border-gray-400" id="logs-start-date"
          type="text" name="start" placeholder="2022-01-01 00:00:00">
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-full flex-1 flex flex-col">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="logs-end-date">
        End date
      </label>
      <input
          class="block w-full py-2 px-4 outline-none border-2 border-gray-400" id="logs-end-date" type="text"
          name="end" placeholder="2022-12-31 23:59:59">
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-full flex-1 flex flex-col">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="logs-level">
        Level
      </label>
      <input class="block w-full py-2 px-4 outline-none border-2 border-gray-400" id="logs-level" type="text"
             name="level" placeholder="e.g. 15 or 1%">
    </div>
  </div>
  <div class="flex flex-col">
    <div class="w-full flex-1 flex flex-col">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="logs-exception">
        Exception
      </label>
      <input class="block w-full py-2 px-4 outline-none border-2 border-gray-400" id="logs-exception"
             type="text" name="exception" placeholder="e.g. ParseException or Parse%">
    </div>
  </div>

  <div class="flex flex-col">
    <div class="w-full flex-1 flex flex-col">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="logs-username">
        Username
      </label>
      {% if class_id %}
      <select id="logs-username" name="username" class="block appearance-none border-gray-400 border-2 px-4 py-2"
              style="outline:none">
        {% for user in usernames %}
          <option value="{{user}}">{{user}}</option>
        {% endfor %}
      </select>
      {% else %}
      <input id="logs-username" name="username" class="block w-full py-2 px-4 outline-none border-2 border-gray-400"
             type="text" placeholder="e.g. hedy, h% or %hedy%">
      {% endif %}
    </div>
  </div>

  <div class="flex flex-col">
    <div class="w-full flex-1 flex flex-col">
     <button id="search-logs-button" type="button"
             class="shadow green-btn focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 lg:mt-6 rounded"
             onclick="hedyApp.logs.searchProgramLogs('{{class_id}}')">
        Search
     </button>
   </div>
  </div>
</form>
<table id="search-logs-table" class="table-fixed mb-4 w-full">
  <thead>
    <tr>
      <th class="px-2">Date</th>
      <th class="px-2 w-14">Level</th>
      <th class="px-2 w-14">Lang</th>
      <th class="px-2">Username</th>
      <th class="px-2">Exception</th>
      <th class="px-2 w-1/3">Code</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<div class="text-center">
  <button type="button" id="logs-load-more" class="green-btn mb-4 hidden"
          onclick="hedyApp.logs.fetchProgramLogsResults()">
    Load more
  </button>
</div>
<div id="search-logs-failed-msg" class="text-center font-semibold my-5">
  Query failed. Review supplied parameters and try again.
</div>
<div id="search-logs-empty-msg" class="text-center font-semibold my-5">
  No data found matching the search criteria.
</div>
<div id="logs-spinner" class="flex justify-center items-center h-64">
  <div class="animate-spin rounded-full h-32 w-32 border-b-2 border-blue-400"></div>
</div>
{% endmacro %}