{% extends "class-live-stats.html" %}

{% block student_space %}

  <div class="justify-center pt-10 min-h-full">
      <h2 class="text-center">Student Details</h2>
      <div class="w-full max-w-8xl rounded-lg bg-blue-200 shadow-lg" id="card-student-details">
        <a class="no-underline float-right p-2" href="/live_stats/class/{{class_info.id}}">❌</a>
        <!-- Title columns -->
        <div class="grid grid-cols-2 px-5">
          <div class="w-full text-left" id="name-col">
              <h4>Name: {{class_info.student.username}}</h4>
          </div>
          <div class="w-full text-left" id="level-col">
              <h4>Current level: {{class_info.student.highest_level}}</h4>
          </div>
        </div>
        <!-- Content -->
        <div class="grid grid-cols-3 p-5">
          <div class="w-full text-center" id="runs-over-time">
            <h5 class="font-normal pb-1">Runs over time</h5>
            <div><img class="p-2" src="/images/new_media_lab/runs-over-time.png"></div>
          </div>
          <div class="w-full text-center" id="command-usage">
            <h5 class="font-normal pb-1">Command usage</h5>
            <div><img class="p-2" src="/images/new_media_lab/command-usage.png"></div>
          </div>
          <div class="w-full text-center" id="last-error">
            <h5 class="font-normal pb-1">Last error</h5>
            <div><img class="p-2" src="/images/new_media_lab/last-error.png"></div>
          </div>
        </div>
      </div>
  </div>

{% endblock %}
