{% extends "layout.html" %}
{% block menu %}
        <div class="py-1 mr-6 mt-1">
          <a href="/landing/start?lang={{lang}}">
            <img src="/images/Home_Icon.svg" style="width: 2em;">
          </a>
        </div>
        {% for item in menu %}
        <a class="no-underline {% if item.selected %}border-b-4{% endif %} border-white tracking-wide font-bold px-4 py-3 mr-4" href="/landing/{{item.id}}?lang={{lang}}">
          {{ item.caption }}
        </a>
        {% endfor %}
{% endblock %}

{% block body %}
  <div class="px-8">
    <div class="markdown">
      {{ mkd|markdown }}
    </div>
  </div>
{% endblock %}
