<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&display=swap">
    <link rel="stylesheet" href="{{static('/css/generated.css')}}">
    <link rel="stylesheet" href="{{static('/css/additional.css')}}">
    <link rel="shortcut icon" type="image/png" href="{{static('/images/Hedy-logo.png')}}"/>
    <style>
      textarea { width: 100%; }
      th { text-align: left; }
      pre { font-family: sans-serif; }
      td { vertical-align: top; }
    </style>
  </head>
  <body class="p-4">
    <h1>Translating '{{source_lang}}' to '{{target_lang}}'</h1>

    Thank you so much for helping to make Hedy better! You can use this website to translate Hedy to your language. <p>
    There are three files to translate:
    <ol>
      <li>level-defaults that controls what each level looks like</li>
      <li>texts which translates That file translate UI-elements like menu headers, and error messages.  </li>
      <li>adventure that control the assignments that kids see in the tabs </li>
    </ol>

    <p>
    If you are curious to understand the role of all files in more depth, see <a href="https://github.com/Felienne/hedy/blob/main/CONTRIBUTING.md">our docs</a>.
    </p>
    Use this website as follows: <br>
    <ol>
      <li>Fill out all your translations in the field on the right.</li>
      <li>For each file with changes, a download button will appear in the green bar</li>
      <li>Download all these files to your computer.</li>
      <li>Send the files to us via <a href="mailto:hedy@felienne.com">email</a> or send us a pull request on <a href=https://github.com/Felienne/hedy/">GitHub</a></li>
    </ol>

      {% for file in files %}
        <form method="POST" action="/update_yaml" data-file="{{file.file}}">
          <input type="hidden" name="file" value="{{file.file}}">
        <h2>{{file.caption}}</h2>
        <table class="w-full">
          <tr>
            <th></th>
            <th>{{source_lang}}</th>
            <th>{{target_lang}}</th>
          </tr>
        {% for string in file.strings %}
          {% if string.is_header %}
            <tr class="bg-purple-200">
              <th></th>
              <th colspan="2" class="py-2 px-4">{{ string.caption }}</th>
            </tr>
          {% else %}
            <tr class="border-b">
              <th style="max-width: 6em; overflow: hidden;">{{string.key}}</th>
              <td><pre style="max-width: 40em;">{{ string.original }}</pre></td>
              <td><textarea data-name="c:{{string.encoded_path}}" rows="2" class="border border-green-600 p-2" style="width: 40em;">{{ string.translated }}</textarea></td>
            </tr>
          {% endif %}
        {% endfor %}
        </table>
        </form>
      {% endfor %}
    <div class="h-16"></div>
    <div id="download-bar" class="inset-x-0 bottom-0 h-16 bg-green-700 fixed flex justify-center items-center text-white">
      <div>
        Download your translated file(s) with these buttons:
      </div>
      {% for file in files %}
        <button class="yellow-btn mx-4" data-file="{{file.file}}">{{file.file}}</button>
      {% endfor %}
    </div>

    <script src="{{static('/vendor/jquery.min.js')}}" type="text/javascript"></script>
    <script src="{{static('/js/translating.js')}}" type="text/javascript"></script>
  </body>
</html>
