{% extends "auth.html" %} {% block body %}
<div class="px-8 py-12 relative">
    <div class="px-8">
        <h1 id="translating-hedy">Translating Hedy</h1>
        <p>
            Hedy is now (partly) available in Arabic, Bengali, Bulgarian, Czech,
            Dutch, English, French, Frisian, German, Greek, Hindi, Hungarian,
            Indonesian, Italian, Mandarin, Portuguese (Brazilian and Portuguese),
            Spanish and Swahili but we&#39;d love to support more languages!
            Text that is not yet translated will be shown in English.
        </p>
        <h2 id="help-hedy-with-translations-easy-no-programming-needed-">
            Help Hedy with translations (easy, no programming needed!)
        </h2>
        <p>
            The easiest way to translate Hedy is by using the translation
            website of Weblate. You can find it
            <a href="https://hosted.weblate.org/projects/hedy">here</a>.
        </p>
        <p>
            The first time you&#39;ll land on this page:
            <img
                src="https://user-images.githubusercontent.com/28646458/156936569-9b8e2213-2789-4920-b746-0da22629dadc.jpg"
                alt="Weblate tour - Projects"
            />
        </p>
        <p>
            You see many projects you can support by translating, one of them is
            Hedy. You may see a lock behind our name, when you see this, Hedy
            is locked for maintenance and translation is not possible. We&#39;ll
            try to prevent this as much as possible, but now you know it&#39;s
            possible. Click on Hedy to start with this project.
        </p>
        <p>
            Now you&#39;ll see the different component within Hedy you can work
            on:
            <img
                src="https://user-images.githubusercontent.com/28646458/156936765-cf5ae1ef-e40d-47c3-8706-041bdd1088c2.jpg"
                alt="Weblate tour - Components"
            />
        </p>
        <p>
            On this page you see the progress of every component, calculated
            over all languages. At the time of this screenshot level-defaults
            was translated for 61% over 19 languages.
        </p>
        <p>
            Click on &quot;Languages&quot; in the menu on top to get to this
            screen:
            <img
                src="https://user-images.githubusercontent.com/28646458/156936976-b740a30b-245b-4bc7-88bc-b70b7adf3afa.jpg"
                alt="Weblate tour - Languages"
            />
        </p>
        <p>
            Here you can see the progress of languages, calculated over all
            components. There are a few reasons why a translation is not
            complete. First of course, because texts are not yet translated. But
            on this screen you can see more reasons. Often, the 100% is nog
            reached because of checks that failed. This tool checks many things,
            like &quot;are question marks copied to the translation&quot;. The
            checks make translations better. You as a translator can dismiss any
            of these checks per text if you&#39;re sure it does not apply.
        </p>
        <p>
            Now click on Dutch to reach the following screen:
            <img
                src="https://user-images.githubusercontent.com/28646458/156937240-dd24c51e-a100-4cd2-b160-c25b5e7a7827.jpg"
                alt="Weblate tour - Dutch"
            />
        </p>
        <p>
            The components are shown again, but now with progress shown
            calculated for only Dutch. If you actually want to translate files
            for us, you have to register with Weblate. If you don&#39;t, you can
            still help. You can translate texts and click on &quot;suggest
            translation&quot;. Registered translators can use your suggestions.
            If you do register however, you can click on &quot;save and
            continue&quot; to actually save the translation within Hedy. Now,
            lets start looking at texts to translate.
        </p>
        <p>
            Click on Adventures to reach this screen:
            <img
                src="https://user-images.githubusercontent.com/28646458/156937285-2418f2b9-5dcb-46ba-85e4-ad8266a8aae4.jpg"
                alt="Weblate tour - Adventures"
            />
        </p>
        <p>
            Now you see an overview of this component. Little too much
            information maybe :) Don&#39;t worry, just start with &quot;Labeled:
            Automatically translated&quot;. These are strings that have the
            English text in place of the translation. This is the way we set up
            texts. This way every text that has not been translated yet, is at
            least visible in English on the website. If you&#39;re a little more
            experienced, you might want to try some of the texts that have
            specific checks failing. At the right, you can choose between
            Translate or Zen.
        </p>
        <p>
            If you choose for Translate, you&#39;ll see this:
            <img
                src="https://user-images.githubusercontent.com/28646458/156937676-0dfd72cd-8ccb-49d0-9ad7-bf10b3a7d906.jpg"
                alt="Weblate tour - Translate"
            />
        </p>
        <p>
            Again, maybe a little too much information, but a lot is very
            helpful. If your registered, you&#39;ll see a little more than
            others, this screen is from a registered user. Browse a little
            through this info. There is info about texts in the neighborhood, or
            suggestions of computer translations. If you think this is too much
            info for now, you can choose for the Zen option which looks like
            this:
            <img
                src="https://user-images.githubusercontent.com/28646458/156937825-c5b97c10-3928-40b9-93d1-68a80371d51f.jpg"
                alt="Weblate tour - Zen"
            />
        </p>
        <p>
            That&#39;s all for now, any problems, let us know so we can address
            them here for future translators. You can reach us at
            <a href="mailto:hedy@felienne.com">hedy@felienne.com</a>.
        </p>
    </div>
</div>
{% endblock %}
