{% extends "layout.html" %}
{% block body %}
<div style="height: 30px;"></div>
<div tabindex="0" class="flex-grow p-8">
  <h1>{{loaded_program.name}}</h1>
  <div>{{by}} <strong>{{loaded_program.username}}</strong></div>
  {% include "incl-editor-and-output.html" %}
</div>

{% endblock %}

{% block scripts %}
  <script src="{{static('/vendor/jquery.min.js')}}" type="text/javascript"></script>
  <script src="{{static('/vendor/ace.js')}}" type="text/javascript" charset="utf-8"></script>
  <script src="{{static('/vendor/skulpt.min.js')}}" type="text/javascript"></script>
  <script src="{{static('/vendor/skulpt-stdlib.js')}}" type="text/javascript"></script>
  <script src="/error_messages.js?lang={{ lang }}" type="text/javascript"></script>
  <script src="{{static('/js/syntaxModesRules.js')}}" type="text/javascript"></script>
  <script src="{{static('/js/app.js')}}" type="text/javascript"></script>
  <script src="{{static('/js/auth.js')}}" type="text/javascript"></script>
  <script src="{{static('/js/tabs.js')}}" type="text/javascript"></script>
{% endblock %}

