{% extends "layout.html" %}
{% block full_width_content %}
<div style="height: 30px;"></div>
<div tabindex="0" class="flex-grow px-8 common-page-container">
  {% if initial_adventure.submitted %}
      <div class="text-center">
        <h2>{{_('submitted_header')}}</h2>
        <h3 class="inline-block mt-0">{{_('submission_time')}}: {{program_timestamp}}</h3>
      </div>
      {% if is_teacher %}
      <div class="text-center">
        <button class="green-btn" data-cy="unsubmit-btn" onclick="hedyApp.modal.confirm ('{{_('unsubmit_warning')}}', function () {hedyApp.unsubmit_program ('{{initial_adventure.id}}', {{ loop_index }})})">{{_('unsubmit_program')}}</button>
      </div>
      {% endif %}
  {% endif %}
  <h1>{{initial_adventure.name}}</h1>
  <h2 class="mt-0">{{_('level_title')}} {{level}}</h2>
  <div>{{_('by')}}
      <a {% if initial_adventure.public_profile %}onclick="window.open('/user/{{initial_adventure.username}}', '_self')"{% endif %} class="{% if initial_adventure.public_profile %}cursor-pointer{% else %}text-black{% endif %} no-underline">{{ initial_adventure.username }}</a>
  </div>
  {% include "incl/editor-and-output.html" %}
</div>
{% endblock %}
