<div class="flex flex-row w-full" id="adventure-dragger">
    <div id="sortadventures" data-cy="sortadventures" class="flex flex-row w-10/12">   
        <div id="level-{{ level }}" data-cy="level-{{ level }}" class="adventures-tab flex sortable" 
            style="transform: translate3d(0, 0, 0)"
            hx-trigger="end"
            hx-post="/for-teachers/sort-adventures?level={{ level }}"
            hx-target="#adventure-dragger" 
            hx-include="[name='adventure']"
            hx-indicator="#indicator">
                {% for adventure in adventures[level|int] %}
                    <div class="tab {% if adventure.is_teacher_adventure %}teacher_tab{% elif adventure.is_command_adventure %}command_tab{% endif %} z-10 whitespace-nowrap flex items-center justify-left relative" data-cy="{{ adventure.short_name }}">
                        <span class="absolute top-0.5 right-0.5 text-gray-600 hover:text-red-400 fa-regular fa-circle-xmark" data-cy="hide"
                            hx-post="/for-teachers/remove-adventure?adventure_id={{ adventure.short_name }}&level={{ level }}" 
                            hx-target="#adventure-dragger"
                            hx-indicator="#indicator"></span>
                            {{ adventure.long_name }}
                        {# Hidden input so we can send the adventures names in the request to the server #}
                        <input type="hidden" value="{{ adventure.short_name }}" name="adventure">
                    </div>                    
                {% endfor %}
        </div>
    </div>
    <select class="py-2 px-1 w-full mt-2 h-10 text-center ml-2 w-2/12 min-w-[200px]" name="adventure_id" id="available"
            data-cy="available_adventures_current_level"
            hx-post="/for-teachers/add-adventure/level/{{ level }}"                
            hx-target="#adventure-dragger"
            hx-trigger="change"
            hx-indicator="#indicator">
        <option value="none" selected disabled>{{_('adventures')}}</option>
        {% for adventure in available_adventures[level|int] %}
            <option value="{{ adventure.short_name }}"> 
                {{ adventure.long_name }} 
            </option>
        {% endfor %}
    </select> 
    <button data-cy="reset_adventures" title="{{_('reset_adventures')}}" class="yellow-btn text-white mr-4 ml-6 place-self-center" hx-get="/for-teachers/restore-adventures-modal/level/{{ level }}" hx-target="#modal-target">
        {{_('reset_button')}}
    </button>
</div> 