<div class="flex flex-row w-full" id="test-adventures">
    <div id="sortadventures" data-cy="sortadventures" class="flex flex-row w-9/12">   
        {% if customizations and customizations['sorted_adventures'] %}                
            <div id="level-{{ level }}" data-cy="level-{{ level }}" class="adventures-tab flex sortable">
                {% for adventure in customizations['sorted_adventures'][level|string] %}
                    {% if adventure.name in adventure_names %}
                        {# Note: this code is copy/pasted in teachers.ts. If you change it here, also change it there #}
                        <div draggable="true" class="tab {% if adventure['from_teacher'] %}teacher_tab{% endif %} z-10 whitespace-nowrap flex items-center justify-left relative" tabindex="0" adventure="{{ adventure['name'] }}" level="{{ level }}" from-teacher = "{% if adventure['from_teacher'] %}true{% else %}false{% endif %}">
                            <span class="absolute top-0.5 right-0.5 text-gray-600 hover:text-red-400 fa-regular fa-circle-xmark" data-cy="hide"></span>
                            {{ adventure_names[adventure['name']] }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>                
        {% else %}                
            <div id="level-{{ level }}" data-cy="level-{{ level }}" class="adventures-tab flex">
                {% for adventure in adventures_default_order[level] %}
                    <div draggable="true" class="tab z-10 whitespace-nowrap flex items-center justify-left relative" tabindex="0" adventure="{{ adventure }}" level = "{{ level }}" from-teacher = "false">
                        <span id="remove" class="absolute top-0.5 right-0.5 text-gray-600 hover:text-red-400 fa-regular fa-circle-xmark" data-cy="hide"></span>
                        {{ adventure_names[adventure] }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="flex flex-row justify-center items-center ml-2 w-2/12 mr-4">
        <select class="py-2 px-1 w-full mt-2 h-10 text-center" name="levels" id="available"
            data-cy="available_adventures_current_level">
            <option value="none" selected disabled>Adventures</option>
            {% for adventure in available_adventures[level|int] %}
                <option hx-post="/for-teachers/add-adventure?adventure_id={{adventure['name']}}&level={{level}}" hx-target="#test-adventures"> {{adventure_names[adventure['name']]}} </option>
            {% endfor %}
        </select>
        <button class="green-btn w-1/2 mt-2 ml-2"><i class="fa-solid fa-plus"></i></button>
    </div>
</div>