@tailwind base;

html {
  @apply font-light;
  /* https://stackoverflow.com/questions/1417934/how-to-prevent-scrollbar-from-repositioning-web-page */
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

.font-slab {
  font-family: 'Zilla Slab', serif;
}

h1 {
  @apply font-extralight text-4xl;
}

h2 {
  @apply font-bold text-2xl;
}

h3 {
  @apply font-bold text-xl;
}

h4 {
  @apply font-bold text-base;
}

/* TB: Why do we have this? It makes it (a lot) harder to style these element within the templates... */
* + p, * + ul, * + ol, * + pre {
  @apply mt-4;
}

a {
  @apply font-semibold text-blue-400;
  text-decoration: underline;
}

strong {
  @apply font-bold;
}

.btn-shape {
  @apply font-bold py-2 px-4 border-b-4 rounded;
  display: inline-block;
}

.green-btn {
  @apply btn-shape;
  @apply bg-green-500 text-white border-green-700;
}

.green-btn:disabled, .green-btn[disabled] {
  @apply bg-gray-500 border-gray-700;
}


.tooltip {
  position: relative;
  display: inline-block;
 
}

.tooltip .tooltiptext{
    @apply invisible absolute;
    @apply bg-white text-red-600 items-center;
    width: 130;
    bottom: 150%;
    left: 50%;
    margin-left: -80px;
 
 
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  @apply absolute;
  content: " ";
  top: 100%;
  /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}



.green-btn:hover:enabled {
  @apply bg-green-400 border-green-500;
}

.red-btn {
  @apply btn-shape;
  @apply bg-red-500 text-white border-red-700;
}

.red-btn:hover {
  @apply bg-red-400 border-red-500;
}

.yellow-btn {
  @apply btn-shape;
  @apply bg-yellow-500 text-black border-yellow-700;
}

.yellow-btn:hover {
  @apply bg-yellow-400 border-yellow-500;
}

.blue-btn {
  @apply btn-shape;
  @apply bg-blue-500 text-white border-blue-700;
}

.blue-btn:hover {
  @apply bg-blue-400 border-blue-500;
}

/* Styles only for use in MarkDown blocks */
.markdown {
  @apply text-xl text-gray-800 leading-normal;
}

.markdown li + li, .markdown li > p + p {
  @apply my-2;
}
.markdown strong {
  @apply font-bold;
}
.markdown * + h1 {
  @apply leading-tight mb-2 mt-10;
}

h2 {
  @apply font-slab font-medium text-blue-500;
  @apply leading-tight text-2xl mb-2 mt-10;
}

h2:first-child { margin-top: 0; }

h3 {
  @apply font-slab font-bold text-blue-700 italic;
  @apply leading-tight text-xl mt-4 mb-1;
}

h4 {
  @apply mt-4 mb-2;
}

pre, code {
}

.markdown code {
  @apply py-1 px-1 text-base;
}

pre code {
  @apply block bg-gray-200 py-2 px-4 my-2 rounded text-base border-gray-300 border;
  @apply text-red-600;
}

pre {
  white-space: pre-wrap;
}

/* Code in a fenced code block (``` in MarkDown) */
pre code {
  font-size: 100%;
  color: white;
}

/* All code (` and ```) */
code {
  @apply font-mono inline rounded py-1 px-2 font-normal;
  background: #272822 !important;
  color: #ff6188;
  font-size: 90%;
}

.markdown blockquote {
  @apply border-l-4 border-gray-300 ltr:pl-4 rtl:pr-4 italic;
}

@tailwind components;

@tailwind utilities;

.btn {
  @apply btn-shape;
  @apply bg-blue-500 text-white border-blue-700 no-underline;
}

.btn:hover {
  @apply bg-blue-400 border-blue-500;
}

.menubar-item {
  @apply items-center h-full cursor-pointer block border-b-4 border-blue-500 tracking-wide;
}

.menubar-item:hover {
  @apply bg-blue-600 border-blue-600;
}

.menubar-item.active {
  @apply border-white !important;
}

.menubar-text {
  @apply flex items-center h-full text-white text-base lg:text-xl no-underline font-slab font-semibold px-2 lg:px-4;
}

#output, #quiz_question_output_container {
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

.dropdown-menu {
  @apply absolute overflow-hidden block rounded-lg border border-black bg-blue-400 ltr:right-0 rtl:left-0 ltr:mr-1 rtl:ml-1 w-max;
}

.dropdown-level-menu {
  @apply absolute overflow-hidden block rounded-lg border border-black bg-green-400 ltr:right-0 rtl:left-0 ltr:mr-1 rtl:ml-1 w-max;
}

.dropdown-item {
  @apply text-white no-underline hover:bg-blue-600 py-2 px-4 w-full inline-block;
}

.text-shadow {
  text-shadow: 0 2px 4px rgba(0,0,0,0.10);
}

.text-shadow-md {
  text-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.08);
}

.text-shadow-lg {
  text-shadow: 0 15px 30px rgba(0,0,0,0.11), 0 5px 15px rgba(0,0,0,0.08);
}

.text-shadow-none {
  text-shadow: none;
}

/* Lists */

ul {
    list-style: disc outside none;
}

ol {
    list-style: decimal outside none;
}

/* AUTH */
input:disabled {
  @apply border-gray-500 bg-gray-400;
}

input[type=checkbox], input[type=radio] {
  @apply appearance-none border border-gray-400 w-4 h-4;
}

input[type=radio] {
  @apply rounded-full;
}

#signup input:required, #signup select:required, #profile input:required, #change_password input:required {
  @apply border border-red-400;
}

/* Make this !important to it over-writes the red required border when valid */
input:required:valid, select:required:valid {
  @apply border-green-400 !important;
}

input[type=checkbox]:checked, input[type=radio]:checked {
  @apply bg-green-400 border-green-600;
}

input, select {
  @apply border border-gray-400;
}

table.users thead {
  font-weight: bold;
}

table.users td {
  padding: 10px;
  border: solid 1px gray;
}

/* Keep the class name the same to prevent complex restructuring -> the RTL version is actually left-hand-shadow */
/* https://stackoverflow.com/questions/17572619/how-to-create-a-inset-box-shadow-only-on-one-side */
body[dir='ltr'] .right-hand-shadow {
  box-shadow: inset -7px 0 9px -7px rgba(0,0,0,0.4);
}

body[dir='rtl'] .right-hand-shadow {
  box-shadow: inset 7px 0 9px -7px rgba(0,0,0,0.4);
}

.tab {
  @apply py-2 px-1 mt-2 bg-gray-100 rounded-t-lg border-t-8 border-gray-300 text-sm cursor-pointer;
  box-shadow:
    /* bottom */ inset 0px -4px 4px -1px rgba(0,0,0,0.1);
}

.teacher_tab {
  @apply border-green-300;
}

.special_tab {
  @apply border-blue-300;
}

/* TB: We shouldn't ever do this, all this dynamic handling can already be fixed with Tailwind! */
@screen lg {
  .tab {
    @apply px-2;
  }
}
@screen xl {
  .tab {
    @apply px-4;
  }
}

.tab + .tab {
  box-shadow:
    /* bottom */ inset 0px -4px 4px -1px rgba(0,0,0,0.1),
    /* left */ inset 4px 0px 4px -1px rgba(0,0,0,0.1);
}

.tab-selected {
  @apply mt-0 pt-2 bg-white text-black font-normal rounded-t-lg border-t-8 border-r border-l border-pink-500;
  box-shadow: none !important;
}

/* EDITOR WARNINGS & ERRORS */

div#errorbox, div#warningbox {
   position: relative;
}

p.close-dialog {
   @apply ltr:right-[5px] rtl:left-[5px];
   font-weight: bold;
   position: absolute;
   top: 5px;
   cursor: pointer;
}

.editor-error {
  @apply bg-blue-500/70 border-red-500 border-b-2 border-t-2 absolute;
  z-index: 10; /* Show higher than the active line (which has z-index 2) */
}

/**
 * Will be used to strikethrough a line without actual text, so we need to fake it
 * with a horizontal line that's a bit offset from the top.
 */
.disabled-line {
  @apply absolute;
  border-top: solid 1px white;
  margin-top: 0.6em;
  border-radius: 0px !important;
}

/**
 * Will be used to indicate current line in debugger
 */
.debugger-current-line {
    @apply absolute;
    background: #2D6099;
    z-index: 20
}

/* DOCS */

.expandable-docs-text h1 {
   margin-top: 30px;
   margin-bottom: 30px;
}

/* QUIZ */

#quiz-iframe {
  height: 72rem;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}


/* Stats */
.stats-period-toggle.active {
  color: black;
  text-decoration: none;
  cursor: default;
  font-weight: normal;
}

.stats-legend {
  list-style-type: none;
}

.stats-legend-item {
  display: inline;
  padding-right: 15px;
  cursor: default;
}

.stats-legend-color-box {
  width: 45px;
  height: 12px;
  display:inline-block;
  margin-right: 5px;
}

/* Tab content - closed */
.accordion .accordion-tab input ~ .tab-content {
  max-height: 0;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
}

/* Accordion icon */
.accordion .accordion-tab label::before {
  @apply ltr:float-right rtl:float-left ltr:right-0 rtl:left-0;
  top: 0;
  display: block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: bolder;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}

/* Tab content - open */
.accordion .accordion-tab input:checked ~ .tab-content {
  max-height: 3000vh;
}

/* Accordion icon formatting - closed */
.accordion .accordion-tab input[type=checkbox] + label::before {
  @apply ltr:right-[5px] rtl:left-[5px];
  content: ">";
  transform: rotate(90deg);
}

/* Accordion icon formatting - open */
.accordion .accordion-tab input[type=checkbox]:checked + label::before {
  transform: rotate(270deg);
}

/* Programs */
.explore-program-box {
  @apply w-64 h-72 rounded-lg border border-gray-700 relative bg-blue-200;
}

.explore-program-box-title {
  @apply text-white text-center ltr:-ml-2 rtl:-mr-2 -mt-8 pt-10 ltr:pl-12 rtl:pr-12 ltr:rotate-6 rtl:-rotate-6 w-72;
}

/* Profile page */

.section-header {
  @apply bg-blue-200 px-8 py-2 rounded-lg text-3xl cursor-pointer;
}

.profile-section-body-header {
  @apply mb-4 pb-2 border-b inline-block w-full;
}

.profile-section-body {
  @apply bg-white shadow-md rounded px-8 py-4 mx-auto w-full lg:w-3/4 hidden;
}

.personal-input {
  @apply block appearance-none w-3/4 lg:w-1/2 text-gray-700 px-4 py-1 rounded-lg;
}

/* Signup page */
.signup-container {
  @apply mx-auto flex px-8 flex-row items-center;
}

.signup-label {
  @apply inline-block w-48;
}


.signup-input {
  @apply inline-block w-64 md:w-80 lg:w-96 px-2 py-1 rounded-lg border-gray-400;
}

/* Developers mode toggle */
.toggle-circle {
  @apply ltr:left-0 rtl:right-0;
  transition: all 0.5s ease-in-out;
}

body[dir='rtl'] input:checked ~ .toggle-circle {
  transform: translateX(-200%);
}

body[dir='ltr'] input:checked ~ .toggle-circle {
  transform: translateX(200%);
}

body[dir='rtl'] input:checked ~ .toggle-circle {
  transform: translateX(-100%);
  @apply bg-green-400;
}

body[dir='ltr'] input:checked ~ .toggle-circle {
  transform: translateX(100%);
  @apply bg-green-400;
}

input:checked ~ .toggle-path {
  @apply bg-gray-600;
}

/* Quiz styling */
.option-block {
  @apply w-full relative block align-top;
}

/* Not really nice, but we have to use the !important attribute to overwrite the current style */
.incorrect-option {
    background-color: rgba(234, 55, 55, 0.6) !important;
    border: 5px #c21919 dashed!important;
}

/* Also not really nice, but with the relic quiz code still an improvement */
.quiz-icons {
  @apply h-14 w-14 relative;
  top: -30px;
  left: -10px;
}

/* Todo: There will be a moment where we want to re-write this to Tailwind as well */
.submit-button {
  display: none;
  min-width: 80px;
  min-height: 40px;
  color: rgb(236, 236, 236);
  background-color:#4299e1;
  border-color: #1267a6;
  position: absolute;
  right: 10px;
  bottom: -20px;
  padding: 4px 10px;
  border-radius: 0.25rem;
  border-bottom-width: 4px;
}

.step {
  @apply flex py-2 gap-1 w-full rounded-lg items-center justify-center;
}

.current {
  @apply text-white bg-blue-600 !important;
}

.animate-keys {
  @apply absolute bottom-1 right-2;

  /* Would be nice to animate this with Tailwind as well, but should be fine for now */
  animation-name: animate-keys;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}

/* We could also add this keyframe to tailwind.config.js, but as it is the only one: leave here for now */
@keyframes animate-keys {
  0%   {bottom:15px; font-size: 1em; opacity: 1}
  100% {bottom:100%; font-size: 4em; opacity: 0}
}
