@tailwind base;

html {
  @apply font-light;
}

.font-slab {
  font-family: 'Zilla Slab', serif;
}

h1 {
  @apply font-extralight text-4xl;
}

h2 {
  @apply font-bold text-2xl;
}

h3 {
  @apply font-bold text-xl;
}

h4 {
  @apply font-bold text-base;
}




* + p, * + ul, * + ol, * + pre {
  @apply mt-4;
}

a {
  @apply font-semibold text-blue-400;
  text-decoration: underline;
}

strong {
  @apply font-bold;
}

.btn-shape {
  @apply font-bold py-2 px-4 border-b-4 rounded;
  display: inline-block;
}

.green-btn {
  @apply btn-shape;
  @apply bg-green-500 text-white border-green-700;
}

.green-btn:hover {
  @apply bg-green-400 border-green-500;
}

.red-btn {
  @apply btn-shape;
  @apply bg-red-500 text-white border-red-700;
}

.red-btn:hover {
  @apply bg-red-400 border-red-500;
}

.yellow-btn {
  @apply btn-shape;
  @apply bg-yellow-500 text-black border-yellow-700;
}

.yellow-btn:hover {
  @apply bg-yellow-400 border-yellow-500;
}

.blue-btn {
  @apply btn-shape;
  @apply bg-blue-500 text-white border-blue-700;
}

.blue-btn:hover {
  @apply bg-blue-400 border-blue-500;
}

/* Styles only for use in MarkDown blocks */
.markdown {
  @apply text-xl text-gray-800 leading-normal;
}

.markdown li + li, .markdown li > p + p {
  @apply my-2;
}
.markdown strong {
  @apply font-bold;
}
.markdown * + h1 {
  @apply leading-tight mb-2 mt-10;
}

h2 {
  @apply font-slab font-medium text-blue-500;
  @apply leading-tight text-2xl mb-2 mt-10;
}

h2:first-child { margin-top: 0; }

h3 {
  @apply font-slab font-bold text-blue-700 italic;
  @apply leading-tight text-xl mt-4 mb-1;
}

h4 {
  @apply mt-4 mb-2;
}

pre, code {
}

.markdown code {
  @apply py-1 px-1 text-base;
}

pre code {
  @apply block bg-gray-200 py-2 px-4 my-2 rounded text-base border-gray-300 border;
  @apply text-red-600;
}

pre {
  white-space: pre-wrap;
}

/* Code in a fenced code block (``` in MarkDown) */
pre code {
  font-size: 100%;
  color: white;
}

/* All code (` and ```) */
code {
  @apply font-mono inline rounded py-1 px-2 font-normal;
  background: #272822 !important;
  color: #ff6188;
  font-size: 90%;
}

.markdown blockquote {
  @apply border-l-4 border-gray-300 pl-4 italic;
}

@tailwind components;

@tailwind utilities;

.btn {
  @apply btn-shape;
  @apply bg-blue-500 text-white border-blue-700 no-underline;
}

.btn:hover {
  @apply bg-blue-400 border-blue-500;
}

.menubar-btn {
  @apply text-white no-underline font-slab font-semibold border-b-4 tracking-wide text-xl py-3 mr-4;
}

@screen lg {
  .menubar-btn {
    @apply px-2;
  }
}
@screen xl {
  .menubar-btn {
    @apply px-4;
  }
}

.codebar-btn {
  @apply text-black no-underline border-white tracking-wide font-normal px-4 py-3 mr-4;
}

#output {
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.text-shadow {
  text-shadow: 0 2px 4px rgba(0,0,0,0.10);
}

.text-shadow-md {
  text-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.08);
}

.text-shadow-lg {
  text-shadow: 0 15px 30px rgba(0,0,0,0.11), 0 5px 15px rgba(0,0,0,0.08);
}

.text-shadow-none {
  text-shadow: none;
}

/* Lists */

ul {
    list-style: disc outside none;
    margin-left: 2em;
}

ol {
    list-style: decimal outside none;
    margin-left: 2em;
}

/* AUTH */

form.auth {
  border: solid 1px #eeeeee;
  padding-bottom: 10px;
}

form.auth label {
  width: 140px;
  display: inline-block;
}

form.auth input {
  padding: 5px;
  border: solid 2px grey;
}

form.auth .pointer {
  cursor: pointer;
}

form.auth select {
  padding: 5px;
  width: 180px;
}

table.users thead {
  font-weight: bold;
}

table.users td {
  padding: 10px;
  border: solid 1px gray;
}

.right-hand-shadow {
  box-shadow: inset -7px 0 9px -7px rgba(0,0,0,0.4);
}

.tab {
  @apply py-1 px-1 mt-2 bg-gray-100 rounded-t-lg border-t-8 border-gray-300 text-sm;
  box-shadow:
    /* bottom */ inset 0px -4px 4px -1px rgba(0,0,0,0.1);
}

@screen lg {
  .tab {
    @apply px-2;
  }
}
@screen xl {
  .tab {
    @apply px-4;
  }
}

.tab + .tab {
  box-shadow:
    /* bottom */ inset 0px -4px 4px -1px rgba(0,0,0,0.1),
    /* left */ inset 4px 0px 4px -1px rgba(0,0,0,0.1);
}

.tab-selected {
  @apply mt-0 pt-2 bg-white rounded-t-lg border-t-8 border-r border-l border-pink-500 text-sm;
  box-shadow: none !important;
}

/* EDITOR WARNINGS & ERRORS */

div#errorbox, div#warningbox {
   position: relative;
}

p.close-dialog {
   font-weight: bold;
   position: absolute;
   top: 5px;
   right: 5px;
   cursor: pointer;
}

.editor-error {
  @apply bg-red-600;
  position: absolute;
}

/* DOCS */

.expandable-docs-text h1 {
   margin-top: 30px;
   margin-bottom: 30px;
}

.touched {
  @apply bg-green-200;
}

/* QUIZ */

#quiz-iframe {
  height: 72rem;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}


/* Stats */
.stats-period-toggle.active {
  color: black;
  text-decoration: none;
  cursor: default;
  font-weight: normal;
}

/* Programs */

.explore-program-box {
  @apply w-64 h-56 rounded-lg border border-gray-700 m-4 relative bg-blue-200 cursor-pointer;
}
=======
/* Tab content - closed */
.accordion .tab-content {
  max-height: 0;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
}

/* Icon */
.accordion .accordion-tab label::before {
  float: right;
  right: 0;
  top: 0;
  display: block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: bolder;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}

/* :checked - resize to full height */
.accordion .accordion-tab input:checked ~ .tab-content {
  max-height: 3000vh;
}

/* Icon formatting - closed */
.accordion .accordion-tab input[type=checkbox] + label::before {
  content: ">";
  transform: rotate(90deg);
  margin-right: 5px;
}

/* Icon formatting - open */
.accordion .accordion-tab input[type=checkbox]:checked + label::before {
  transform: rotate(270deg);
}
