{% extends "auth.html" %}

{% block regular_content %}
<h1 class="text-center mb-10">Super teacher overview</h1>
<div class="flex flex-wrap gap-20 items-center justify-center">
    <button class="green-btn p-4"  id="users_button" onclick="window.open('/feedback', '_self')">Feedback overview</button>
    <button class="green-btn p-4"  onclick="window.open('/super-teacher/support', '_self')">Teacher support overview</button>
    <button class="green-btn p-4"  onclick="window.open('/public-adventures', '_self')">Public adventures overview</button>
</div>
{% endblock %}