@font-face {
  font-family: 'Balsamiq Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("./BalsamiqSans-Italic.ttf");
}

@font-face {
  font-family: 'Balsamiq Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("./BalsamiqSans-BoldItalic.ttf");
}

@font-face {
  font-family: 'Balsamiq Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./BalsamiqSans-Regular.ttf");
}

@font-face {
  font-family: 'Balsamiq Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./BalsamiqSans-Bold.ttf");
}
